/*
	- CSS iApuestas 2017 -

 	Autor:
 		Héctor Villar Mozo

	Última modificación:
		13-12-2016

	Descripción:
		Refactor de todo el CSS de iApuestas.
		Hay code legacy, errores de especificidad, hacks, wacks...
		No se tienen en cuenta las tablas (tablas.css)

	Arquitectura CSS:
		Atom Design -> http://atomicdesign.bradfrost.com/

	Stack de trabajo:
		1.- Preprocesador SASS
		2.- Compilador SASS LibSasss
		3.- Taskrunner Gulp (con dependencias de extras como linters.)
		4.- Libreria SASS de grid Susy
		5.- Manejadores de dependencias (npm -node.js- y bower.js)

*/

@import "../bower_components/susy/sass/susy";
@import "../bower_components/compass-sass-mixins/lib/compass";

$color-main: #004600;
$color-desactived: #A4A4A4;
$color-amarillo: #ffb72b;
$color-verde: #006600;
$color-verde-oscuro: #003300;
$color-verde-claro: #036803;
$color-verde-lima: #9bdf16;
$color-rojo: #FD0007;
$color-rojo-oscuro: #CC0000;
$color-azul: #0003FE;
$color-texto: #3F3F3F;
$color-gris: #ECEAF1;
$fondo-gris-claro: #F2F2F2;
$coef-radius: 10px;
$height-tab: 43px;

// Wack (hacks y sobre todo CSS antiguo sin catalogar aún):
@import "wack/wack";
@import "wack/slider-jquery";

// Utils:
@import "utils/utils";

// Atoms:
@import "atoms/general";
@import "atoms/other";
@import "atoms/enlaces";
@import "atoms/titulos";
@import "atoms/tipos";
@import "atoms/clear";
@import "atoms/botones";
@import "atoms/redes";
@import "atoms/time";
@import "atoms/lema";
@import "atoms/logo";
@import "atoms/star";
@import "atoms/sprite-countries";
@import "atoms/sprite-sports";
@import "atoms/listas";
@import "atoms/flotados";
@import "atoms/switch";

@import "organisms/slider";
// Molecules:
@import "molecules/banners";
@import "molecules/footer";
@import "molecules/marquesina";
@import "molecules/migas";
@import "molecules/paginacion";
@import "molecules/subpestanas";
@import "molecules/paises";
@import "molecules/slogan";
@import "molecules/datos-usuarios";
@import "molecules/selects";
@import "molecules/buscador";
@import "molecules/cabeceras";

// Organisms:
@import "organisms/header/header";
@import "organisms/menu-principal";
@import "organisms/menu-cabecera";
@import "organisms/sidebar/sidebar";
@import "organisms/menu-seccion";
@import "organisms/menu-deportes-cuotas";
@import "organisms/menu-cuotas/menu-cuotas";
@import "organisms/barra-logged";
@import "organisms/previa-en-liga";
@import "organisms/proximos-partidos";
@import "organisms/comments/comments";
@import "organisms/bonos-especiales";
@import "organisms/usuario/usuario";
@import "organisms/usuario/login";
@import "organisms/cabecera-cuotas/cabecera-cuotas";
@import "organisms/rating";
@import "organisms/pronosticos/pronosticos";
@import "organisms/pronosticos/tablas_pronosticos";
@import "organisms/ligas-por-pais";
@import "organisms/menu-pronosticos";
@import "organisms/apuestip";
@import "organisms/user-cards";

// Templates:
@import "templates/general";
@import "templates/layout";

// Pages:
@import "pages/poker";
@import "pages/frikiapuestas";
@import "pages/blog";
@import "pages/picks_tips/picks_tips";
@import "pages/bonos";
@import "pages/minileagues";
@import "pages/quinielas";
@import "pages/home/home";
@import "pages/guia-apuestas";
@import "pages/porra-twitter";
@import "pages/pronosticos";
@import "pages/cuotas-liga";
@import "pages/normas";
// @import "pages/pronosticos/pronosticos";

// Tablas (habria que intentar integrarlo dentro de este flujo de trabajo, porque
// tal como esta ahora hace llamada independiente al servidor) :
@import "../../../css/tablas/stylesheets/tablas.css";
