/***Styles JQuery default***/

.IndexLeftB,
.IndexB {
    width: 250px;
    font-size: 12px;
    float: left;
}

.IndexLeftB img {
    width: 250px;
    height: 115px;
    border-radius: 4px;
    margin-left: 2px;
}

.IndexB img {
    width: 250px;
    height: 115px;
    border-radius: 4px 4px 4px 4px;
    border-radius: 4px;
    margin-left: 2px;
    margin-left: -8px;
}

.anythingSlider {
    margin: 20px;
}

.anythingSlider h2 {
    clear: both;
    margin: 0 -20px;
    font-size: 22px;
    font-weight: normal !important;
    letter-spacing: -1px;
    padding: 0 0 15px !important;
}

.anythingSlider .arrow {
    margin: 0 10px;
    display: block;
    height: 20px;
    width: 23px;
    text-indent: 30000px;
    position: absolute;
    top: 94px;
    cursor: pointer;
    background-repeat: no-repeat;
    z-index: 99999;
}

.slideShow_destaca {
    padding: 0 5px;
    width: 650px;
}

.slides {
    position: relative;
    z-index: 1;
    display: none;
}

.controls {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 173px;
    padding: 2px 4px 0 4px;
}

#slide1 {
    display: block;
}