/*** ESTRUCTURA MAINCONTENT***/

#content {
    margin: 5px auto;
    width: 998px;
}

#content_left {
    position: relative;
    width: 185px;
    z-index: 11;
    background-color: white;
}

#content_center {
    border-left: 1px solid #DCDCDE;
    width: 800px;
    min-height: 1800px;
}

.pronostico-sp {
    font-size: 12px;
    line-height: 19px;
    margin: 8px 8px 0;
    padding: 0;

    ul {
    	list-style: none outside none;
    }

    p {
    	margin: 5px 0;
    }
}

/* Microformatos */
.fsmal {
    clear: both;
    display: block;
    float: right !important;
    font-size: 10px;
    margin: -11px 0 10px;
}

.input_gral {
    background-color: #f6f5fa;
    padding: 5px 1px;
    width: 150px;
    font-family: helvetica;
    font-size: 12px;
    margin-top:5px;
}

.content_buscador {
    margin: 5px 0;
    padding: 2px 0;
    width: 175px;

    label {
    	font-size: 12px;
    }
}

.box_casas {
    width: 160px;
    clear: both;
}

.promos {
    color: #000;
    padding-top: 4px;
    padding-right: 10px;
}

.box_buscador {
    width: 160px;
    clear: both;
}

// Cajas:

.div50l {
    float: left;
    width: 49%;
    margin: 0 0 15px;
}

.div50r {
    text-align: right;
    float: right;
    width: 49%;
    margin: 0 0 15px;
}

.div50l table,
.div50r table {
    border: 1px solid #DCDCDE;
    padding: 0;
}

// Script:
.evento_patrocinador {
    width: 250px;
    float: left;
    margin-left: 12px;

    img {
	    width: 250px;
	    height: 115px;
	    border-radius: 4px;
    }
}

.evento_logo {
    background-color: #FFFFFF;
    float: right;
    left: 0px;
    list-style-type: none;
    margin: 0 0 0 3px;
    padding: 0;
    position: absolute;
    top: 0px;
    width: 120px;
    z-index: 99;
    border-radius: 5px;
}

.index_destaca2 .evento_logo {
    top: -35px !important;
    right: -5px;
}

.index_destaca1 {
    float: right;
    font-size: 12px;
    margin-right: 10px;
    margin-top: -2px;
    position: relative;
    width: 390px;

    p {
	    padding: 2px;
	    width: 240px;
	    float: left;
	    clear: none;
	    margin-left: 10px;
    }

    h2 {
    	margin-left: 10px !important;
    	font-size: 16px;
	    margin-bottom: 0px;
	    text-align: left;
	    padding: 0 10px 0px 10px;
    }

    span {
	    display: block;
	    float: left;
	    width: 190px;
    }
}

.index_destaca2 {
    font-size: 12px;
    left: 260px;
    position: absolute;
    top: 70px;
    width: 382px;
}

.idestaca {
    font-size: 12px;
    left: 264px;
    position: absolute;
    top: 0;
    width: 486px;
}

.index_destaca2 h3,
.tdes {
    font-size: 20px;
    margin-bottom: 0;
    padding: 3px 10px;
    text-align: left;
}

// Script:
.pronos_destacados {
    width: 370px;
    clear: both;
    margin-left: 10px;
    padding: 5px 0;

    table {
	    background-color: #F1F7E4;
	    border: 1px solid #2F5E2F;
	    clear: both;
	    color: #333333;
	    font-size: 12px;
	    width: 180px;

	    td {
		    padding: 0 5px;
		    text-align: center;
		    width: 50px;

		    &.valor {
			    background-color: #006600;
			    color: #FFFFFF;
			    padding: 0 5px;
			    text-align: center;
			    width: 30px;
		    }
	    }

	    a {
	    	background-color: #F1F7E4;
		    color: #428942;
		    font-weight: bold;
	    }
    }
}

.promo-desc {
    font-size: 12px;
    left: 0;
    line-height: 18px;
    margin-left: 0;
    margin-top: 0;
    padding: 5px 8px;
    top: -22px;
    width: 286px;
    background-image: none;

    a {
    	color: #006600;
	    background-color: #fff;
	    padding: 2px;
    }
}

#featured {

	.promo-desc {
	    background: url("/images/transparent-bg.png") repeat scroll 0 0 transparent;
	    color: #fff;
	}

	.ui-tabs-panel img {
	    height: 270px;
	    width: 800px;
	}
}

// Script:
.destaca_even {
    font-weight: bold;
    margin: 0 0 12px;
}

// Scripts:
#featured table,
.apuestatopl table,
.apuestatopr table,
.tablecuota,
.slider div table {
    width: 180px;
    background-color: #f1f7e4;
    color: #333;
    border: 1px solid #2f5e2f;
    float: right;
    font-size: 12px;

    td {
	    text-align: center;
	    width: 50px;
	    padding: 0 5px;
    }

    a {
	    background-color: #f1f7e4;
	    color: #428942;
	    font-weight: bold;
    }
}

// Scripts:
.tablecuota {
    float: left;
    margin: 1px 7px 7px 2px;
    width: 50px;
    line-height: 15px;
}

// Scripts:
#featured table td.valor,
.apuestatopl table td.valor,
.apuestatopr table td.valor,
.tablecuota td.valor {
    background-color: #006600;
    color: #FFF;
    width: 30px;
    padding: 0 5px;
}

.slider div table td.valor {
    background-color: #006600;
    color: #FFF;
    width: 8px;
    padding: 0 5px;
}

#featured table td a {
    color: #333333 !important;
}

// Scripts, Casas de apuestas:
.box_bono,
.box_bono2 {
    background-color: #FFFFFF;
    background-image: url("/images/spriteicons.png");
    background-position: right -95px;
    background-repeat: no-repeat;
    display: block;
    float: right;
    font-size: 13px;
    padding: 0;
    text-align: right;
    width: 120px;
    height: 47px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px -1px black;

    span {
	    display: block;
	    overflow: hidden;
	    height: 20px;
	    line-height: 13px;
	    padding: 2px 26px 3px 5px;
        font-size: 11px;
    }

    img {
	    margin: 0;
	    float: none !important;
	    border-radius: 5px 5px 0px 0px;
    }
}

.box_bono2 {
    left: 37px;
    position: absolute;
    top: 54px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 2px black;

    a img {
	    clear: both;
	    display: inline-block;
	    height: 24px;
	    margin: 0 !important;
	    padding: 0 !important;
	    border-radius: 5px 5px 0px 0px;
    }
}

.box_bono a img {
    clear: both;
    display: inline-block;
    height: 24px;
    margin: 0;
    padding: 0 !important;
}

.content_titular .box_bono {
    clear: none !important;
    min-width: 254px;
    height: 29px;
    margin: 3px 13px 0 0 !important;
    background-color: #F6F5FA;
    background-position: 201px -120px !important;
    font-size: 14px;
    font-weight: bold;
    box-shadow: none;

    img {
	    border-radius: 3px;
	    margin-left: 10px!important;
    }

    a {
    	line-height: 31px;
    }
}

// Script:
.modulo_patro_tit {
    margin-bottom: 3px;
    overflow: hidden;
    padding: 7px 8px 0px 10px;
    height: 50px;

    h3 a {
	    float: left;
	    font-family: "Roboto Condensed";
	    font-size: 27px;
	    font-weight: normal;
	    letter-spacing: -1px;
	    margin: 7px 0 0;
	    text-align: left;
	    padding: 0;
    }

    img {
    	float: right;
    	margin: 0 0 5px 0;
    }
}

.modulo_patro {
    min-height: 40px;
    padding: 0;
    border-left: none;
    border-top: none;

    p {
	    margin: 0px;
	    padding: 6px;
	    text-align: justify;
    }
}

.modulo_patroinf {
    height: 145px;
    padding: 0 5px 9px;
    position: relative;

    p {
    	text-align: left;
    }

	img {
	    text-align: center;
	}
}

.boximginf {
    position: relative;
	height: 107px;
    margin-bottom: 5px;

    h2 {
	    padding: 0 0 2px 0;
	    text-align: center;
	    font-size: 15px;
    }

    header {
	    float: none;
	    padding: 4px 0;
	    color: #FFFFFF;
	    font-size: 25px;
	    text-align: center;

	    a {
		    float: none;
		    margin: 7px 0 0;
		    padding: 4px 0;
		    font-family: "Roboto Condensed", "Roboto";
		    font-size: 27px;
		    font-weight: normal;
		    letter-spacing: -1px;
		    text-align: left;
		    color: #FFFFFF;
		    font-size: 25px;
		    text-align: center;
	    }
	}
}

.modulo_patro_nuevo {
    padding: 0;
    border-left: none;
    min-height: 40px;
    border-top: none;
    margin-top: 1px;
}

.bgliga {
    background-image: url(/images/spritehome.jpg?v=4);
    background-position: left top;
}

.bgusa {
    background-image: url(/images/spritehome.jpg?v=4);
    background-position: -202px -245px;
}

.bgchampions {
    background-image: url(/images/spritehome.jpg?v=4);
    background-position: 0px -119px;
}

.boxcolapse .bgchampions {
    background-position: 0px -129px;
}

.bgbasket {
    background-image: url(/images/spritehome.jpg?v=4);
    background-position: 197px 0;
}

.bgnba {
    background-image: url(/images/spritehome.jpg?v=4);
    background-position: 0 -355px;
}

.bgtenis {
    background-image: url(/images/spritehome.jpg?v=4);
    background-position: 197px -119px;
}

.boxcolapse .bgtenis {
    background-position: 197px -157px;
}

.bgf1 {
    background-image: url(/images/spritehome.jpg?v=4);
    background-position: 0 -236px;
}

.bglibertadores {
    background-image: url(/images/spritehome.jpg?v=4);
    background-position: 0px -478px;
}

.bgmexico {
    background-image: url(/images/spritehome.jpg?v=4);
    background-position: 197px -478px;
}

.bgperu {
    background-image: url(/images/spritehome.jpg?v=4);
    background-position: 197px -356px;
}

.bgeurocopa2016 {
    background-image: url(/images/spritehome.jpg?v=4);
    background-position: 0px -613px;
}

.block-buscador,
.boxaviso {
    font-size: 12px;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.1);
    background: none;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
}

.block-buscador{
    padding: 10px;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    &__options{
        -webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;
        display:-webkit-box;display:-ms-flexbox;display:flex;
        -webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5px;
    }
    &__deporte{
        text-align: left;
        -webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;
        margin-right: 10px;
        input, select{
            width: 100%;
        }
        .input_buscar{
            background-color: #f6f5fa;
            padding: 5px 1px;
            width: 150px;
            font-family: helvetica;
            font-size: 12px;
            margin-top:5px;
            box-shadow: none;
            border-radius: 0;
            border: none;
        }
    }
    &__tipster{
        text-align: left;
        margin-right: 10px;
        width: 370px;
        input, select{
            width: 100%;
        }
    }
    &__check{
        -webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;
        display:-webkit-box;display:-ms-flexbox;display:flex;
        -webkit-box-align: center;-ms-flex-align: center;align-items: center;
        margin-top: 10px;
        input:not([type="submit"]){
            display: none;
            &:checked + label::before{
                background-color: #f1b82f;
            }
        }
        label{
            padding-left: 15px;
            position: relative;
            margin-right: 15px;
            &::before{
                content:"";
                width: 10px;
                height: 10px;
                background-color: #f6f5fa;
                position: absolute;
                left:0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &.no-full-width {
        width: auto;
    }
}

// Tipster pronosticar:
.b_pron {
    font-size: 13px;
    position: relative;

    td {
    	padding: 5px 0;
    }
}

.pronsel {
    background-image: url("/images/titpronos.gif");
    background-position: left top;
    background-repeat: no-repeat;
    border-bottom: 2px solid #666666;
    color: #333333;
    font-family: "Roboto Condensed", "Roboto";
    font-size: 26px;
    letter-spacing: -1px;
    margin: -6px 0 10px;
    padding: 9px 26px 5px 71px;
}

#lista_liguillas ul {
    list-style: none;

    li {
    	padding-bottom: .5em;

    	&:first-child label {
    		font: 15px/1 'new_athletic_m54regular';
    		font-style: italic;
    	}
    }
}

.table_seccion50 {
    width: 350px;
    padding: 10px;
    font-size: 12px;
}

.table_seccion caption {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #4d4d4d;
    margin-left: 20px;
}

// Picks resumen:
.right10 {
    text-align: right;
    padding-right: 10px !important;
}

// /pronosticos/picks/premios/:
.clasiflp {
    clear: both;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 0;
    color: #666666;
    font-size: 12px;
    border: 1px solid #CCCCCC;

    ul {
	    list-style: none outside none;
	    margin: 0;
	    padding: 0 !important;
    }

    li {
	    float: left;
	    width: 180px;
	    margin: 0 2px;
	    padding: 5px;
	    border-bottom: 1px solid #CCCCCC;
	    list-style: none outside none;

	    a {
    		font-weight: bold;
	    }
    }
}

// .table_casas se usa en Frikiapuestas,
// .table_seccion en muchos sitios
.table_seccion,
.table_casas {
    margin-bottom: 10px;
    width: 100%;
    font-size: 12px;
    color: #666;
    clear: both;
    padding: 10px;
    padding-top: 0;

    p {
    	text-align: justify;
    }
}

.table_seccion {
	th {
	    border-bottom: 4px solid #ccc;
	    border-top: 2px solid #2F5E2F;
	    color: #3F3F3F;
	    padding: 5px 2px;
	    text-align: left;
	}

	.titcolum {
	    background-position: 7px 10px;
	    background-repeat: no-repeat;
	    border-bottom: 5px solid #CCCCCC;
	    box-shadow: 0 0 2px 1px #FFFFFF;
	    font-size: 15px;
	    font-weight: bold;
	    padding: 5px 24px;
	    text-align: left;
	    text-shadow: 0 2px 2px #CCCCCC;
	}

	td {
	    text-align: center;

    	&.en {
		    text-align: center;
		    font-weight: bold;
		    padding: 0px;
    	}

    	&.va {
    		text-align: center;
    	}

    	&.cuota {
		    text-align: center;
		    font-weight: bold;
    	}

    	&.cuotavalue {
		    text-align: center;
		    font-weight: bold;
		    color: #000000;
		    padding: 0 40px;
    	}
	}
}

.table_seccion td.cuota a,
.table_seccion td.cuotamin a,
.table_seccion td.cuotamax a {
    font-weight: bold;
    color: #2f5d2f;
    width: 100%;
    padding: 0;

    &:hover {
    	color: #2f5d2f;
    }
}

.table_seccion td.valuebets a {
    font-weight: bold;
    color: #2f5d2f;
    width: 100%;
    padding: 0;
    color: #1f66bd;
}

.table_seccion td.cuotamin a {
    color: #F00;

    &:hover {
    	color: #F00;
    }
}

.table_seccion td.cuotamax a {
    color: #005BE3;

	&:hover {
	    color: #005BE3;
	}
}

.table_seccion td.ctrtd {
    text-align: center;
}

.table_seccion th.ctrtd {
    text-align: center;
}

.table_seccion td.img {
    padding: 0 5px;
}

.table_seccion a {
    font-weight: bold;

    img {
    	padding: 0 !important;
    }
}

.table_casas {
	th {
	    padding: 0;
	    text-align: center;
	    border-bottom: 4px solid #ccc;
	    color: #3F3F3F;
	}

	td {


		&.cuota {
		    text-align: center;
		    font-weight: bold;
		}
	}
}

#Cuotas .table_seccion th {
    border-top: none !important;
    text-align: center;
}

.table_seccion td,
.table_casas td {
    border-bottom: 1px solid #CEDABB;
    padding: 8px 2px;
    vertical-align: top;
}

.trover:hover td {
    background-color: #f1b432;
}

.table_form,
#datos_cuenta {
    background-color: #EDEDED;
    border-radius: 5px 5px 5px 5px;
    color: #565656;
    font-size: 12px;
    margin: 0 auto 15px;
    padding: 5px;
    width: 780px;
}

// Formularios (registro, contactar...):
.table_form td {
    padding: 5px;
    vertical-align: top;
}

// (???)
.enc a {
    display: block;
    width: 100%;
}

// Combinadas:
.tablenob {
    border: none;
    margin: 0;
}

.divGuardar,
.divValidar {
    text-align: right;
}

// Tipster pronosticar:
#divMensaje {
    color: #FF0000;
    float: left;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 12px;
    width: 320px;
}

.confirm {
    float: left;
    font-weight: bold;
    margin-right: -3px;
    padding: 10px;
}

.en a {
    display: block;
}

.iconinfo {
    float: left;
    padding: 2px;
}

#cropzoom_container {
    float: left;
}

.ctrlavatar {
    margin: 15px 0;

    p {
    	margin: 0 0 20px 0;
    }
}

#content_seccion {
    clear: both;
    margin: 0px 2px 0 4px;
    padding: 2px 0 10px 3px;
    min-height: 886px;
}

#content_seccionb {
    .container {
        padding: 0!important;
    }
}

#content_seccionb,
#content_admin {
    clear: both;
    min-height: 862px;
    padding: 0 10px 10px;
}

.altaliguillas label,
.adminliguillas label {
    width: 116px;
    display: inline-block;
    font-weight: bold;

    &.peque {
	    width: 70px;
	    display: inline-block;
	    padding-left: 45px;
    }
}

.altaliguillas div,
.adminliguillas div {
    padding: 10px 0;
}

.altaliguillas div select,
.adminliguillas div select {
    min-width: 250px;
    padding: .2em;
}

.altaliguillas .botongral,
.adminliguillas .botongral {
    padding: 1em;
}

.altaliguillas .botongral {
    bottom: -2em !important;
}

.altaliguillas input {
    padding: 5px 5px;
}

.adminliguillas input {
    padding: 5px 5px;
}

#content_admin {
    background-image: none;
    width: 955px;
}

#content_seccionb h3,
#content_admin h3 {
    text-align: justify;
    padding: 0 0 5px 0;

    a {
    	padding: 0;
    }
}

#content_seccionb p a {
    font-weight: bold;
}

#content_seccionb ul {
    line-height: 17px;

    &.lista_miembros {
	    clear: both;
	    width: 100%;

	    &:after {
		    content: ".";
		    display: block;
		    clear: both;
		    visibility: hidden;
		    height: 0;
	    }
    }
}

.content_titular {
    border-bottom: 3px solid #003300;
    clear: both;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0 0 6px;
    width: 100%;

    img {
	    float: right !important;
	    margin-left: 5px!important;
	    margin: -4px 0 0 5px;
    }

    h2 {
	    color: #333333;
	    float: left;
	    font-family: "Roboto Condensed", "Roboto";
	    font-size: 27px;
	    font-weight: normal;
	    line-height: 22px;
	    margin-bottom: 0;
	    padding: 4px 5px 5px 0;
	    text-indent: -1px;
	    text-transform: uppercase;
    }

    .date {
	    border: 0;
	    font-size: 12px;
	    margin-left: 0;
	    padding-bottom: 0;
	    width: auto;
    }
}

.content_casa_logo {
    margin-right: 10px;
    float: right;
    width: 80px;
    border: 1px solid #000;
}

.content_casa_screen {
    border: 1px solid #CCCCCC;
    float: left;
    margin: 20px 0 10px;
    padding: 5px;
    width: 220px;
}

.content_casa_valora {
    float: right;
    width: 372px;
    margin: 13px 10px 0 0;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;

    p {
	    text-align: right;
	    float: right;
    }

    .item {
    	font-size: 16px;
    }

    table {
	    border: 1px solid #CCCCCC;
	    border-radius: 2px;
	    float: right;
	    font-size: 12px;
	    font-weight: bold;
	    margin-top: -5px;
	    padding: 9px;
	    width: 450px;

	    td {
    		padding: 2px;
	    }
    }
}

.popupwitch {
    max-height: 500px;
    min-height: 150px;
    overflow-y: auto;
    width: 700px;
}

.typefind {
    padding: 10px 7px;
    vertical-align: bottom;
    width: 150px;
}

.valoracion {
    clear: both;
    float: right;
    margin: 0 5px 10px;

    span {
	    float: left;
	    padding-left: 4px;
	    font-size: 24px;
    }
}

.widgets {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 0 0 1px #FFFFFF;
    clear: both;
    margin: 15px 0;
    padding: 10px 0 8px;

	div.reply {
	    float: left;
	    margin: 3px 7px !important;
	    width: 260px !important;
	}

	p {
	    display: inline-block;
	    vertical-align: top;
	    font-weight: bold;
	    margin: 0 !important;
	    padding: 2px 21px 0 0 !important;
	}

	.widgetredes {
	    border-left: 1px solid #DDDDDD;
	    padding-left: 15px;
	    width: 459px;
	}

	div {
	    display: inline-block;
	    width: 109px;
	    height: 24px;
	}

	.fb-like {
	    float: left;
	    margin-top: 10px;
	}

}

.comentario {
    padding-left: 25px !important;
    background-image: url(/images/topic_read.gif);
    background-repeat: no-repeat;
    background-position: 4px 6px;
}

.news {
    padding-left: 25px !important;
    background-image: url(/images/announce_read.gif);
    background-repeat: no-repeat;
    background-position: 4px 6px;
}

.combinadasfind {
    border: 1px solid #B9C2AD;
    margin: -1px 10px 0;
    padding: 10px 8px;

	.input_buscar {
	    margin-right: 4px;
	}
}

.vertical-text {
    transform: scale(1) rotate(270deg);
    bottom: 0;
    display: block;
    font-size: 11px;
    font-weight: normal;
    font-weight: bold;
    margin-top: 37px;
    white-space: nowrap;
    width: 22px;

    span {
	    display: block;
	    text-align: right;
	    width: 54px;
	    font-size: 12px;
	    font-weight: bold;
    }
}

tr.mejorcuota td {
    border-top: 4px solid #ccc;
    font-size: 17px;
    height: 70px;
    vertical-align: top;
    border-bottom: none;
    border-bottom: none;
}

.noactive {
    text-decoration: line-through;
}

.btnborrar,
.btnactivo {
    cursor: pointer;
}

.btnanadir {
    cursor: pointer;
    display: inline;
    padding: 2px 0px 0 4px;

    a {
	    display: inline;
	    float: right;
    }
}

// Player home apuestas destacadas

#featured {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 266px;
    overflow: hidden;
    padding-right: 250px;
    position: relative;
    width: 345px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix,
*:first-child + html .clearfix {
    zoom: 1;
}

/* IE6 */
/* IE7 */

a#cphCuerpo_btVIP2,
#cphCuerpo_btVIP {
    display: block !important;
    font-size: 1em;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    width: 300px;
}

input#cphCuerpo_btRFranco {
    position: relative;
    right: -17px;
    top: 11px;
}

#featured ul.ui-tabs-nav {
    height: 213px;
    left: 477px;
    list-style: none outside none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 52px;
    width: 315px;
    z-index: 10;
}

#featured::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #006600;
}

#featured ul.ui-tabs-nav li {
    padding: 1px 0 0;
    padding-left: 13px;
    font-size: 12px;
    color: #666;

	img {
	    background: none repeat scroll 0 0 #FFFFFF;
	    border: 1px solid #EEEEEE;
	    float: left;
	    margin: 6px 5px;
	    padding: 2px;
	    width: 100px;
	    display: none;
	}

	span {
	    display: inline-block;
	    font-family: Verdana;
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 14px;
	    margin: 5px 0 0;
	}
}

#featured li.ui-tabs-nav-item a {
    padding: 0 10px;
    display: block;
    height: 52px;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    background: #fff;
    line-height: 20px;
    outline: none;
    background: url("/images/transparent-bg.png") repeat scroll 0 0 transparent;

    &:hover {
	    background: #003300;
	    color: #fff;
	    text-decoration: none !important;
    }
}

#featured ul.ui-tabs-nav li.ui-tabs-selected a,
#featured ul.ui-tabs-nav li.ui-tabs-active a {
    background: #006600;
    color: #fff;
    text-decoration: none !important;
}

#featured .ui-tabs-panel {
    background: none repeat scroll 0 0 #999999;
    height: 325px;
    position: relative;
    width: 800px;

    .info {
	    background: url("/images/transparent-bg.png") repeat scroll 0 0 transparent;
	    bottom: 62px;
	    left: 0;
	    position: absolute;
	    width: 466px;
	    padding: 0 0 8px;

		a.hideshow {
		    position: absolute;
		    width: 470px;
		    font-size: 11px;
		    font-family: Verdana;
		    color: #f0f0f0;
		    right: 10px;
		    top: -20px;
		    line-height: 20px;
		    margin: 0;
		    outline: none;
		    background: #333;
		}
	}
}

#featured li.ui-tabs-selected,
#featured li.ui-tabs-active {
    background-image: url(../../../images/selected-item.png);
    background-repeat: no-repeat;
    background-position: left -5px;
}

#featured h2 {
    background: url("/images/transparent-bg.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-family: "Roboto Condensed", "Roboto";
    font-size: 27px;
    font-weight: normal;
    left: 0;
    letter-spacing: -1px;
    padding: 4px 9px;
    position: absolute;
    top: 7px;
    width: 334px;
    z-index: 999;

	a {
	    color: #fff;
	}
}


#featured .info h3 {
    color: #FFFFFF;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding: 9px;

	a {
	    color: #fff;
	    font-size: 21px !important;
	    font-weight: normal;
	    padding: 0 0 10px;
	}
}


#featured .info p {
    color: #F0F0F0;
    float: left;
    font-size: 14px;
    line-height: 15px;
    margin: 0 0 0 10px;
    width: 243px;
}

#featured table {
    background-color: #FFFFFF;
    float: right;
    margin: -5px 12px 0 5px;
}

.slider div table {
    background-color: #FFFFFF;
    float: right;
    margin: -5px 12px 0 5px;
}

#featured .info a {
    text-decoration: none;
    color: #fff;

    &:hover {
    	text-decoration: underline;
    }
}

#featured .ui-tabs-hide {
    display: none;
}

// Apuestas gratis:

.content_subgratis {
    clear: both;

    h3 {
	    font-family: "Roboto Condensed", "Roboto";
	    font-size: 23px;
	    font-weight: normal;
	    margin: 8px 0;
	    padding: 10px 0 !important;
    }

    img {
    	padding: 5px;
    }

    ul {
    	font-size: 12px;
	    text-align: justify;
	    padding: 0 15px;
	    color: #3F3F3F;
    }

    ol {
	    font-size: 12px;
	    text-align: justify;
	    padding: 0 15px;
	    color: #3F3F3F;
	    margin: 15px;

	    li {
	    	margin: 5px 20px;
	    }
	}
}

.pickwinner {
    border: 1px solid #DCDCDE;
}

.comoh2 {
    font-family: "Roboto Condensed", "Roboto";
    font-size: 22px;
    font-weight: normal !important;
    letter-spacing: -1px;
    padding: 17px 0 !important;
    text-align: left;
}

.content_subgratis h2,
.content_seccionb h2 {
    font-family: "Roboto Condensed", "Roboto";
    font-size: 27px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
    padding: 5px 0;
    text-align: left;
}

.quinireglas p,
.quinireglas li {
    margin-bottom: 10px;
}

.img_apuestas {
    float: left;
    font-size: 12px;
    margin-bottom: -58px;
    text-align: center;
    margin-left: 14px;
    margin-top: 10px;
}

.gratis_img {
    width: 130px;
    margin: 4px 0px 6px 0;
    float: left;
    text-align: center;
    padding: 5px;

    img {
	    float: none;
	    border: 3px solid rgb(71, 115, 45);
	    padding: 0px;
	    box-shadow: 0px 0px 4px rgb(0, 0, 0);
    }
}

.gratis_descrip {
    float: right;
    box-sizing: border-box;
    margin-left: 0;
    padding: 8px 18px 11px;
    width: 620px;

    p {
	    margin: 0;
	    padding: 5px 0 0 0;
    }

    div {
	    padding: 5px 0 !important;
	    font-size: 14px;
	    font-weight: bold;
	    color: #3F3F3F;
    }
}

.litnot {
    position: relative;
    list-style: none;
    float: left;
    width: 100%;
    padding: 9px 0 13px 0;
    border-bottom: 1px solid #B2ADAD;
    font-size: 12px;
}

.litforo {
    background-image: url("/images/ico8.gif");
    background-position: left 12px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 10px 2px -5px #EEEEEE;
    color: #3F3F3F;
    font-size: 12px;
    padding: 8px 15px 15px;

    blockquote {
    	display: none;
    }
}

.litnot {
	img {
	    border: 1px solid #CCCCCC;
	    float: left;
	    margin-right: 15px;
	    width: 80px;
	}

	iframe {
	    float: left;
	    border: 1px solid #CCCCCC;
	    padding: 5px;
	    margin-right: 15px;
	    width: 120px;
	}

	span.stng {
	    float: right;
	    margin-top: 15px;
	    display: block;
	    opacity: .9;
	    color: #4d4d4d;
	    font-weight: normal;
	    text-align: right;
	    margin-left: 2em;
	}

	p {
	    margin-bottom: 10px;

		&.parrafo-listado-noticias {
		    margin-left: 97px;
		    margin-bottom: 20px;
		}
	}

	.commentsReplay {
	    font: 100 1.1em/3 "Roboto Condensed", "Roboto";
	    text-align: right;
	}
}

.categorias {
    text-align: right;
}

.categorias-noticias {
    margin: -7px 0px 15px 10px;
    font-family: "Roboto Condensed", "Roboto";

    ul {
    	list-style-type: none;

    	li {
		    display: inline-block;
		    padding-right: 1em;

		    a {
			    padding: 5px 0 0 0 !important;
			    opacity: .9;
			    font-size: 1.04em;
			    text-transform: uppercase;
			    letter-spacing: -1px;
		    }
    	}
    }
}

.litforo p {
    padding: 0 !important;
}

.listcfoto {
    float: left;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 2px 2px -1px #FFFFFF;
    clear: both;
    display: block;
    padding: 0;

    &.destacado {
	    margin-bottom: 16px;
	    padding-top: 2px;
	    padding-right: 1px;
	    border-radius: 3px;
	    background-color: rgb(213, 227, 213);
	    border-top: 1px solid rgb(0, 128, 0);
	    box-shadow: 0px 0px 3px rgb(128, 128, 128);
    }
}

.destacado .gratis_img {
    position: relative;

    &:after {
    	content: "¡Promo Exclusiva!";
	    width: 140px;
	    height: 17px;
	    background-color: rgb(9, 64, 19);
	    display: inline-block;
	    border-radius: 3px;
	    border: 1px solid rgb(65, 133, 81);
	    box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
	    color: rgb(255, 255, 255);
	    margin-top: 6px;
	    line-height: 17px;
	    text-shadow: 0px 0px 5px rgb(0, 0, 0);
	    transform: rotate(0deg);
	    font-weight: 900;
	    letter-spacing: 1px;
    }
}

.graf_escala {
    border: 1px solid #ccc;
    width: 100px;
    margin-top: 9px;
    padding: 0;
    background-image: url(/images/graf_escala.gif);
    background-position: left;
    background-position: center;
    background-repeat: repeat-x;
    float: left;
}

.reclamo_iA {
    width: 315px;
    float: left;
    padding: 8px 0px;
    margin-top: 0px;
    margin-left: 10px;
    height: 90px;
    text-align: center;
    background-image: url(/images/reclamos_bg.gif);
    background-repeat: repeat-x;
    background-position: top;
}

.bloque_tipster {
    padding: 0 7px 15px;
    text-align: center;
}

.bloque_tipsterh {
    float: left;
    padding: 0 15px 7px;

    h3 {
    	padding: 0 !important;
	}
}

.bloque_tipster p,
.bloque_tipsterh p {
    padding: 10px 0 0;
    text-align: justify;
}

.resumen_clasif {
    font-size: 12px;
    background-color: #CEDABB;
    padding: 19px 5px;
    margin: 10px;
    border: 1px solid #ccc;
    min-height: 90px;
    border-radius: 4px;

    h2 {
	    padding: 2px 5px;
	    font-size: 18px;
    }

    span {
	    background-color: #060;
	    padding: 2px 8px;
	    color: #fff;
	    margin-bottom: 5px;
	}
}

.vermas {
    float: right;
    font-weight: bold;
    padding: 0 5px;
}

.modulo_juego {
    width: 200px;
    border: 0px solid #ccc;
    padding: 0px 2px;
    float: left;
    height: 160px;

    h1 {
	    font-size: 16px;
	    margin: 0px;
	    padding-bottom: 5px;
    }
}

.modulo_juego_img {
    width: 90px;
    border: 0px solid #ccc;
    padding: 0px 6px;
    float: right;

    img {
	    border: 1px solid #e3e7de;
	    margin-top: 10px;
	    background-color: #FFF;
    }
}

.modulo_juego2 {
    width: 250px;
    border: 0px solid #ccc;
    padding: 0px 0px;
    float: left;
    height: 100px;

    h1 {
	    font-size: 16px;
	    padding-top: 5px;
	    margin: 5px;
	    padding-bottom: 0px;
	    float: left;
    }
}

.searchg {
    margin: 0 0 0 -7px;
    width: 172px;

    &.resultado {
    	width: 100%;

    	#busca_pag {
    		width: 94%;
		    height: 1em;
		    padding: .5em;
		    font-size: 1em;
    	}
    }
}

#menunav {
	.searchg {
	    margin: 4px 0 0 -7px;
	    width: 182px;
	    position: absolute;
	    top: 0;
	    right: 60px;
	}

	#busca {
	    width: 72%;
	    border: 1px solid #ccc;
	    font-size: .7em;
	    height: 1.7em;
	    background-color: #EDEDED;
	    border: 1px solid #EDEDED;
	    border-radius: 2px 2px 2px 2px;
	    box-shadow: none;
	    color: #999;
	    margin: -7px 0 10px 7px;
	    padding-left: 3px;
	    position: relative;
	    z-index: 0;
	    /*top: -1px;*/
	}

}

.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
    padding: 6px !important;
}

.gsc-input-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D9D9;
    height: 25px;
    width: 132px;
}

input.gsc-input {
    width: 120px !important;
}

.pestana_box {
    margin: 10px;
    padding: 3px 0;
    margin-left: 5px;

    h2 {
	    color: #4D4D4D;
	    font-size: 22px;
	    padding: 0;
	    width: auto;
    }
}

.centrado {
    text-align: center;
}

// Formulario:

.fieldseccion {
    padding: 10px 10px;
    margin: 10px;
    background-color: #d2e2bf;
}

.fitroseccion {
    font-size: 12px;
    padding: 0 2px 0 2px;
    font-weight: bold;
}

.basicoform {
    border: 1px solid #666;
    font-size: 12px;
}

.anclas {
    width: 35px;
    display: block;
    float: left;
    color: #fff !important;
    background-color: #2f5e2f;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 0;
    border: 1px solid #2f5d2f;
    text-align: center;
    margin-right: 6px;
}

.abrev {
    width: 28px;
    display: block;
    float: left;
    color: #2f5e2f;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 0;
    border: 1px solid #2f5d2f;
    text-align: center;
    margin-right: 6px;
}

// Listados:

.listlogo {
    width: 100%;
    margin-top: 10px;

    ul {
    	margin: 10px 0 0 0;
    }

    li {
	    border: 1px solid #fff;
	    float: left;
	    height: 50px;
	    list-style: none outside none;
	    margin: 0;
	    padding: 0;
	    width: 80px;

	    img {
		    margin: 0;
		    padding: 0;
		    float: left;
		    vertical-align: middle;
	    }
    }
}

.list1line {
    font-size: 11px;
    width: 100%;
    margin-top: 10px;

    li {
	    color: #666666;
	    float: left;
	    list-style: none outside none;
	    padding: 2px 10px;
	    width: 135px;
    }
}

.subir {
    float: right;
    margin-top: -25px;
}

.list_2col {
	ul {
    	width: 100%;
	}

	li {
	    width: 29%;
	    float: left;
	    margin-right: 5px;
	    list-style-type: none;
	    text-align: left;
	    background-image: url(/images/ico_flecha.gif);
	    background-repeat: no-repeat;
	    background-position: left top;
	}

	a {
	    display: block;
	}
}

.list_2col_Asier li {
    width: 80%;
    float: left;
    margin-right: 5px;
    list-style-type: none;
    text-align: left;
    background-image: url(/images/ico_flecha.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

.list_2col a:hover {
    text-decoration: underline;
}

.downservices,
.downservices2,
.downservices3 {
    margin: 5px 0;
}

.downservices2 {
    margin: -76px 0 5px 0;
    top: 89px;
    font-size: 14px;
    color: #FFF;
    font-family: "Roboto Condensed", "Roboto";
    position: absolute;
    right: 0;

    img {
    	float: right;
        margin-right: 10px;
	}
}

.downservices img {
    float: right;
    padding: 5px;
    z-index: 99999;
}

.downservices3 img {
    float: right;
    padding: 5px;
    z-index: 99999;
    padding: 7px 0;
}

.downservicestit {
    float: left;
    font-family: "Roboto Condensed", "Roboto";
    font-size: 23px;
    letter-spacing: -1px;
    padding: 0 15px 10px 10px;
}

.downidiom {
    float: left;
    padding: 0 0 3px 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.servicesdropped {
    background-color: #F6F5FA;
    border: 2px solid #B9C2AD;
    display: none;
    margin: -171px 0 0 95px;
    padding: 10px 2px 20px;
    position: absolute;
    text-align: left;
    width: 500px;
    border-radius: 6px;
    border: 2px solid #B9C2AD;
    z-index: 999999;

	.downlist {
	    float: left;
	    width: 500px;

		li {
		    width: 152px;
		    float: left;
		    list-style: none;

		    a {
			    padding: 1px 0px 0px 20px;
			    text-decoration: none;
			    text-align: left;
			    font-size: 12px;
			    color: #006600;
			    display: block;
			    background-image: url(/images/ico_sec.gif);
			    background-repeat: no-repeat;
			    background-position: 6px 4px;

			    &:hover {
				    color: #006600;
				    text-decoration: underline;
				    font-weight: bold;
			    }
		    }
		}
	}
}

.accessdropped {
    background: none repeat scroll 0 0 #F6F5FA;
    border: 2px solid #B9C2AD;
    border-radius: 6px 6px 6px 6px;
    display: none;
    margin: 4px 0 0;
    padding: 10px 10px 10px;
    position: absolute;
    right: 1px;
    text-align: left;
    width: 198px;
    z-index: 999999;
    top: 39px;
}

// Destacadas:

.apuestatopl {
    background-color: #FFFFFF;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 0 3px 10px #CCCCCC;
    float: left;
    height: 180px;
    margin-right: 11px;
    padding: 10px 0 0 6px;
    position: relative;
    width: 240px;

    table {
	    bottom: 8px;
	    left: 35px;
	    position: absolute;
    }

    img {
	    border-radius: 4px;
	    padding: 0;
	    width: 235px;
	    margin-bottom: 7px;
	    height: 90px;
    }

    .tdes {
	    padding: 4px 0;
	    text-align: center;
	    font-size: 13px;
    }

    p {
	    margin: 0 !important;
	    padding: 0 !important;
	    text-align: center !important;
    }
}

// TEXTOS:
// Loterias y quinielas:

/*.loteria_img {
    float: left;
    width: 150px;
    text-align: center;
    color: #565656;
    font-size: 11px;
}

.loteria_intro {
    float: right;
    width: 610px;
    border: 0px solid #000;
}

.loteria_intro h3 {
    margin: 12px;
    border-bottom: 3px solid #cedabb;
}*/

.icodep {
    padding: 0;
    margin: 0 10px -25px 0;
    float: right !important;
}

// Tooltip:

.ttupos {
    position: absolute !important;
    margin: 5px 0 0;
}

.colum_b .ttupos {
    display: inline;
    margin: 12px 0 0 4px;

    img {
	    margin: 0;
	    padding: 0;
    }
}

.ttu {
    position: relative;
    z-index: 24;
    text-decoration: none;
    color: #333;
    cursor: pointer;

    span {
	    display: none;
	    font-weight: normal;
	    text-decoration: none;
	    font-size: 12px;
	    font-family: Arial, Helvetica, sans-serif;

	    ul li {
    		clear: both;
		}
    }

    &:hover {
    	z-index: 33;

		span.tooltiped {
		    display: block;
		    position: absolute;
		    top: 0px;
		    left: 32px;
		    width: 120px;
		    color: #000;
		    font-size: 12px;
		    border-radius: 5px;
		    padding: 5px;
		    background-color: #cccccc;
		}

		span.tooltipe {
		    display: block;
		    position: absolute;
		    top: 10px;
		    left: 20px;
		    padding: 0px 0 0 0;
		    width: 150px;
		    color: #000;
		    font-size: 12px;
		    font-family: arial, Tahoma, Geneva, sans-serif;
		}

		span.topte {
		    display: block;
		    padding: 20px 8px 0;
		    background-image: url(/images/bubblett.gif);
		    background-repeat: no-repeat;
		    background-position: top;
		}

		span.middlete {
		    display: block;
		    padding: 5px 10px;
		    text-align: left;
		    background: url(/images/bubble_fillertt.gif) repeat bottom;

			a {
			    display: table-row;
			    padding: 0;
			}

			p {
				padding: 0;
    			text-align: left !important;
			}

			ul, li {
				padding: 0;
    			margin: 0;
			}
		}

		span.middleted {
		    display: block;
		    text-align: left;
		    background-image: url(/images/flechatooltip.png);
		    background-position: -15px top;
		    background-repeat: no-repeat;

		    p {
			    margin: 0;
			    padding: 5px 7px;
			    font-weight: bold;
			    color: #3F3F3F;
			    text-align: left !important;
		    }
		}

		span.bottomte {
		    display: block;
		    padding: 3px 8px 5px;
		    color: #548912;
		    background: url(/images/bubblett.gif) no-repeat bottom;
		}
    }
}

.list_2col .ttu:hover span.tooltiped {
    left: 80px !important;
}

.middleted a {
    padding: 2px 6px !important;
    font-weight: bold;
    display: block !important;
    z-index: 0;
}

.fila {
    clear: both;
    font-size: 12px;
    margin: 0 20px;
    min-height: 35px;
}

.colum_a {
    background-image: url("/images/ico_flecha.gif");
    background-position: left 13px;
    background-repeat: no-repeat;
    color: #333333;
    float: left;
    font-weight: bold;
    margin-left: 0;
    padding: 13px 6px 0 17px;
    text-align: left;
    width: 185px;
}

.colum_b {
    float: left;
    padding: 4px;
    width: 435px;

    input {
    	float: left;
    }

    label {
	    float: right;
	    padding: 2px 0 0;
	    width: 250px;
    }

    .images {
	    clear: both;
	    margin: 30px 0;

	    p {
    		clear: both;
    		margin: 0 0 10px 0 !important;
	    }
    }
}

.innerError {
    color: #F00;
    padding: 5px 15px 0 15px;
    width: 250px;
    clear: both;
    display: block;
    width: 100%;
    background-image: url(/images/ico_nota.png);
    background-repeat: no-repeat;
    background-position: 0 6px;
}

.innerHelp {
    background-image: url(images/valid.gif);
    background-position: left top;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 20px;
    padding-top: 1px;
    color: #008000;
}

.cssRules {
    position: relative;
    color: #004080;
    background-color: #ffffff;
    margin-left: 2px;
    margin-right: 0px;
    border: #004080 1px solid;
    border-left: #004080 4px solid;
    height: 100%;
    width: 100%;
    z-index: 1;
}

// Loading:

.Loading {
    height: 300px;
    padding: 100px 0 0 0;
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
}

.nav {
    left: 6px;
    margin: 5px 0;
    position: absolute;
    top: 90px;
    z-index: 9999;
}

#nav a,
#s7 strong {
    background: #006600;
    color: #CEDABB !important;
    font-size: 11px;
    margin: 0 2px;
    padding: 0 5px;
    text-decoration: none;
    font-weight: bold;
}

#nav a.activeSlide {
    background: none repeat scroll 0 0 #FFCC00;
    color: #006600 !important;
}

#nav a:focus {
    outline: none;
}

#output {
    text-align: left;
}

.locasdiv {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0 0 10px;
    width: 120px;
}

.locasinput {
    display: inline-block;
    width: 140px;

    input {
    	border: 1px solid #82BD95;
    }
}

.patroliga {
    text-align: center;
    width: 800px;

    img {
    	padding: 0 2px;
    }
}

// Nuevo:

.table_seccion td {
    table-layout: fixed;
    display: marker;
    text-align: center;
    padding: 4px 0;
    vertical-align: middle;

    a {
	    position: relative;
	    display: inline;

	    &.user {
		    display: inline-block;
		    padding-right: 5px;
	    }
	}

	img {
	    margin: 0 2px !important;
	    padding: 0;
	}
}

#Resultado .table_seccion td {
	position: relative;
    height: 2em;
}

.table_seccion tr {
    height: 20px;
    background-color: #F6F5FA;
}

.table_seccion th {
    height: 20px;
    text-align: center;
}

.left10 {
    text-align: left !important;
    padding-left: 10px !important;
}

.table_seccion td div {
    height: 100%;
}

.table_seccion td a:link img {
    text-align: center;
}

.table_seccion td.cuota,
.table_seccion td.valuebets,
.table_seccion td.cuotamax,
.table_seccion td.cuotamin {
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

.cuotamax {
    color: #06C !important;
    font-weight: bold;
}

.cuotamin {
    color: #F00;
    font-weight: bold;
}

tr.fila1 {
    background-color: #F6F5FA;
}

tr.fila2 {
    background-color: #eceaf1;
}

.borderclasi {
    padding: 0;
    border-top: 1px solid #B9C2AD;
}

a.botonam {
    border-right: 1px solid #999999;
    color: #2F5E2F;
    display: inline !important;
    float: left !important;
    font-size: 12px;
    margin: 0 12px 0 0;
    padding: 0 5px 0 0 !important;
    width: 72px !important;
}

a:hover.botonam {
    color: #000;
    border-right: 1px solid #999;
    font-size: 12px;
    margin: 0;
    text-decoration: none;
}

.list ul,
.list2 ul {
    font-size: 12px;
    margin: 10px 0;
    padding: 5px;
    text-align: justify;
    clear: both;
    overflow: hidden;
}

.listar {
	ul {
	    font-size: 12px;
	    margin: 10px 0;
	    padding: 5px;
	    text-align: justify;
	    clear: both;
	    overflow: hidden;
	}

	li {
	    list-style: none;
	    list-style-type: none;
	    padding: 2px 15px;
	}
}


.list li {
    list-style: none;
    list-style-type: none;
    padding: 2px 15px;
    background-image: url("/images/ico8.gif");
    background-position: left 5px;
    background-repeat: no-repeat;
}

.list2 li {
    background-image: url("/images/ico8.gif");
    background-position: left 4px;
    background-repeat: no-repeat;
    color: #3F3F3F;
    float: left;
    list-style-type: none;
    padding: 2px 15px;
    width: 46%;
}

.listfriki {
    font-size: 12px;
    margin: 7px;
    overflow: hidden;
    padding: 2px;

    li {
	    list-style: none;
	    list-style-type: none;
	    float: left;
	    padding: 2px 0;
	    width: 300px;
	    color: #666;
    }
}

.listloteria {
	li {
	    float: left;
	    font-size: 12px;
	    font-weight: bold;
	    height: 132px;
	    margin: 5px !important;
	    overflow: hidden;
	    padding: 12px 15px 0;
	    text-align: center;
	    width: 153px;
	    background-color: #FFFFFF;
	    box-shadow: 0 3px 10px #CCCCCC;
	    border-radius: 5px;
	}

	img {
	    clear: both !important;
	    display: block;
	    float: none !important;
	    height: auto;
	    margin: 13px auto !important;
	    padding: 0;
	    width: 110px;
	}
}

// De esta manera si, pero hay que comprobar el selector.
// Esto no coloca el icono justo al lado de bet365

#content .table_seccion td img.bet365-alert {
    border-radius: 6px 6px 6px 6px;
    margin: -13px 0px 0px 73px !important;
    overflow: hidden;
    z-index: 999;
    position: relative;
}

// Zona privada

.usuario-resumen {
    float: right;
    width: 615px;
}

.tituser {
    clear: both;
    font-family: "Roboto Condensed";
    font-size: 23px;
    letter-spacing: -1px;
    padding: 15px 15px 10px 10px;
}

#respond .tituser {
    font-weight: normal;
    padding: 14px 0;
}

.usuario-resumen ul {
    padding: 0;
    margin: 0;
}

.usuario-resumen li {
    background-image: url("/images/ico_sec.gif");
    background-position: 5px 7px;
    background-repeat: no-repeat;
    font-size: 12px;
    line-height: 20px;
    list-style: none outside none;
    padding: 0 0 0 20px;
}

.avatar {
    float: left;
    margin-right: 20px;
    text-align: center;
    width: 165px;

    ul {
    	padding: 6px 10px;
    }

    li {
    	line-height: 20px;
    }
}

.grafic-analitycgral {
    float: right;
    height: 225px;
    margin: 11px;
    text-align: center;
    width: 775px;
}

.grafic-analityc {
    float: right;
    margin: 0 5px 0;
    overflow: hidden;
    text-align: center;
    width: 200px;
}

.analityc-descrip {
    float: left;
    width: 540px;
}

.grafic-profit {
    float: left;
    width: 470px;
    margin-left: 10px;
}

.grafic-descrip {
    float: right;
    width: 290px;
}

.recv {
    float: left;
    height: 11px !important;
    margin: 2px 5px 0 2px;
    width: 10px;
}

.nuevo-premio {
    padding: 1em 0;

    .input_buscar {
    	text-align: center;
    }

    label {
    	padding-right: 1em;

		&:nth-child(3) {
		    padding-left: 3em;
		}
    }

	#bt_nuevoPremio {
	    padding: 5px 50px 5px 62px !important;
	    margin-left: 3em;
	}
}



.panelusuario .liguillas-pertenece img {
    width: 50px;
    display: inline-block;
}

#cphCuerpo_hlMasLigas {
    margin-top: 1em;
    margin-top: 15px;
    display: block;
    float: left;
}

#admin_premios {

	.input_buscar {
    	text-align: center;
	}

	.eliminar {
	    background: transparent url(../imagenes/ico-eliminar.png) no-repeat 7px center;
	    display: block;
	    text-indent: 2em;
	    width: 4em;
	    cursor: pointer;
	    color: #600;
	}

	.modificar {
	    background: url(../../../images/spriteicons.png) 21px -278px no-repeat;
	    display: block;
	    text-indent: 3.5em;
	    width: 6em;
	    cursor: pointer;
	    height: 1.8em;
	    padding-top: .4em;
	    color: #063;
	}
}


#pnl_admin_miembros {
	.down {
	    background: transparent url(../imagenes/ico-eliminar.png) no-repeat 7px center;
	    display: block;
	    text-indent: 2em;
	    width: 4em;
	    cursor: pointer;
	    color: #600;
	    width: 10em;
	    margin-top: 11px;
	    text-indent: 1em;
	}

	.up {
	    width: 10em;
	    margin-top: 11px;
	    text-indent: 1em;
	}
}


.lista_miembros a.nombre-admin {
    padding: .5em 1em .5em 2.7em;
    background-color: #FFF;
    margin-left: -3em;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
    min-width: 5em;
    display: block;
    text-align: left;
    float: left;
}

#admin_miembros .commentPick {
    float: none;
    margin-bottom: 2em;
}

table#lista_admins,
table#lista_miembros {
    border-spacing: 11px;
    margin-top: 1px;
    margin-bottom: 1em;
}

.minileagues-user {
    padding-top: 41.5em;
}

.panelusuario .liguillas-pertenece {
	h2 {
		display: inline-block;
	    font-size: 1.5em;
	    float: left;
	}

	ul {
    	list-style: none;

    	li {
			display: block;
			float: left;
			width: 100%;
			padding-bottom: .5em;
    	}
	}

	a {
	    float: left;
	}
}

h2 span.mini-league-privada {
    position: absolute;
    right: 0;
    font-size: .6em;
    background: transparent url(../imagenes/ico-privada.png) no-repeat right center;
    padding-right: 2em;
}


.submenu.admin-liguilla {
    margin: -5px 0 23px -4px;
    padding-bottom: 17px;
    padding-left: 15px;
    border-bottom: 1px solid #ccc;

    li {
	    margin: 0 0 0 -4px;
	    padding: 5px 5px 5px 5px;
	    border: 0px;

	    &.current {
		    border: 1px solid #090;
		    border-radius: 5px;
		    padding: 5px 5px 5px 5px;
		    margin: 0 0 0 -4px
	    }
    }
}

.panelusuario .div50r {
    float: right;
    margin: 0 5px 20px;
    width: auto !important;
}

.panelusuario .div50l {
    float: left;
    margin: 0 5px 20px;
    width: auto !important;
}

.panelusuario .botongral {
    background-image: url("/images/spriteicons.png");
    float: right;
    margin: 5px 11px;
    float: right;
}

.infolector {
    padding: 5px 0 0 0;
}

.infolector .pickacierto,
.infolector .pickerror,
.infolector .pickpendiente,
.infolector .pick-devuelto {
    float: right;
    margin-top: -5px;
    width: 29px;
}

.galadon {
    float: left;
    margin: 8px 10px 0 0;
    text-align: center;
}

.premiado {
    float: left;
    margin: 8px 10px 0 0;
    text-align: center;
    margin: 0 5px;
    text-align: center;
    width: 160px;
}
td .premiado {
    margin: 0;
    text-align: left;
    width: auto;
}

#editing {
    background-color: #DDDDDD;
    margin: 30px 0 20px 0;
    position: relative;
    padding: 10px 22px 10px;
}

#respond input,
#respond .input_buscar {
    border: 1px solid #CFCFCF;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 12px;
    padding: 5px;
}

.responder input,
.responder .input_buscar {
    border: 1px solid #CFCFCF;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 12px;
    padding: 5px;
}

#respond input[type=checkbox] {
    float: left;
    margin: 1px;
    width: 17px;
}

.asunto {
    margin: 10px 0;

    span {
	    clear: both;
	    display: block;
	    margin: 0 0 5px;
    }
}

.dcha {
    float: right;
}

.infoperfil {
    display: inline-block;
    margin: 12px 0;
    width: 595px;
}

.pick-texto {
    display: inline-block;
    margin: 5px 0 0;
    opacity: .9;
}

.pick-acertado,
.pick-fallado,
.pick-pendiente,
.pick-devuelto {
    font-family: "Roboto Condensed", "Roboto";
    font-size: 19px;
    letter-spacing: -1px;
    padding: 10px 0;
}

.pick-acertado {
    color: #398c36;
}

.pick-fallado {
    color: #FF0000;
}

.pick-pendiente {
    color: #3F3F3F;
}

.pick-devuelto {
    color: #3982cd;
}

.pick-acertado .pickacierto,
.pick-fallado .pickerror,
.pick-pendiente .pickpendiente,
.pick-devuelto .pick-devuelto {
    display: inline-block;
    margin-bottom: -5px;
    width: 32px;
}

.pick-acertado br,
.pick-fallado br,
.pick-pendiente br,
.pick-devuelto br {
    display: none;
}

.n_pick {
    clear: both;
    height: 40px;
}

#respond,
.responder {
	.downservices3 img {
	    position: absolute;
	    right: -8px;
	    top: -5px;
	    border-radius: 12px;
	    cursor: pointer;
	}

	p {
	    margin: 15px 0;

	    &.comment-form-comment label {
    		display: none;
	    }
	}

	textarea {
		border: 1px solid #CFCFCF;
	    color: #555555;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 13px;
	    height: 165px;
	    line-height: 20px;
	    padding: 10px;
	    width: 97%;
	}

}

#respond input[type="text"],
#respond input[type="password"] {
    border: 1px solid #CFCFCF;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 30px;
    line-height: 20px;
    margin-right: 12px;
    padding: 0 0 0 10px;
    width: 320px;
}

#editing input[type="text"] {
    border: 1px solid #CFCFCF;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 30px;
    line-height: 20px;
    margin-right: 12px;
    padding: 0 0 0 10px;
    width: 320px;
}

.responder {

    input[type="text"],
    input[type="password"] {
	    border: 1px solid #CFCFCF;
	    color: #555555;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 13px;
	    height: 30px;
	    line-height: 20px;
	    margin-right: 12px;
	    padding: 0 0 0 10px;
	    width: 320px;
    }
}

.wpcf7-submit {
    background: none repeat scroll 0 0 #41464B;
    border: 1px solid #41464B;
    border-radius: 3px 3px 3px 3px;
    color: #EEEEEE;
    cursor: pointer;
    margin: 0 0 20px;
    padding: 5px 7px;
    transition: all 0.8s ease-in-out 0s;
}

#respond #submit {
    background: none repeat scroll 0 0 #006600;
    border: 1px solid #41464B;
    border-radius: 3px 3px 3px 3px;
    color: #EEEEEE;
    margin: 0 0 20px;
    padding: 5px 7px;
    transition: all 0.8s ease-in-out 0s;

    &:hover {
    	background: none repeat scroll 0 0 #292F33;
	    color: #FFFFFF;
	    cursor: pointer;
    }
}

#cargando {
    display: none;
    height: 126px;
    left: 50%;
    top: 50%;
    z-index: 5001;
    text-align: center;
}

.transparente {
    z-index: 5000;
    display: none;
    clear: both;
}

.identity-noticebar-content {
    background-color: #EDEDED;
    border-top: 1px solid #999999;
    bottom: 0;
    color: #333333;
    font-family: arial;
    font-size: 10px;
    left: 0;
    margin: 0 auto;
    padding: 2px 15px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;

    a {
	    color: #333333;
	    text-decoration: underline;
    }
}

#cerrarnoticebar {
    color: #000000;
    cursor: pointer;
    display: inline;
    font-size: 10px;
    margin: 0 0 0 23px;
    padding: 5px;
    text-decoration: none;
}

.paf {
    width: 166px;
    font-size: 12px;
    margin-top: 9px;

    img {
	    padding: 5px;
	    margin-top: 8px;
    }

    .externo {
    	background-color: #0E0EC7 !important;
    }
}

#divAnalisis .fn img {
    margin: 0 2px;
}

.divtw iframe {
    margin: 0 10px 10px;
    width: 760px !important;
    height: 300px;
}

.divtw .divtwhead {
    background-color: #FFFFFF;
    border-left-width: 0;
    border-radius: 5px;
    border-right-width: 0;
    border-top-width: 0;
    box-shadow: 0 0 10px -1px #CCCCCC;
    height: 37px;
    margin: 10px 12px -1px;
    width: 756px;
}

.divtw .divtwhead .ayudatw {
    color: #999999;
    float: left;
    margin: 6px 12px;
}

a.tw_ia {
    float: left;
    width: 340px;
    height: 27px;
    overflow: hidden;
    margin: 4px 0 0 14px;
    text-indent: 999px;
    background-image: url("/images/tw_ia.gif");
    background-position: left top;
    background-repeat: no-repeat;
}

a:hover.tw_ia {
    opacity: 0.5;
}

.ttupos {
    position: absolute !important;
    display: block;
    width: auto !important;
    margin: 5px 0 0;

    span {
	    width: 135px;
	}
}

.micuenta {

	.valuebets h4 {
	    position: relative !important;

	    .ttu.ttupos {
		    right: 545px;
		    top: 0px;
		    position: absolute !important;
		    overflow: visible;

		    &:hover {
    			right: 414px;
		    }
		}
	}

	.nuevos-picks h4 {
	    position: relative !important;

		.ttu.ttupos {
		    right: 519px;
		    top: 0px;
		    position: absolute !important;

		    &:hover {
    			right: 388px;
		    }
		}
	}

}

.ttu:hover span.middlete {
    display: block;
    padding: 5px 5px;
    text-align: left;
    width: 140px;
}

.siguenos {
    margin-top: 15px;
}

#Resultado td img.land {
    float: none;
}

#divAnalisis .fn .land {
    border-radius: 2px;
    border-right: 1px solid #CCCCCC;
    height: auto;
    margin: 0 14px 0 7px !important;
    padding: 0;
    width: 18px;
}

.cancel {
    cursor: pointer;
    float: left;
    height: 20px;
    overflow: hidden;
    text-indent: -999em;
    width: 20px;
}

// Script patrocinador de sportprix:
.contentsider .reclamopatro .sportprix_home_patr {
    left: 136px;
    position: absolute;
    top: 62px;
}

.boxcontent {
    position: relative;
}

.wrapper {
    margin: 0 auto;
    width: 998px;
    min-height: 1648px;
}

.box_content {
    margin-left: 0 !important;
}

.content_subseccion {
    clear: both;
    margin: 15px 2px 2px 2px;
    padding: 0;

	ul {
	    clear: both;
	    font-size: 12px;
	    color: #565656;
	    margin-left: 0;
	    margin-top: 5px;
	}

	li {
	    background-position: left top;
	    list-style-type: none;
	    background-repeat: no-repeat;
	    padding-left: 15px;

	    a:hover {
		    font-weight: bold;
		    text-decoration: underline;
	    }
	}

    p {
    	text-align: justify;
    }

    img {
	    float: left;
	    padding: 2px;
	    border-radius: 4px 4px 4px 4px;
    }

    h3 {
    	clear: both;
    }

    h1 {
    	padding: 0;
    }

    h2 {
	    margin: 10px 0;
	    padding: 5px 0;
	    font-family: "Roboto Condensed", "Roboto";
	    font-size: 27px;
	    font-weight: normal;
	    letter-spacing: -1px;
	    color: #4D4D4D;
    }

    table {
    	font-size: 12px;
    }

	.titulo_subseccion {
    	color: #006500;
	}

	.copete {
	    font-family: "Roboto Condensed", "Roboto";
	    font-size: 19px;
	    font-weight: normal;
	    padding: 0 3px 9px;
	}

	.box_destacados:after {
	    content: "";
	    clear: both;
	    display: block;
	    padding-bottom: .5em;
	}

	.box_destacados .destacados {
    	float: left;

    	.icondestacado {
		    float: right;

			img {
	    		width: 170px;
			}
		}
	}

	.destacados {
    	padding: 10px 0 5px;

    	.boxfloat {
		    float: left;
		    width: 25%;
		    padding-left: 35px;
		    min-height: 9em;
		    margin-right: 1em;

		    .icon img {
			    margin-left: -35px;
			    position: absolute;
			}

			.titulo {
			    color: #006600;
			    font-weight: 700;
			    text-align: left !important;
			}

			ul li {
			    background: url(../imagenes/icon_arrows.png) 5px 5px no-repeat;
			    padding-left: 15px;
			    list-style: none;
			}
		}

		.automovilismo {
		    background: url(../imagenes/icono_automovilismo.png) no-repeat;
		}

		.baloncesto {
    		background: url(../imagenes/icono_baloncesto.png) no-repeat;
		}

		.beisbol {
    		background: url(../imagenes/icono_beisbol.png) no-repeat;
		}

		.ciclismo {
    		background: url(../imagenes/icono_ciclismo.png) no-repeat;
		}

		.futbol {
    		background: url(../imagenes/icono_futbol.png) no-repeat;
		}

		.hockey {
    		background: url(../imagenes/icono_hockey.png) no-repeat;
		}

		.tenis {
    		background: url(../imagenes/icono_tenis.png) no-repeat;
		}

	}

	.listas {
	    padding-top: 30px;

		.titulo {
		    font-family: "Roboto Condensed", "Roboto";
		    font-size: 24px;
		    padding-bottom: 10px;
		}

		.box {
		    border: 1px solid #CDCDCD;
		    padding: 10px;

			&:after {
			    content: "";
			    clear: both;
			    display: block;
			}

			ul {
			    float: left;
			    width: 23%;
			    margin: 0 !important;
			    clear: none;

				li {
				    list-style: none;
				    background: url(../imagenes/icon_arrow.png) 5px 5px no-repeat;

					a {
					    color: #517D00;
					}
				}
			}
		}

		.link {
		    text-align: right !important;
		    padding-bottom: 30px;
		    padding-top: 10px;

			a {
			    color: #517D00;
			    font-weight: 300 !important;
			    background: url(../imagenes/icon_arrow.png) no-repeat right;
			    padding-right: 10px;
			}
		}
	}
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    margin-left: -1px !important;
}

.accesos_rapidos {
    width: 500px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 1px 0 rgba(0,0,0,0.1);
    background-color: white;
    ul {
	    width: 100%;
	    list-style: none;
        display: -webkit-box;display: -ms-flexbox;display: flex;
    }

    li {
        /*-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;*/
	    position: relative;
	    display: inline-block;
	    /*width: auto;*/
        width: 250px;
	    cursor: pointer;
	    text-align: center;
	    vertical-align: middle;
	    font-weight: bold;
        text-transform: uppercase;
	    color: #004600;
	    font: 12px/2.5 'Roboto';
        padding: 5px;
	    -webkit-transition: .3s all;
	    -moz-transition: .3s all;
	    transition: .3s all;

	    &.activo {
		    background: #004600;
		    color: #FFF;

		    &:after {
			    content: " ";
			    position: absolute;
			    left: 0;
			    bottom: -5px;
			    display: block;
			    width: 100%;
			    height: 5px;
			    background: url(../../../images/ico-accesos-rapidos.png) no-repeat center 0;
		    }
	    }

	    &:hover {
		    background: #004600;
		    color: #FFF;
		    -webkit-transition: .3s all;
		    -moz-transition: .3s all;
		    transition: .3s all;
	    }
	}
}

.perfil_consenso {
    font-size: 13px;
    margin: 0 0 32px 20px;
}

.bono_patrocinado {
    float: left;
    width: 98px;
    background-image: url("/images/spriteicons.png");
    background-position: right -122px;
    background-repeat: no-repeat;

    a {
	    font-size: 15px;
	    font-weight: bold;
    }
}

.valuebetsInfo {
    margin: 15px 0;
    padding: 0 0 15px 0;
    border-radius: 3px;
    border: 3px solid #d69628;

	.title {
	    background: #d69628;
	    margin: 0;
	    padding: 5px 0 5px 15px !important;
	    font: 14px 'Roboto';
	    color: #000;
	}

	ul {
	    padding-left: 15px;
	    padding-top: 15px;
	}

	li {
	    list-style: none;
	    margin: 0 0 15px 0;
	    padding: 0;
	    font: 14px 'Roboto Condensed', "Roboto";
	    color: #000;
	}

	a {
	    font-family: 'Myriad Pro';
	    font-weight: bold;
	}
}

.porra_lista li {
    background-image: url(/images/ico_flecha.gif);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 12px;
    margin-bottom: 20px;
}

.reclamo span {
    display: none;
}

.listType .cifra.si {
    color: #05568e;
}

.listType .cifra.no {
    color: #6d0606;
}

.wysiwyg {
    padding: 1em;

    img {
	    display: inline;
	    float: left;
	    margin: 0 2em 0 0;
    }

    p {
    	margin: 0 0 1em 0;

    	img {
    		float: none;
    	}
    }

    ul, ol {
	    margin-left: 1em;
	    margin-bottom: 1em;
	    padding-left: 1em;
    }

	.widgets {
	    position: relative;
	    border-top: none;
	    box-shadow: none;
	    text-align: right;

	    .commentsReplay {
		    position: relative;
		    left: auto;
		    bottom: auto;
		    margin-bottom: 10px;
		    border-bottom: 1px dotted #ccc;
		    text-align: right;

			.respond {
			    display: inline-block;
			    border-left: 1px dotted #ccc;
			    padding-left: 10px;
			    margin-left: 10px;
			}
		}
	}
}

.listItems .wysiwyg {
    padding: 0;
}

// Liguillas:
.lista_miembros {

	.commentPick .perfil {
	    height: 57px;
	}

	.down:hover {
	    opacity: .8;
	    transition: all .3s;
	}

	.up {
	    background: transparent url(/imagenes/ico-up.png) no-repeat 7px center;
	    display: block;
	    text-indent: 2em;
	    width: 4em;
	    cursor: pointer;
	    color: #090;

	    &:hover {
		    opacity: .8;
		    transition: all .3s;
	    }
	}

	.perfil {
    	padding-bottom: 1em !important;
	}

}

.throw {
    color: #FFF;
    background-color: #900;
    padding: .5em;
    margin: 1em;
    display: block;
    border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;

    &:hover {
	    opacity: .8;
	    transition: all .3s;
    }
}

.detail {
    position: relative;

	.wysiwyg {
	    clear: both;
	    padding: 0;
	}

	.title {
	    display: block;
	    padding-bottom: 10px;
	    font: 14px 'Roboto';
	    font-weight: bold;
	    color: #4d4d4d;
	}
}

#comments .analisis,
#comments2 .analisis,
.children .analisis,
#comments2 .commentlist .children .analisis,
#lista_comentarios .analisis {
    width: 100%;
}

#divAnalisis .analisis {
    margin-left: 140px;
    width: 82%;
}

.analisis {
	position: relative;
    float: left;
    width: 660px;
    font: 1em/1 'Roboto Condensed', 'Roboto';
    font-weight: 100;

	.date {
	    width: auto;
	    border: 0;
	    padding: 0;
	    margin: 0 0 10px 0;
	    font: 1em 'arial';
	    text-align: right;
	    color: #575757;

	    p {
		    margin-bottom: 0.2em !important;
		    text-align: right !important;
	    }
	}

	h2 {
	    padding: 0 10em 5px 0;
	    font-size: 2em;
	    text-transform: none;

	    a {
    		color: #006600;

    		&:hover {
			    color: #006600;
			    text-decoration: underline;
    		}
	    }

	    span {
		    padding: .2em .2em .2em 0em;
		    font-size: .6em;
		    text-transform: none;
		    width: 100%;
		    display: block;
		    color: #575757;
	    }
	}

	h3 {
	    padding: 5px 0 0 0 !important;
	    opacity: .9;
	    font-size: 1.04em;
	    text-transform: uppercase;

	    a {
		    padding: 5px 0 0 0 !important;
		    opacity: .9;
		    font-size: 1.04em;
		    text-transform: uppercase;
	    }
	}

	h4 {
	    font: 1.3em 'Roboto Condensed', 'Roboto';
	    font-weight: 100;
	}

	.activite {
	    display: block;
	    text-align: right;
	}

	.wysiwyg {
	    min-height: 30px;
	    padding: 0;
	    font: 1em/1.2 Arial;
	    font-weight: 100;

	    p {
    		margin-top: 1em;
		}
	}

	.pickTxt {
	    margin-bottom: 5px;
	    margin-top: 15px;
	    margin-right: 180px;
	    font-size: 20px;

		span:first-child {
		    font-size: 16px;
		}
	}

	.pick {
	    position: relative;
	    min-height: 2.3em;
	    margin: 0 0 4px 0;
	    font: 16px/1.3 'Roboto Condensed';
	    color: 484848;
	    float: left;

		dt {
		    position: absolute;
		    min-width: 70px;
		    bottom: 0;
		    display: inline-block;
		    font-size: 14px;
		    text-align: center;

		    &:nth-child(1) {
		    	min-width: 40px;
    			text-align: left;
		    }
		}

		dd {
		    display: inline-block;
		    min-width: 70px;
		    text-align: center;
		    font-weight: bold;

		    &:nth-child(2) {
			    min-width: 40px;
			    text-align: left;
			}
		}

		.pick-acertado,
		.pick-fallado,
		.pick-pendiente,
		.pick-devuelto {
		    padding: 0;
		    font-size: 1em;
		}

		img {
		    width: 75px;
		    height: auto;
		    vertical-align: middle;
		}
	}

	.editar {
		float: right;
	    padding: 0 0 0 1.7em;
	    margin-right: 13px;
	    width: auto;
	    background-repeat: no-repeat;
	    background-position: 0 -281px;
	    text-indent: inherit;
	}
}

.analisis .commentsReplay .editar {
    height: auto;
    background-position: 21px -271px;
}

#divAnalisis .analisis .date .pickerror,
#divAnalisis .analisis .date .pickacierto,
#divAnalisis .analisis .date .pickpendiente,
#divAnalisis .analisis .date .pickdevuelto {
    bottom: 7px;
}

.megustas {
    display: inline-block;
    font: 15px/2.2 'arial';
    font-weight: bold;
    border-right: 1px solid #CCC;
    padding-right: 15px;

    .megusta {
	    position: relative;
	    background: url(../../../images/me_gusta.png) no-repeat 0 center;
    }

    .nomegusta {
	    position: relative;
	    background: url(../../../images/no-megusta.png) no-repeat 0 center;
	}

	div {
	    display: inline-block;
	    padding: 0 0 0 1.2em;
	    opacity: .7;
	    color: #3b3b3b;
	    -webkit-transition: .3s all;
	    -moz-transition: .3s all;
	    transition: .3s all;
	    vertical-align: middle;
	    cursor: pointer;
	    margin: 0 8px;

	    &:hover {
		    opacity: 1;
		    -webkit-transition: .3s all;
		    -moz-transition: .3s all;
		    transition: .3s all;
	    }
	}

	span {
    	font-size: 14px;
	}
}

.megusta.sel {
    color: #060;
    opacity: 1;
    background-image: url(../../../images/me_gusta_sel.png);
}

.nomegusta.sel {
    color: #cb2b2b;
    opacity: 1;
    background-image: url(../../../images/no_megusta_sel.png);
}

.commentlist #respond {
    padding-top: 4em;
    margin-left: -3em;

    textarea {
    	width: 85%;
    }
}

.commentlist .responder textarea {
    width: 95.5%;
}

#respond,
.responder {
	clear: both;
    position: relative;
    margin: 0;
    padding: 0;
    background: none;

	&:before {
	    content: " ";
	    display: block;
	    position: absolute;
	    left: 65px;
	    top: 20px;
	    width: 7px;
	    height: 14px;
	    background: url(../../../images/textarea-comment.png) no-repeat 0 center;
	}

	&:after {
	    content: " ";
	    display: block;
	    clear: both;
	}

	textarea {
	    margin: 0 0 0 6px;
	    height: 40px;
	    width: 88%;
	    font: 13px 'arial narrow';
	    color: #808080;
	}

    .photo {
	    width: 55px;
	    margin-right: 5px;
	    border: 1px solid #c3c2c6;
	    border-radius: 50%;
	    vertical-align: top;
	    padding: 0;
    }

    .boton {
    	float: right;
    	margin-right: 0;
    }
}

#respond.sinBullet:before {
    background: none;
}

.responder:before {
    left: 0;
}

.commentlist #respond:before {
    top: 50px;
}

.commentlist #respond .finalizar {
    top: auto;
    bottom: 95px;
    right: 0;
}

.responder .downservices3 img {
    right: -33px;
    top: -18px;
}

#divAnalisis .commentlist li {
    border-bottom: 2px solid #B2ADAD;
}

.commentlist {
	clear: both;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;

    li {
	    position: relative;
	    padding-left: 140px;
	    min-height: 70px;
	    margin: 0 0 1em 0 !important;
	    border-bottom: 1px dotted #ccc;
	    padding-bottom: 10px;

	    &:after {
		    content: " ";
		    display: block;
		    clear: both;
	    }
    }

	.reply {
	    margin-top: 10px;

		span {
		    text-decoration: underline;
		    cursor: pointer;
		    color: #060;
		}
	}

	.perfil {
		height: 2em;
	    padding-bottom: 1em;
	    background-image: url(../../../images/ico-down-user.png);
	    background-repeat: no-repeat;
	    background-position: center 93%;
	    transition: .3s all;

		div {
		    opacity: 0;
		    transition: .3s all;
		}
	}

	.commentPick {
		&:hover {
			div {
			    opacity: 1;
			    transition: .3s all;
			    transition-delay: .2s;
			}

			.perfil {
			    height: 5em;
			    background-image: none;
			    transition: .3s all;
			}

			.photo {
			    transition: .2s all;
			    z-index: 11;
			}
		}
	}

	.children {
		clear: both;
	    list-style: none;
	    margin: 0 0 0 -40px;
	    padding: 10px 0 0 0;

	    li {
		    border-bottom: 0;
		    border-top: 1px dotted #ccc;
		    padding-bottom: 0;
		    padding-top: 10px;
		}

		.photo {
			width: 45px;
		}

		.commentPick {
			top: 10px;
		}

		.perfil {
			padding-top: 1em;
		}
	}

}

#divAnalisis .commentlist .perfil {
    height: auto;
    background-image: none;

	div {
	    opacity: 1;
	    margin-bottom: -1em;
	}
}

.commentsReplay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 3em;
    text-align: right;

    &:after {
	    content: " ";
	    display: block;
	    clear: both;
    }

    .abrir {
	    background: none !important;
	    padding-right: 0 !important;
    }
}

section.detail .share .commentsReplay {
    position: static;
    display: inline-block;
    width: auto;
    padding-right: 1em;
}

.litnot .respond {
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    vertical-align: top;
}

.detail .respond {
    padding-left: 17px;
}

.analisis .commentsReplay {
    position: relative;
    left: auto;
    bottom: auto;
    clear: right;

    .respond {
	    float: right;
	    margin-left: 1em;
	    margin-right: 2em;
	    padding-left: 1em;
	    font-family: "Roboto Condensed", "Roboto";
    }
}

.commentsReplay .respond a:hover {
    text-decoration: none;
}

// Iconos Tipster y Picks

.tipsterIco {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background: url(../../../images/bg-tipster.png) no-repeat 0 0;
    background-size: 30px;
    vertical-align: top;
    font: 1em/2 'Roboto';
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: default;

    &.ganador {
    	background-image: url(../../../images/bg-tipster-experto.png);
	    line-height: 3.8;
	    font-size: .8em;
	    color: #000;
    }

    &.disabled {
    	background-image: none;
    }

    &.conmedalla {
    	background-image: url(../../../images/bg-tipster-experto.png);
    }
}

.table_seccion .tipsterIco {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    background-size: 25px;
    line-height: 1.6;
    vertical-align: middle;

    &.ganador {
	    font-size: .6em;
	    line-height: 4.2;
    }
}

nav.tabNavBarPerfil .tipsterIco.ganador {
    background-image: url(../../../images/bg-tipster-experto.png);
    line-height: 4.8;
    font-size: 0.7em;
    color: #000;
}

.experto {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    background: url(../../../images/bg-picker.png) no-repeat 0 0;
    background-size: 30px;
    vertical-align: top;
    font: 1em/2 'Roboto';
    font-weight: bold;
    text-align: center;
    color: #000;
    cursor: default;

    &.disabled {
    	background-image: none;
	}

	&.conmedalla {
    	background-image: url(../../../images/bg-picker-experto.png);
	}

	&.ganador {
	    background-image: url(../../../images/bg-picker-experto.png);
	    line-height: 3.8;
	    font-size: .8em;
	}
}

.table_seccion .experto {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    background-size: 25px;
    line-height: 1.6;
    vertical-align: middle;
}

nav.tabNavBarPerfil aside {
    position: absolute;
    right: 2px;
    top: 14px;
    font: .7em/2 'Roboto';
}

.table_seccion .experto.ganador {
    font-size: .6em;
    line-height: 4.2;
}

nav.tabNavBarPerfil .experto.ganador {
    font-size: .7em;
    line-height: 4.8;
}

.moneda {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 25px;
    margin-right: 5px;
    background-size: 23px;
    background-repeat: no-repeat;
    vertical-align: top;

    &.nivel1 {
    	background-image: url(../../../images/bg-moneda-nivel1.png);
    }

    &.nivel2 {
    	background-image: url(../../../images/bg-moneda-nivel2.png);
    }

    &.nivel3 {
    	background-image: url(../../../images/bg-moneda-nivel3.png);
    }
}

.table_seccion .moneda {
    width: 20px;
    height: 25px;
    margin-top: 3px;
    background-size: 20px;
    vertical-align: middle;
    cursor: default;
}

.newPickForm {
	fieldset {
	    margin-bottom: 2em;
	}

	legend {
	    display: block;
	    margin-bottom: .3em;
	    font: 1.5em/1 'Roboto Condensed';
	}

	ul {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}

	li {
	    display: inline-block;
	    vertical-align: top;

		span {
		    display: block;
		}
	}

	input[type="text"],
	input[type="password"] {
	    width: 100%;
	    margin-right: 0 !important;
	    margin-bottom: .5em;
	    margin-top: .3em;
	}

	textarea {
	    width: 100%;
	    margin-right: 0 !important;
	    margin-bottom: .5em;
	    margin-top: .3em;
	}

	select {
	    width: 333px;
	}

	.mceEditor {
	    width: 700px;
	}
}

.share {
    clear: both;
    margin: 0 0 1em 0;
    border-bottom: 1px dotted #808080;
    text-align: right;

    p,
    div {
	    display: inline-block;
	    vertical-align: middle;
	    font-weight: bold;
	    margin-bottom: .5em;
    }

    &:after {
	    content: " ";
	    display: block;
	    clear: both;
    }

}

#recargarinfo:after {
    content: " ";
    display: block;
    clear: both;
}

.volver {
    display: block;
    margin: 0 0 2em 0;
    text-align: right;

    .btn {
	    display: inline-block;
	    border-radius: 3px;
	    padding: 0 1em !important;
	    background: #036803;
	    font: 100 14px/2.5 "Roboto";
	    color: #fff;
    }
}

.games {
    float: left;
    position: relative;
    width: 47%;
    margin-left: 22px;
    color: #484848;

    &.large {
	    width: 100%;
	    margin: 0;

	    &:after {
		    content: " ";
		    display: block;
		    clear: both;
	    }
    }

    .title {
    	margin: 0 0 .5em 0;
	    padding: 0 2.4em .3em .1em;
	    font: 40px/1 'new_athletic_m54regular';
	    font-style: italic;

	    span {
		    font-family: 'Roboto';
		    font-weight: 700;
	    }
    }

    &:first-child {
	    margin-right: 22px;
	    margin-left: 0;
    }

    h3 {
    	&:after {
		    content: " ";
		    display: block;
		    clear: both;
    	}

    	span {
    		float: right;
		    font-size: 17px;
		    line-height: 2;
    	}

    	.puesto {
    		float: none;
		    display: inline-block;
		    padding-left: 5px;

		    span {
			    float: none;
			    font-size: 12px;
		    }
    	}
    }

    .middle-block-games {
    	float: left;
    	width: calc(100% - 170px);
	    padding-right: 20px;
    }

    .middle-block-games + h3 {
    	clear: both;
    }

    .middle-block-img {
    	float: right;
    }
}

.subhome.games .title {
    margin: .3em 0 .1em 0;
    padding: 0 0 0 .4em;
    font-size: 60px;
}

.games_perfil aside {
    position: absolute;
    right: 0;
    top: 0;

	.tipsterIco,
	.experto {
	    display: inline-block;
	    width: 45px;
	    height: 45px;
	    padding: 0;
	    margin: 0;
	    background-size: 45px;
	    font: 18px/2 'Roboto Condensed';
	    color: #000;
	    letter-spacing: -.5px;
	    text-align: center;
	    vertical-align: top;

	    &.ganador {
		    font-size: 12px;
		    line-height: 4.5;
	    }
	}
}

.games .resumenList {
    display: table;
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0 0 1em 0;
    width: 100%;
    border-bottom: 1px solid #000;
    font: 15px 'Roboto';
    font-weight: 700;

    li {
	    display: table-cell;
	    text-align: center;
	    vertical-align: bottom;

	    span {
		    display: block;
		    font-size: 12px;
		    font-weight: 400;
	    }
    }
}

.games {
	footer {
	    margin: 0 0 33px 0;
	    font: 12px 'Roboto';
	    letter-spacing: -.25px;
	    text-align: right;

	    a {
	    	text-decoration: underline;
	    }
	}

	.fecha {
	    border: 1px solid #c0c0c0;
	    border-left: 0;
	    border-right: 0;
	    padding: .3em 0;
	    margin-bottom: .7em;
	}

	.botongral {
	    display: block;
	    position: absolute;
	    bottom: 1em;
	}

	.pronosticos {
	    font: 17px 'Roboto';
	    font-weight: 700;
	    color: #000;
	    text-transform: uppercase;
	    letter-spacing: -.25px;
	}

	.todos-ponosticos-btn {
    	margin-top: 15px;
	}
}

.fecha {
    border: 1px solid #c0c0c0;
    border-left: 0;
    border-right: 0;
    padding: .3em 0;
    margin-bottom: .7em;
}

.games.large .pronosticos {
    margin-bottom: 2em;
}

.competitions .games .pronosticos {
    margin-bottom: 10px;
    text-align: center;
}

.games .todos-ponosticos-btn {
    margin-top: 15px;
}

.games .todos-ponosticos-btn .botongral {
    display: inline;
    position: static;
}

.games.tipster .title {
    border-bottom: 1px solid #AD4509;
    color: #AD4509;

    a {
    	color: #AD4509;
    }
}

// Tipster:

.subhome.games.tipster .title {
    border-bottom: 0;
}

// Picks:

.games.picks .title {
    border-bottom: 1px solid #ffb72b;
    color: #ffb72b;

    a {
    	color: #ffb72b;

    	&:hover,
    	&:hover span {
    		text-decoration: underline;
    	}
    }
}

.subhome.games.picks .title {
    border-bottom: 0;
}

// Friki:

.games.friki .title {
    border-bottom: 1px solid #f79c39;
    color: #f79c39;
}

.games.friki .title a {
    color: #f79c39;
}

.subhome.games.friki .title {
    border-bottom: 0;
}

// Porra:

.games.porra .title {
    border-bottom: 1px solid #019bdd;
    color: #019bdd;
    font-size: 28px;

    a {
    	color: #019bdd;
    }
}

.subhome.games.porra .title {
    border-bottom: 0;
}

.games.porra strong {
    display: block;
    color: #036803;
}

// Final Porra.

// Competiciones:
.listItems {
	section:after {
	    content: " ";
	    clear: both;
	    display: block;
	}

	.img {
	    float: right;
	    margin: 0 0 20px 20px;
	}
}

#content_seccionb.premios h4 {
    display: block;
    text-align: center;

    strong {
	    font-size: .9em;
	    display: block;
	    clear: both;
    }

    span {
	    font-size: 2em;
	    color: #036300;
	    font-weight: bold;
    }
}

tr#lista_liguillas td {
    vertical-align: top;
}

table.premios {
	display: table;
    min-width: 316px;
    margin: 0 auto;

	th {
	    text-align: center;
	    font-weight: 700;
	}

	td.porcentaje {
	    border: 1px solid #999;
	    text-align: left;
	    padding: 0 10px 0 0;
	    margin: 0;
	    display: block;
	    position: relative;

	    span {
		    background-color: #004600;
		    padding: 0 0;
		    display: block;
	    }

	    em {
		    font-style: normal;
		    position: absolute;
		    right: 9px;
		    top: 0;
	    }
	}
}
// Final Competiciones.

.logo_live {
    margin-top: -4px;
}

.compartir {
    width: 100% !important;

    div {
    	width: 100% !important;
    }
}

.oblig {
    background-image: none;
    padding-left: 0;
    padding-right: 23px;

	span.ast {
	    padding: 0px 10px 0 2px;
	    color: green;
	    vertical-align: middle;
	}
}

.especial_copa {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 24px 0;
    cursor: pointer;
}

.right-50 {
    float: right;
    width: 50%;
}

.left-50 {
    float: left;
    width: 50%;
    float: left;
    width: 50%;
}

.left-50 h3:not(:first-child) {
    margin-top: 1em;
}

.left-50:nth-of-type(1) {
    width: 47%;
    padding-right: 2%;
}

// Menu perfil:
.panelusuario .games {
    width: 100%;
    margin: 0em 0em 0em 0em;

    .title {
    	font-size: 32px;
    }

    h3 a {
    	font-size: 1em;
	}
}

.games h2 aside {
    float: right;
    position: absolute;
    right: 0;
    top: 0;

    span {
    	font-size: 0.4em;
    }

    .experto.ganador,
    .tipsterIco.ganador {
    	font-size: 0.3em !important;
    }
}

.datos-pick {
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
}

// Barra lateral:

/* Quitamos el buscador 'antiguo'
- si lo borramos del documento, salta error, de aqui este hack */

.buscador-antiguo {
    display: none;
}

.panelusuario .userInfo .ttupos {
    display: inline;
    margin-top: 6px;
    margin-left: 11px;
}

.respond {
    float: right;
    cursor: default;

    i {
    	color: grey;

    	&:nth-child(1) {
    		position: relative;
    		left: -5px;
    	}

    	&:nth-child(2) {
		    position: relative;
		    top: 8px;
		}
    }
}

// iApuestas » Apuestas Deportivas » Apuestas Futbol:
.block_subgratis {
	float: left;
	width: 50%;
}