.loginContainer {

	table {
		width: 300px;
		margin: 0 auto;

		.input_reg {
			position: relative;
			top: 5px;
			width: 150px;
			padding: 5px;
			margin-bottom: 10px;
			border: 1px solid #DDD; 
			@include border-radius (2px);
		}

		.boton {
			@include border-radius (2px);
			float: right;
			padding-right: 14px;
			margin-right: 80px;
			margin-top: 20px;
		}
	}

	.recordar {
		width: 300px;
		margin: 20px auto; 
		line-height: 20px;
	}
}

.loggedContainer {
	padding-bottom: 10px;
	margin-bottom: 30px;
}