// Usuario:

// Menu de pestanias del usuario (Mis Tipster, Mis picks, etc)
.tabNavBarPerfil {
    position: relative;
    margin: 0 0 2em 0;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;

    .title {
	    padding: 18px 9em 24px 24px;
	    margin: 0;
	    border-bottom: 1px solid #b5b5b5;
	    font: 30px/1 'Roboto';
	    color: #004600;
	    letter-spacing: 0;
	}

	.patroseccion {
	    position: absolute;
	    right: 2em;
	    top: 2em;
	    float: none;
	    margin: 0 !important;
	}

	ul {
	    position: relative;
	    list-style: none;
	    margin: 0;
	    padding: 0;

		ul {
		    display: none;
		}

		a {
		    display: block;
		    padding: 15px 30px;
		    font-family: 'Roboto';
		    font-size: 19px;
		    color: #666;
		    font-weight: lighter;
		}
	}

	li {
	    position: relative;
	    display: inline-block;
	    margin: 0;
	    vertical-align: top;
	    font: 16px/1 'Roboto';
	    font-weight: bold;
	    text-transform: uppercase;
	    color: #fff;

	    img {
		    position: absolute;
	    	top: 10px;
	    	right: 0px;
	    }

	    a.seguido {
	    	padding-right: 40px;
	    }

	    &.current a {
	    	border-top: 2px solid #699e66;
    		color: #106007;
	    }
	}

	&.apuestas {
		ul {
		    padding-top: 24px;
		}

		li {
		    position: relative;

		    a {
			    position: relative;
			    z-index: 2;

			    &.seguido {
			    	padding-right: 40px;
			    }
			}
		}

		li:nth-child(2):after {
		    content: "PRONâ”œÃ´STICOS";
		    display: block;
		    position: absolute;
		    top: -2em;
		    padding-top: 5px;
		    margin: 0 0 0 -.8em;
		    background: #bebebe;
		    width: 110%;
		    height: 5em;
		    text-align: center;
		    font: 12px 'Roboto';
		    color: #6e6e6e;
		}

		&.large {
			li:nth-child(2):after {
			    content: "PRONâ”œÃ´STICOS";
			    display: block;
			    position: absolute;
			    top: -2em;
			    padding-top: 5px;
			    margin: 0 0 0 -.8em;
			    background: #bebebe;
			    width: 215%;
			    height: 5em;
			    text-align: center;
			    font: 12px 'Roboto';
			    color: #6e6e6e;
			}
		}
	}
}

.tabNavBarPerfil .current a,
.tabNavBarPerfil li a:hover {
    color: #106007;
}

.tipster .tabNavBarPerfil .current a {
    color: #ad4509;
}

.picks .tabNavBarPerfil .current a {
    color: #ffb72b;
}

.tabNavBarPerfil {
	.current {
		a {
			&.menu-tipster {
			    border-top: 2px solid #974314;
			    color: #974314;
			    padding: 15px 2.5em 15px 15px;
			}

			&.menu-picks {
			    border-top: 2px solid #ffb72b;
			    color: #ffb72b;
			    padding-right: 2.3em;
			}
		}
	}
}


.friki .tabNavBarPerfil .current a {
    color: #f79c39;
}

.porra .tabNavBarPerfil .current a {
    color: #019bdd;
}

.tabNavBarPerfil ul {
	a {
		&.menu-tipster {
		    border-left: 1px solid #CCC;
		    text-align: center;
		    display: block;
		    min-width: 9em;
		    margin: 0;
		    padding: 15px 2.5em 15px 15px;
		}

		&.menu-picks {
		    border-right: 1px solid #CCC;
		    border-left: 1px solid #CCC;
		    text-align: center;
		    display: block;
		    min-width: 7em;
		    margin: 0;
		    padding: 15px 40px 15px 15px;

		    span {
			    text-align: center;
			    display: inline;
		    }
		}
	}
}

.tabNavBarPerfil li a:hover {
    color: #106007;
    text-decoration: none !important;
}

.tipster .tabNavBarPerfil .current a {
    color: #ad4509;
}

.subpestanas.tipster .current a {
    color: #974314;
    border-bottom: 2px solid #974314;
    text-decoration: none;
}

.tabNavBarPerfil a.menu-tipster:hover {
    color: #974314;
    text-decoration: none !important;
    transition: all .3s;
}

.subpestanas.picks .current a {
    color: #ffb72b;
    border-bottom: 2px solid #ffb72b;
    text-decoration: none;
}

.tabNavBarPerfil a.menu-picks:hover {
    color: #ffb72b;
    text-decoration: none !important;
    transition: all .3s;
}
/*    Fin de Menu de pestanias del usuario (Mis Tipster, Mis picks, etc) */

// Perfil de usuario (cabecera con nombre, rating, boton de seguir...):
.userInfo {
	position: relative;
    margin: 20px 0 10px 0;

    &:after {
	    content: " ";
	    display: block;
	    clear: both;
    }

	.tools {
	    position: absolute;
	    right: 0;
	    /*top: -1.2em;*/
	    max-width: 115px;

		.botonvacio,
		.seguir {
		    display: block;
		}

	}

	.avatar {
	    margin: 0px 20px 20px 20px;
	    border-radius: 50%;
	    border: 2px solid #e5e5e5;
	}

	h1 {
	    display: inline-block;
	    padding: 0;
	    margin-right: .5em;
	    font: 24px/1 'Roboto';
	    vertical-align: middle;
	    color: #000;
        letter-spacing: -1px;
	}

	.galadon {
	    float: none;
	    display: inline-block;
	    vertical-align: middle;
	    margin: 0;
	}

	span {
		&.tipster,
		&.experto,
		&.ganador,
		&.beneficio,
		&.pickwinner {
		    vertical-align: middle;
		}
	}

	.ratingstar {
	    float: none;
	    display: inline-block;
	    width: auto;
	    padding-left: 1em;
	    margin-left: .5em;
	    border-left: 1px solid #c8c8c8;
	    line-height: 2;
	    vertical-align: middle;
	    font: 14px/1 'Roboto';
	    font-weight: 100;
	    color: #000;
	    letter-spacing: -0.25px;

		span {
		    display: inline-block;
		    padding: 0 5px 0 0;
		    vertical-align: middle;
		}
	}

	.star {
	    float: none;
	    display: inline-block;
	    margin: 0 .1em;
	    vertical-align: middle;
	}

	.wysiwyg {
	    font: 14px/1.3 'Roboto';
	    color: #000;
	}

	.btn_seguir_tw {
	    margin: 10px 0px;
	    padding-left: 20px;
	    display: inline;
	    font: 14px/1 'Roboto';
	    clear: both;
	    background: #f6f5fa url(/images/icon_twitter.png) no-repeat left center;

	    a {
    		color: #4abfc4;
	    }
	}

}