@mixin btn-pick-color($color: grey) {
	background-color: $color;
	border-color: darken($color, 15%);

	&:hover { background-color: darken($color, 5%); }
}

.correccion-picks-prueba {
	clear: both;
	max-width: 433px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.btn-pick {
	display: inline-block;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Roboto";
    font-size: 11px;
    letter-spacing: 2px;
    border-radius: 3px;
    border: 1px solid rgb(146, 146, 146);
    box-shadow: 0px 0px 3px rgb(128, 128, 128);
    cursor: pointer;
    color: white;
    border-bottom-width: 4px;
    border-bottom-style: solid;

	& ~ & {
		margin-left: 10px;
	}

	&.negative    { @include btn-pick-color(rgb(210, 78, 78));  }
	&.medium      { @include btn-pick-color(rgb(93, 161, 187)); }
	&.affirmative { @include btn-pick-color(rgb(91, 152, 91));  }
}
