/* Apuestas cruzadas ES */

.apuestas_cruzadas_ES-title {
    position: relative;
    top: 10px;
    float: left;
    display: block;
    width: 100%;
    height: 42px;
    line-height: 40px;
    margin-top: -11px;
    padding-bottom: 0px;
    padding-left: 20px!important;
    background-color: #1d201d!important;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 12px 0px;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    box-shadow: 0 3px 10px #CCCCCC;
}

.apuestas_cruzadas_ES-title a {
    color: white;
}

.apuestas_cruzadas_ES {
    position: relative;
    margin-top: 0px;
    background-image: url("/images/bg-apuestas-cruzadas.gif");
    background-repeat: no-repeat;
    background-position: 0px 3px;
    border-right: none;
    margin-left: 9px;
}

.apuestas_cruzadas_ES:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    width: 1px;
    height: 50%;
    margin-top: -35px;
    background-color: #dbdada;
}

.apuestas_cruzadas_ES ul {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 2px!important;
    padding-bottom: 5px!important;
    padding-left: 20px!important;
    box-sizing: border-box;
    overflow: hidden;
}

.apuestas_cruzadas_ES .modulo_patro_nuevo {
    position: relative;
    overflow: hidden;
}

.apuestas_cruzadas_ES .modulo_patro_tit p {
    margin-left: 19px;
    width: 219px;
}

.apuestas_cruzadas_ES li a:last-child {
    position: relative;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Guia de apuestas cruzadas ES */

.apuestas_cruzadas_ES,
.guia_apuestas_home_ES {
    position: relative;
    top: 14px;
    height: 157px;
    margin-top: -4px;
    margin-bottom: 12px;
    border-top: 0px;
    background-color: white;
}

.apuestas_cruzadas_ES h3 {
    margin-left: 90px;
    padding-top: 3px;
    color: white;
}

.apuestas_cruzadas_ES h3 strong {
    font-weight: normal;
}

#cruzadas-container {
    height: 45px!important;
}

#cruzadas-container .prox {
    height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}