/* Apuestas Live ES */

.apuestas_live_home {
    background-image: url("/images/bg-apuestas-live.png");
    background-repeat: no-repeat;

	.texto {
    	margin-top: 0px;
	}

	.modulo_patro_nuevo {
		h3 {
			margin-left: 86px;

			a {
				color: #FFF;
                font-family: 'Exo 2', 'Roboto', Arial;
			}
		}
	}

	.modulo_patro_tit .box_bono span {
		border-left: 1px solid #f6f5fa;
	    border-right: 1px solid #f6f5fa;
	    border-bottom: 1px solid #f6f5fa;
	}
}

.apuestas_live_home_ES {
    position: relative;
    top: -11px;
    width: 297px;
    height: 224px;
    border-bottom: 0px;
    background-color: white;
    box-shadow: 0 3px 10px #CCCCCC;
    background-image: none;
    background-position: -79px 24px;
}

.apuestas_live_home_ES .modulo_patro_tit {
    position: relative;
    top: 38px;
    height: 50px;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 3px;
    padding: 7px 8px 0px 10px;
}

.apuestas_live_home_ES .modulo_patro_tit p {
    width: 144px;
    margin-left: 10px;
}

.apuestas_live_home_ES .modulo_patro_nuevo {
    height: 140px;
}

.apuestas_live_home_ES h3 {
    position: relative;
    top: -71px;
    height: 39px;
    line-height: 39px;
    margin-top: 12px;
    margin-left: 0px!important;
    padding-left: 20px!important;
    padding-bottom: 0px;
    background-color: #1D201D;
    font-size: 25px;
    font-weight: 500;
}

.apuestas_live_home_ES h3 strong {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.apuestas_live_home_ES #live-container {
    position: relative;
    top: -9px;
    height: 106px!important;
}

.apuestas_live_home_ES ul {
    width: 100%;
}

.apuestas_live_home_ES #live-container li {
    width: 100%;
    height: 32px!important;
    padding-top: 2px!important;
    font-size: 10px;
    border-bottom: 1px solid #dddddd;
}

.apuestas_live_home_ES #live-container li a:first-child {
    float: left;
    display: inline-block;
    height: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

.apuestas_live_home_ES #live-container li a:first-child img {
    position: relative;
    top: 50%;
    margin-top: -10px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 0px;
    border-radius: 3px;
}

.apuestas_live_home_ES #live-container li a:nth-child(2) {
    font-size: 10px;
    font-weight: 400;
    font-size: 11px;
}

.apuestas_live_home_ES #live-container a:last-child {
    display: block;
    height: 22px;
    line-height: 22px;
    text-align: left;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Marquesina live */

#live-container {
    height: 40px !important;
    margin: 4px 12px;
    overflow: hidden !important;

    .prox strong {
	    display: inline-block;
	    max-width: 240px;
	    height: 13px;
	    overflow: hidden;
    	text-overflow: ellipsis;
    }
}

#live-container ul {
    padding: 0;
    margin: 0;
}