/* BLOG EN HOME ES */

.last-posts-ES {
    width: 100%;
    height: 292px;
    overflow: visible;
    margin-top: 11px;
    margin-bottom: 4px;
    margin-left: 0px;
    box-shadow: none;
}

.last-posts-ES h4 {
    width: 100%;
    height: 64px;
    text-align: center;
    font-weight: 400;
}

.last-posts-ES ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 10px;
    overflow: visible;
}

.last-posts-ES ul li {
    width: 30%!important;
    height: 87%;
}

.last-posts-ES ul li:first-child {
    margin-left: 20px;
}

.last-posts-ES ul li + li {
    margin-left: 19px;
}

.last-posts-ES .title {
    box-sizing: border-box;
    display: block;
    height: 43px;
    margin-bottom: 9px;
    padding: 5px 0 0 11px;
    background-color: #036803;
    color: white;
    font-family: "Roboto Condensed", "Roboto";
    font-size: 27px;
    font-weight: normal;
    letter-spacing: -1px;
    border-radius: 3px;
}

.last-posts-ES .title strong {
    font-weight: 400;
}

.last-posts-ES ul li {
    position: relative;
    float: left;
    box-sizing: border-box;
    display: block;
    width: 32%;
    height: 87%;
    max-height: 246px;
    background-color: white;
    box-shadow: 0 3px 10px #CCCCCC;
}

.last-posts-ES ul li:hover {
    box-shadow: 0 0px 18px 1px #CCCCCC;
}

.last-posts-ES img {
    position: relative;
    top: -50%;
    left: 0px;
    width: 100%;
    height: 240px;
}

.last-posts-ES .commentsReplay {
    position: relative;
    display: block;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
}

.last-posts-ES .commentsReplay span.stng {
    position: relative;
    left: 0px;
}

.last-posts-ES ul li:hover p {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: table;
    width: 100%;
    height: 159px;
    visibility: visible;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(3, 104, 3, 0.75);
    border-bottom: 5px solid #21610B;
    box-shadow: 0 -6px 33px black inset;
}

.last-posts img,
.last-posts-ES img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 98%;
    height: 100%;
    min-height: 0;
    border-right: 1px solid green;
    border-left: 1px solid grey;
}

.last-posts-ES img {
    width: 100%;
    height: auto;
    position: relative;
    top: -21%;
}

.last-posts-ES a {
    display: block;
    height: 100%;
}

.last-posts-ES a>div:first-child {
    position: relative;
    width: 100%;
    height: 157px;
}

.last-posts-ES a>div:first-child:after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 2px;
    box-shadow: 0px 1px 11px 3px rgba(0, 0, 0, 0.5);
}

/* Blog en Home */

.last-posts {
    float: none;
    left: 0%;
    width: 287px;
    height: 224px;
    margin-top: 0px;
    margin-left: 13px;
    padding-left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: none;
    display: none;
}

.last-posts header {
    width: calc(100% - 62px);
    height: 100%;
    padding-left: 14px;
    padding: 11px!important;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    line-height: 18px;
    font-size: 17px;
}

.last-posts a:hover header {
    text-decoration: underline;
}

.last-posts a .commentsReplay {
    display: block;
}

.last-posts .title {
    box-sizing: border-box;
    display: block;
    height: 38px;
    margin-bottom: 0px;
    padding: 5px 0 0 11px;
    background-color: #036803;
    color: white;
    font-family: "Roboto Condensed";
    font-size: 27px;
    font-weight: normal;
    letter-spacing: -1px;
}

.last-posts .title strong {
    font-weight: 400;
}

.last-posts .title:hover {
    text-decoration: underline!important;
}

.last-posts ul {
    width: 100%;
    height: 226px;
    box-sizing: border-box;
    margin: 0;
    padding-left: 0px;
    overflow-y: hidden;
}

.last-posts ul li {
    position: relative;
    float: left;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 62px;
    max-height: 246px;
    margin-right: 0px;
    background-color: white;
    box-shadow: 0 3px 10px #CCCCCC;
    border-bottom: 1px solid #CACACA;
}

.last-posts li>a {
    display: block;
    height: 100%;
}

.last-posts a>div:first-child {
    float: right;
    overflow: hidden;
    width: 62px;
    height: 61px;
}

.last-posts .commentsReplay {
    display: none;
    position: absolute;
    left: 0px;
    width: 78%;
    height: 12px;
    padding-left: 0px;
    background-color: white;
    line-height: 21px;
}

.last-posts .commentsReplay span {
    height: 100%;
    margin-top: 0px;
    padding-left: 0px;
    font-size: 9px;
    font-weight: 400;
    font-style: italic;
    color: #A4A4A4;
}

.last-posts .commentsReplay span.stng {
    position: absolute;
    left: 32%;
    bottom: -2px;
    width: 60px;
    height: 100%;
    line-height: 12px;
}

.last-posts .commentsReplay span.respond {
    width: 18%;
    height: 100%;
}

.last-posts .commentsReplay span.respond i {
    float: left;
    position: static;
    left: 0px;
    display: block;
    width: 50%;
    height: 100%;
    line-height: 12px;
}

.last-posts .commentsReplay span i {
    font-size: 9px;
}

.last-posts .commentsReplay span i.material-icons {
    top: 4px;
    font-size: 13px;
    color: #e5dede;
}

.last-posts p {
    display: none;
}