.guia_apuestas_home {

	background-image: url("/images/bg-guia-apuestas.png");
    background-repeat: no-repeat;

	.modulo_patro_nuevo {
		h3 {
    		margin-left: 83px;

    		a {
    			color: #FFF;
                font-family: 'Exo 2', 'Roboto', Arial;
    		}
		}

		.guia {
    		margin-left: 86px !important;
		}
	}

	.modulo_patro_tit .box_bono span {
		border-left: 1px solid #f6f5fa;
	    border-right: 1px solid #f6f5fa;
	    border-bottom: 1px solid #f6f5fa;
	}
}

.guia_apuestas_home_ES {
    width: 396px;
    border-left: 0px;
    background-position: 7px 12px;
    box-shadow: 6px -1px 8px -5px #CCCCCC;
    border-bottom: 5px solid #FFB72B;
    background-image: url("/images/bg-guia-apuestas.png");
    background-repeat: no-repeat;
}

.guia_apuestas_home_ES .modulo_patro_tit p {
    margin-left: 17px;
}

.guia_apuestas_home_ES h3 {
    width: 70%;
    height: 33px;
    line-height: 39px;
    margin: 23px auto;
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 3px;
    box-shadow: 0px 0px 3px grey;
}

.guia_apuestas_home_ES h3 a {
    display: inline-block;
    width: 100%;
    font-size: 18px;
}