@import "layout";
@import "apuestas-cruzadas";
@import "apuestas-live";
@import "blog";
@import "guias-apuestas";

// Otros:
.info-home {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.33);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 3px 10px #CCCCCC;
    border-radius: 3px;
    border-bottom: 5px solid rgb(0, 128, 0);

	a {
		font-weight: 700;
		text-decoration: underline;
	}

	p {
    	margin-bottom: 20px;
		padding-left: 20px;
    	padding-right: 20px;

    	&:last-child {
		    max-width: 500px;
		    margin: 0 auto;
		    text-align: center;
		    font-weight: 700;
		    font-size: 14px;
    	}
	}
}

.logoApuestipPortada {
    margin: 20px 10px 10px 0;
}