// Caja home:

.boxhome {
    width: 394px;
    height: 155px;
    margin-top: 10px;
    padding: 0;
    color: #4b4b4b;
    box-shadow: 0 3px 10px #CCCCCC;
    border: 1px solid #DDDDDD;

    ul {
	    margin: 8px 10px;
	    padding: 0;
	    list-style-position: inside;
	    list-style-type: none;
	    font-size: 12px;

	    li span {
		    display: inline-block;
		    margin: 2px;
	    }
	}

	li.live {
	    clear: both;
	    height: 20px !important;
	    line-height: 16px;
	    list-style-type: none;
	    margin: 0 !important;
	    padding: 0 0 3px !important;

	    img {
		    float: left;
		    margin: -2px 5px 5px 0;
	    }
	}

	li.prox img {
		float: left;
	    margin: -2px 5px 5px 0;
	}

	.texto {
	    float: left;
	    width: 250px;
	    font-size: 11.5px;
	}
}

// Usadas en Competiciones en la home:
.boxhomesmall {
    width: 191px !important;
    height: 254px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    color: #4B4B4B;
	background-color: white;
    border: 1px solid #DDDDDD;
    box-shadow: 0 3px 10px #CCCCCC;

    &.boxcolapse {
    	height: 192px;

		.boximginf {
		    height: 50px;
		    box-shadow: 0px 0px 15px black inset;

		    a {
    			text-shadow: 0px 0px 5px rgb(0, 0, 0);
		    }
		}
    }

    ul {
	    position: relative;
	    bottom: 0;
	    width: 184px;
	    height: 42px;
	    margin: 7px 0 0;
	    padding: 2px 0 11px;
	    font-size: 12px;
	    list-style-type: none;
	    text-align: center;
        border-bottom: 1px dotted rgb(214, 214, 214);

	    li span {
		    display: block;
		    margin: 2px 0;
		    font-weight: bold;
	    }
	}
}

.boxleft {
    float: left;
    display: inline-block;
}

.boxright {
    float: right;
    display: inline-block;
}

.boxrightm {
    float: right;
    margin-right: 8px;
}

.boxleftm {
    float: left;
    margin-left: 10px;
}