/* BOTONES */

$url-spriteicons: url("/images/spriteicons.png");

.sesionforo {
    font-size: 12px;
    float: right;
    width: 300px;
}

input.botonstand {
    color: #2f5e2f;
    border: 1px solid #999;
    font-size: 12px;
    padding: 2px 5px;
    margin: 0 2px;
    width: 90px;
    cursor: pointer;
}

a.editar,
a.eliminar {
    display: inline-block;
    height: 20px;
    margin: 0 5px;
    text-indent: -99999em;
    width: 23px;
}

a.editar {
    background-image: $url-spriteicons;
    background-position: 21px -278px;
}

.eliminar {
    background-image: $url-spriteicons;
    background-position: 21px -243px;
}

a.botonstand {
    background-color: #fff;
    color: #2f5e2f;
    border: 1px solid #999;
    font-size: 12px;
    padding: 2px 5px;
    margin: 0 2px;
}

a:hover.botonstand {
    background-color: #fff;
    color: #000;
    border: 1px solid #999;
    font-size: 12px;
    padding: 2px 5px;
    margin: 0 2px;
    background-color: #ccc;
    text-decoration: none;
}

a.descargar {
    display: block;
    clear: both;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 14px 16px;
    margin: 0 2px;
    background-image: url(/images/descargar_on.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

a:hover.descargar {
    color: #333;
    font-weight: bold;
    padding: 14px 16px;
    margin: 0 2px;
    background-image: url(/images/descargar_of.gif);
    background-repeat: no-repeat;
    background-position: left top;
    text-decoration: none;
}

.registro {
    clear: both;
    width: 141px;
    text-align: center;
    height: 100px;
}

a.registro {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px 20px 15px;
    margin: 0 2px;
    background-image: url(/images/bottonbig.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

a:hover.registro {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 5px 20px 5px;
    margin: 0 2px;
    background-image: url(/images/bottonbig.gif);
    background-repeat: no-repeat;
    background-position: left top;
    text-decoration: none;
}

.boton,
.botoncerrar,
.botonvolver,
.botonayuda,
.botonvacio,
.botongral,
.botonbuscar,
.botonactualizar,
a.botcasa,
.seguir,
.noseguir {
    background-color: #006600;
    min-height: 16px;
    padding: 5px 10px 5px 24px;
    text-transform: uppercase;
    color: white !important;
    cursor: pointer;
    font-size: 13px;
    @include border-radius(2px);
    &:hover {
    	text-decoration: none;
    	background-color: #003300;
    }
}

.botonactualizar {
    margin-right: 10px;
    float: right;
}

.botonreportar {
	background-color: red;
}

.clear.mini-leagues .boton {
    float: left;
    margin-top: 1em;
}

.big {
    padding: 0.5em 1em !important;
    font-size: 1.5em;
    background-image: none !important;
    margin: 1em;
    font-family: "Roboto Condensed", "Roboto";
}

#content_seccionb p.center {
    text-align: center;
}

.unirse {
    float: right;
    position: absolute;
    top: 1.5em;
    right: 1em;
}

#Login1_pnlLog .boton {
    float: none;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.table_buscador .botonbuscar {
    margin-top: 0 !important;
}

a.botcasa {
    color: #FFFFFF !important;
    float: right;
    font-size: 16px;
    padding: 4px 12px !important;
    margin: 15px 10px !important;
}

.verMas {
    background-position: 7px -69px !important;
}

.finalizar {
    background-image: url("/images/ico_cerrar.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    border-radius: 14px 14px 14px 14px;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: -9px;
    text-indent: 50px;
    top: -11px;
    width: 20px;
    z-index: 9;
}

#registro .finalizar {
    right: 2px;
    top: 13px;
}

.table_seccion td .botonayuda,
.table_seccion td .boton,
.table_seccion td .botoncerrar,
.table_seccion td .botonvolver,
.table_seccion td .botongral {
    display: inline-block !important;
    height: 14px;
    margin: 2px;
    min-width: 56px;
}

.table_seccion .botonbuscar {
    display: inline-block !important;
    height: 14px;
    margin: 2px;
    min-width: 56px;
}

.pronos_perder,
.pronos_ganar,
.pronos_devuelto {
    background-image: $url-spriteicons;
    background-repeat: no-repeat;
    font-weight: bold;
    padding-right: 36px !important;
    text-align: right !important;
    width: 46px;
}

.pronos_perder {
    background-position: 55px -201px;
    color: #F00;
}

span.pronos_perder {
    display: block;
    height: 20px;
    background-position: 55px -211px;
}

.pronos_ganar {
    background-position: 55px -152px;
    color: #038509;
}

span.pronos_ganar {
    display: block;
    height: 20px;
    background-position: 55px -162px;
}

.pronos_devuelto {
    background-position: 55px -542px;
    color: #3463C1;
}

span.pronos_devuelto {
    display: block;
    height: 20px;
    background-position: 55px -552px;
}

.consenso {
    background-color: #CCCCCC;
    display: inline-block;
    margin: 0 2px;
    padding: 0 5px;
}

.boton {
    //background-image: $url-spriteicons;
    //background-position: 6px -18px;
    text-align: center;
    padding-left: 14px!important;

    a {
		color: #2f5e2f;
    	width: 80px;
    }
}


a.seguir,
a.noseguir {
    float: left;
    margin: -3px 0 0;
    padding: 10px 20px 10px 33px !important;
    background-color: #388200;
    background-image: url(images/seguir-icon.png);
    background-position: 10px center;
    font-family: "Roboto Condensed", "Roboto";
    color: #FFF !important;
    font-size: 17px;
    text-transform: uppercase;
    text-shadow: none !important;
    border: 0 !important;
}

a.siguiendo {
    float: left;
    margin: -3px 0 0;
    padding: 10px 20px 10px 33px !important;
    background-color: #388200;
    background-image: url(images/siguiendo.png);
    background-position: 10px center;
    font-family: "Roboto Condensed", "Roboto";
    color: #FFF !important;
    font-size: 17px;
    text-transform: uppercase;
    text-shadow: none !important;
    border: 0 !important;
}

.noseguir {
    background-color: #666666 !important;
}

.avatar .seguir,
.avatar .noseguir {
    float: none;
    margin-top: 5px;
    display: inline-block;
}

.botonbuscar {
    background: $url-spriteicons;
    background-position: 6px -43px;
    background-repeat: no-repeat;
    background-color: #006600;
}

.content_buscador .botonbuscar {
    background-image: $url-spriteicons;
    background-position: 7px -69px;
    background-repeat: no-repeat;
    height: 28px;
}

.botongral {
    background-image: $url-spriteicons;
    background-position: 5px -92px;
    border-bottom: 5px solid rgb(0, 70, 0);
    background-repeat: no-repeat;
}

a:hover.botongral {
    text-decoration: none !important;
}

.botonvacio {
    padding: 2px 5px;
    padding: 2px 5px !important;
}

.botoncerrar {
    background-image: url(/images/ico_cerrar.gif);
}

.botonvolver {
    background-image: $url-spriteicons;
    background-repeat: no-repeat;
    background-position: 4px 5px;
}

.botonayuda {
    background-image: url(/images/ico_ayuda.gif);
}

.botonenvelope {
    background-image: $url-spriteicons;
    background-position: 6px 80px;
}

//
.botoncancelar {
	$color: grey;
	background-color: $color;
	border-color: darken($color, 20%);

	&:hover {
		background-color: darken($color, 20%);
		border-color: darken($color, 30%);
	}
}

// Reportar:
.botonreportar {
	$color: red;
	background-color: $color;
	border-color: darken($color, 20%);

	&:hover {
		background-color: darken($color, 20%);
		border-color: darken($color, 30%);
	}
}

// Seguir:
#btnSeguir {
    overflow: hidden;
    position: relative;
    height: 35px;
    width: 160px;
    padding: 0;
    line-height: 35px;
    border-radius: 2px;
    font-family: Roboto;

    span {
        display: inline-flex;
        margin-right: 5px;

        .material-icons {
            line-height: 35px;
        }
    }

    &:hover {

        span.dejardeseguir {
            width: 160px;
            height: 35px;
            display: inline-flex;
            background: #9B0000;
            position: absolute;
            top: 0;
            left: 0;
            transition: .3s all;

            i {
                display: flex;
                width: 87px;
                overflow: hidden;
                margin-left: -45px;
            }
        }

        span.siguiendo {
            transition: .3s all;
        }
    }
}

.apuestip {

    .btn {
        padding: 3px 5px;
        margin: 5px 0px;
        color: #FFF;
        font-weight: bold;
        border-radius: 2px;
        cursor: pointer;
        @include transition(all .3s);

        &.btn-success {
            background: #009493;

            &:hover {
                background: $color-main;
            }
        }

        &.btn-cancel {
            background-color: $color-desactived;

            &:hover {
                opacity: .7;
            }
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.btnRegistro {
    background-color: $color-verde-lima;
    color: $color-main;
    border: 1px solid darken($color-verde-lima, 5%);
    border-bottom: 3px solid darken($color-verde-lima, 5%);

    &:hover {
        background-color: lighten($color-verde-lima, 10%);
        border-color: $color-verde-lima;
    }
}

.btnLogin {
    background-color: $color-main;
    color: #FFF !important;
    border: 1px solid darken($color-main, 5%);
    border-bottom: 3px solid darken($color-main, 5%);

    &:hover {
        background-color: lighten($color-main, 10%);
        border-color: $color-main;
    }
}

.btnRegistro, .btnLogin {
    position: relative;
    top: 7px;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
    @include border-radius(2px);
    @include transition (all .3s);

    &:hover {
        text-decoration: none;
    }
}
