/* CLEAR */

.clear {
    clear: both;
    overflow: hidden;
}

.clear10 {
    clear: both;
    height: 20px;
}

.clear5 {
    clear: both;
    height: 10px;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}