a {
    color: #006600;
    text-decoration: none;
    transition: color ease 0.3s;
}

a:link,
a:visited {
    color: #006600;
    text-decoration: none;
}

a:hover {
    color: #006600;
    text-decoration: underline;
}
