@charset "UTF-8";

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v8/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format("woff");
}

@font-face {
    font-family: 'new_athletic_m54regular';
    src: url("../fonts/new_athletic_m54-webfont.eot");
    src: url("../fonts/new_athletic_m54-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/new_athletic_m54-webfont.woff2") format("woff2"), url("../fonts/new_athletic_m54-webfont.woff") format("woff"), url("../fonts/new_athletic_m54-webfont.ttf") format("truetype"), url("../fonts/new_athletic_m54-webfont.svg#new_athletic_m54regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

*,
html {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    margin-top: 0px;
    background-color: #f6f5fa !important;
    color: #3F3F3F;
    font-size: 12px;
    font-family: arial, tahoma, sans-serif;
    font-weight: 100;
}