.cleanlist  {
    list-style: none;
}

.lista-con-iconos {
    li {
        margin-bottom: 15px; 
    }

    img {
        float: left;
        margin: 0 5px 3px 0;
        width: 40px;
    }

    > p {
        line-height: 30px;
    }
}

.olPremios {
    counter-reset: my-counter;
    width: 33%;
    margin: 0 auto;

    dt:before {
        content: counter(my-counter);
        counter-increment: my-counter;
        position: absolute;
        font-size: 23px;
        left: 30%;
        font-weight: bold;
        opacity: .5;
    }

    dt {
        padding: 10px;
    }
}

.col-md-6 {

    .olPremios {
        width: 60%;

        dt:before {
            left: 15%;
        }
    }
}