strong {
    font-weight: bold;
}

table {
    border-spacing: 1px;
    margin-top: -1px;
    color: #3F3F3F;
}

ul {
    margin: 0;
    list-style: square inside none;
    padding: 0;
}

p {
    line-height: 17px;
    padding: 0;
    margin-bottom: 10px;
}

hr {
    border-bottom: 1px dotted #CCCCCC;
    border-top: 0 none;
    box-shadow: 0 2px 2px #CCCCCC;
    clear: both;
    height: 0;
    margin: 20px auto 0;
    width: 99%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

// Labels:

.labelgral {
    background-image: url("/images/ico_flecha.gif");
    background-position: left 4px;
    background-repeat: no-repeat;
    color: #333333;
    display: block;
    font-weight: bold;
    padding: 4px 5px 0 15px;
}

// Align text:
.ctrtd {
    text-align: center;
}

.centrar {
    text-align: center;
}


.shadow {
    position: relative;
    top: -3px;
    display: block;
    width: 100%;
    height: 11px;
    box-shadow: 0px 1px 46px black;
}

.ancho {
    width: 100% !important;
}

.patro-guia {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    padding-left: 25px;
}
.cl-main{
    color: #ffb72b;
}

.nowrap {
    white-space: nowrap;
}

.moduloGris {
    background: $color-gris;
    @include border-radius (2px);
    padding: 20px;
}