/* Redes sociales */

.social-wrapper {
	position: relative;
	top: -4px;
    display: inline-block;
    width: 131px;
    height: 40px;
    margin: 0 auto;
    padding-left: 10px;
    box-sizing: border-box;
}

a.social-icon,
span.social-icon {
	$tam: 30px;
	float: left;
    display: inline-block;
    width: $tam;
    height: $tam;
    margin-top: 0px;
    margin-right: 10px;
    padding: 0px!important;
    transition: all .3s ease-in-out;
    border-right: 0px solid white!important;

    span {
    	$tam: 30px;
	    float: left;
	    display: inline-block;
	    width: $tam;
	    height: $tam;
	    background-image: url("/images/social-icons.png");
	    background-repeat: no-repeat;
	    background-size: 89px;
	    transition: all .1s ease-in-out, background-size .1s ease-in-out;
        overflow: hidden;
        box-shadow: 0px 0px 5px #080c08;
        border-radius: 3px;
    }

    &:hover {
    	position: relative;
    	top: -2px;
    	cursor: pointer;

    	span {
    		margin-top: 0px;
    		box-shadow: 0px 2px 5px black;
    	}
    }

    // Telegram:
    &.icon-telegram {
    	background-color: #0088cc;
    	span { background-position: 2px 0px; }
    }

    // Twitter:
    &.icon-twitter {
    	background-color: #55acee;
    	span { background-position: -29px 0px; }
    }

    // Facebook:
    &.icon-facebook {
    	background-color: #3b5998;
    	span { background-position: -60px 0px; }
    }
}