.star {
    cursor: pointer;
    float: left;
    height: 20px;
    overflow: hidden;
    text-indent: -999em;
    width: 20px;
    background: url(/images/star.png) no-repeat 0 0px;

    a {
	    background: url(/images/star.png) no-repeat 0 0px;
	    display: block;
	    width: 100%;
	    height: 100%;
	    background-position: 0px -41px;
    }
}
.part, .ranking{
    .stars {
        padding-right: 10px;
        border: none;
        width: 90px;
        height: 15px;
        background: url(../../../images/sprite-stars.png) no-repeat 7px 0;
        text-align: right;

        &.star_1 { background-position: 7px -15px; }
        &.star_2 { background-position: 7px -30px; }
        &.star_3 { background-position: 7px -45px; }
        &.star_4 { background-position: 7px -60px; }
        &.star_5 { background-position: 7px -75px; }
    }
}
.ranking{
    .stars{
        float: right;
        /*margin-top: 14px; Para el nuevo diseño*/
    }
}
