/* switch para hacer transición en tablas cuotas vs pronósticos*/
.switch-control {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 26px;

  	&__input {
  		display:none;

  		&:checked + .switch-control__slider {
			background-color: $color-amarillo;
		}

		&:focus + .switch-control__slider {
			box-shadow: 0 0 1px $color-amarillo;
		}

		&:checked + .switch-control__slider:before {
			@include transform(translateX(25px));
		}
  	}

	&__slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $color-main;
		@include transition(.4s);

		&.round {
			border-radius: 34px;

			&:before {
				border-radius: 50%;
			}
		}

		&:before {
			position: absolute;
			content: "";
			height: 18px;
			width: 18px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			@include transition(.4s);
		}  
	}
}

.switch-label {
	position: relative;
	top: -10px;
}

.switch-container {
	margin-top: 20px;
}