// Tiempo:
#time {
    color: #FFFFFF;
    font-family: "Roboto Condensed", "Roboto" !important;
    font-size: 14px;
    right: 50%;
    position: absolute;
    top: 207px;
    width: 110px;
    z-index: 1;
    margin-right: -505px;
}