/*****tipografias*****/

.txtrojob {
    background-color: #CCCCCC;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
}

.txt11g {
    font-size: 11px;
    color: #414141;
    text-decoration: none;
    word-spacing: -0.5px;
}

.txt11g a {
    color: #414141;
    text-decoration: none;
}

.txt11g a:hover {
    color: #414141;
    text-decoration: underline;
}

.texto16n {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}

.texto12n {
    color: #333;
    font-size: 12px;
    font-weight: bold;
}

.texto14g {
    font-size: 14px;
    color: #2f5e2f;
    font-weight: bold;
}

.texto18v {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.texto16g {
    width: 90%;
    color: #3F3F3F;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}

.texto15g {
    font-size: 15px;
    color: #3F3F3F;
}

.texto12g {
    font-size: 12px;
    color: #414141;
    text-decoration: none;
}

.texto12g a {
    color: #414141;
    text-decoration: none;
}

.texto12g a:link {
    color: #414141;
    text-decoration: none;
}

.active,
.visited {
    color: #414141;
    text-decoration: none;
}

.texto12g a:hover {
    color: #2f5d2f;
}

.texto11g {
    font-size: 11px;
    color: #414141;
    text-decoration: none;
}

.texto11g a {
    color: #414141;
    text-decoration: none;
}

.texto11g a:link {
    color: #414141;
    text-decoration: none;
}

.active,
.visited {
    color: #414141;
    text-decoration: none;
}

.texto11g a:hover {
    color: #2f5d2f;
}

.textoalert {
    color: #F00;
}

.textook {
    color: #006600;
}

.stng {
    font-weight: bold;
}

.text11ca {
    color: #D79E44;
    float: right;
    margin-right: 16px;
}

.texto11n {
    color: #333;
}
table.texto12g td {
    padding: 5px 0;
    min-width: 162px;
}