h1 {
    font-size: 20px;
    font-weight: bold;
    color: #006600;
    padding: 5px 0 20px 0;
}

h1 a:hover {
    text-decoration: underline;
}

h2 {
    color: #4d4d4d;
    padding: 5px 5px 12px 0;
    font-family: "Roboto Condensed", "Roboto";
    font-size: 2em;
    font-weight: normal;
    letter-spacing: -1px;
    color: #4D4D4D;
    line-height: 110%;
}

h3 {
    color: #4d4d4d;
    padding: 5px;
    font-family: "Roboto Condensed", "Roboto";
    font-size: 27px;
    font-weight: normal;
    letter-spacing: -1px;
    padding: 0 0 10px 0;
}

h3 a {
    color: #4d4d4d;
    padding: 5px;
    font-family: "Roboto Condensed", "Roboto";
    font-size: 27px;
    font-weight: normal;
    letter-spacing: -1px;
    padding: 0 0 10px 0;
}

h4 {
    color: #4D4D4D;
    font-family: "Roboto Condensed", "Roboto";
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
    padding: 5px 0 !important;
}

.titlesec {
    background-color: #ECEAF1;
    border-bottom: 2px solid #FFFFFF;
    box-shadow: 0 0 4px 0 #CCCCCC;
    margin-bottom: 10px;
    padding: 5px 7px;
    position: relative;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 7px 0;
    text-align: center;
}