// Description:
.descr-seccion-cabecera-display {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto 5px;
    padding: 12px;
    font-size: 11px;
    border-radius: $coef-radius;
}

.desc-seccion-cabecera {
	position: relative;
    top: 6px;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: $coef-radius;

    &.desc-seccion-tipster {
    	float: left;
    	width: 60%;

    	&.desc-without-tipster {
    		width: 90%;
    	}
    }

    h3 {
    	font-size: 20px;
    }

    &:before {
	    content: "";
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    z-index: 50;
	    border-color: rgba(0, 0, 0, 0.05) transparent transparent transparent;
	    border-width: 5px;
	    border-style: solid;
    }
}