$color-bonos: orange;

// Triangles:
.cuotaspartido .desc-seccion-cabecera:before {		left: 20px;  }
.encuentrostipster .desc-seccion-cabecera:before { 	left: 127px; }
.encuentrospicks .desc-seccion-cabecera:before { 	left: 297px; }

.tabNavBarDues { //<- Candado
	// Content:
	#content_seccionb {

	    padding-top: 21px!important;
	}

	& + #content_seccionb {
		position: relative;
		top: 0px;
		padding-top: 12px!important;
		border-left: 1px solid $color-main;
		border-right: 1px solid $color-main;
	    border-bottom: 1px solid $color-main;
		background-color: white;
	}


	// Borders:
	.nav-secciones-cabecera {
		// Borders first and end:
		&>li:not(.pronosticos) {

			& + li {
				border-right: 1px solid rgba(0, 0, 0, 0.05);
			}

			&:first-child {
				border-top-left-radius: $coef-radius;

				a {
					border-top-left-radius: $coef-radius;
				}
			}

			&:last-child {
			    min-width: 114px;
			    border-right: 1px solid rgba(0, 0, 0, 0.1);
				border-top-right-radius: $coef-radius;

				a {
					border-top-right-radius: $coef-radius;
				}
			}
		}
	}
}