$color-border: green;
$max-width: 486px;

.tabNavBarDues {

	&.apuestas .pronosticos {
        width: $max-width;
	    padding-top: 0px!important;
		background-color: transparent!important;

		ul {
			position: relative;
			width: 100%;
		    padding-right: 0px!important;
		    padding-left: 0px;
			background-color: transparent!important;
		    border-top-right-radius: $coef-radius;

		    @for $i from 1 through 3 {
	  			li:first-child:nth-last-child(#{$i}),
	  			li:first-child:nth-last-child(#{$i}) ~ li {
	    			width: 100% / $i;
	  			}
	  		}

	  		li {
	  			max-width: 56%;
				min-width: 33.3333%;
				min-height: 26px!important;
				background-color: rgba(grey, 0.1)!important;
			    transition: all 1s ease;
	  		}
		}

		span {
			display: none;
			position: absolute;
			display: block;
			width: 100%;
			text-align: center;
			font-size: 10px;
	    	font-style: italic;
			color: $color-main;
		}

		&>span:first-child:before {
			content: "";
		    position: relative;
		    top: 12px;
		    left: 39px;
		    display: inline-block;
		    width: 0px;
		    height: 7px;
		    border: 1px dotted $color-border;
		}
	}
}