h3.title {
  font-size: 20px;
  letter-spacing: 0.01em;
  padding-left: 14px !important;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 4px;
    background: #ffb72b;
    height: 19px;
  }
}

.part {
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff;
  padding: 15px;
  position: relative;
  margin-bottom: 10px;
}
.user-info__row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.user-info__data{
    a{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      > *{
        margin-right: 8px;
      }
    }
    .user{
        border-radius: 50%;
        max-width: 26px;
        height: 26px;
    }
}
.user-info__stars{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  .medalla{
    width: 47px;
    margin-left: 10px;
  }
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.row{
  margin-left: -5px !important;
  margin-right: -5px !important;
}

.marginTop {
  margin-top: 30px;
}

.part {
  .info {
    width: calc(100% - 80px);
    float: left;
    .header {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e8e8e8;
      h2 {
        padding: 0;
        a {
          margin: 0;
          font-size: 20px;
          color: #036803;

        }
      }
      a {
        color: #036803;
        font-size: 13px;
      }
    }
    p {
      font-size: 11.5px;
      line-height: 15px;
    }
    .detail {
      color: #a2a2a2;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #e8e8e8;
      strong {
        color: #696868;
        font-weight: normal;
      }
    }
  }
  .points {
    float: right;
    top: 10px;
    right: 10px;
    width: 70px;

    > div {
      text-align: center;
      padding: 10px 5px;
      background: #f2f2f2;
      text-transform: uppercase;
      margin-bottom: 3px;
      font-size: 10px;

      > span {
        display: block;
        font-size: 20px;
        font-weight: bold;
      }
      &.cuota > span {
        color: #5f87c3;
      }
      &.stake > span, &.ganancia > span {
        color: #ffb72b;
      }
      &.state {
        background: #ffb72b;
        color: #fff;
        padding: 5px;
      }
    }
  }
  .points-int {
    margin-bottom: 10px;
    > div {
      text-align: center;
      padding: 10px 15px;
      display: inline-block;
      background: #f2f2f2;
      text-transform: uppercase;
      margin-bottom: 3px;
      font-size: 10px;
      > span {
        display: block;
        font-size: 20px;
        font-weight: bold;
      }
      &.cuota > span {
        color: #5f87c3;
      }
      &.stake > span, &.ganancia > span {
        color: #ffb72b;
      }
      &.state {
        background: #ffb72b;
        color: #fff;
        padding: 5px;
      }
    }
  }
  .user-info ul.stars {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

.ranking .element {
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff;
  padding: 8px;
  margin-bottom: 2px;
  .info {
    position: relative;
    padding-left: 10px;
    padding-top: 9px;
    span {
      position: relative;
      color: #ffb72b;
      font-size: 20px;
    }
    a.image {
      position: relative;
      width: 40px;
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;
      z-index: 2;
      img {
        width: 100%;
        position: relative;
      }
    }
    img.medalla {
      position: relative;
      width: 47px;
    }
    .user {
      position: relative;
    }
    .name, .details {
      position: relative;
    }
    .name {
      a {
        font-size: 18px;
      }
      ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        margin-left: 10px;
        li {
          display: inline-block;
          a {
            font-size: 14px;
          }
        }
      }
    }
    .details span {
      position: relative;
      margin-top: 3px;
      font-size: 13px;
      color: #a2a2a2;
      display: inline-block;
    }
  }
  .points {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    > div {
      text-align: center;
      padding: 10px 15px;
      display: inline-block;
      background: #f2f2f2;
      text-transform: uppercase;
      margin-bottom: 3px;
      font-size: 10px;
      -webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;
      margin-left: 5px;
      > span {
        display: block;
        font-size: 20px;
        font-weight: bold;
      }
      &.picks > span {
        color: #5f87c3;
      }
      &.stake > span {
        color: #ffb72b;
        color: #bb76ca;
      }
      &.ganancia > span {
        color: #ffb72b;
      }
    }
  }
}

.info-inline{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  &__header{
    display:-webkit-box;display:-ms-flexbox;display:flex;
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;
    -webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;
    > *{
      margin-right: 15px;
    }
  }
}

.reglas .texto {
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff;
  padding: 15px 20px;
  h5 {
    font-size: 14px;
    margin-bottom: 3px;
  }
}

.premios {
  .title-part {
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
    background: #fff;
    padding: 7px 15px !important;
    margin-bottom: 2px;
    font-size: 18px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
      background: #fff;
      padding: 18px 15px !important;
      margin-bottom: 2px;
      a {
        display: block;
        padding-left: 75px;
        position: relative;
        font-size: 15px;
        font-weight: bold;
        color: #070707;
        span {
          float: right;
        }
        img {
          &.user-img {
            position: absolute;
            top: 50%;
            margin-top: -17px;
            left: 0;
            width: 34px;
            border-radius: 50%;
            overflow: hidden;
            z-index: 2;
          }
          &.flag {
            position: absolute;
            top: 50%;
            margin-top: -10px;
            left: 42px;
            width: 20px;
            overflow: hidden;
            z-index: 2;
          }
        }
      }
    }
  }
}
.premios__tipo{
  margin-bottom: 20px;
}
