#comments {
    clear: both;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    p {
	    clear: both;
	    margin-top: 10px;

	    &.comment-notes {
		    color: #333333;
		    font-size: 12px;
	    }
    }

    .table_seccion {
    	padding: 0;
    }

	span.date-and-time a {
	    color: #999999;
	    display: block;
	    font-size: 13px;
	    font-weight: normal;
	    margin: 2px 0;
	    text-decoration: none;
	}

	ol.commentlist {
	    margin: 0;

	    li {
	    	position: relative;
		    clear: both;
		    list-style: none;
		    text-align: justify;
		    padding-bottom: 3em;
		    padding-left: 0px;
		    padding-top: 15px;

			div.comment-author {
			    margin-top: 5px;
			}

			div.vcard {
			    float: left;
			    width: 75px;
			    margin-right: 20px;
			    font-size: 11px;
			    font-weight: bold;
			    text-transform: capitalize;

				.fn {
				    clear: both;
				    display: block;
				    font: 100 1.4em/1 "Roboto Condensed", "Roboto";
				    text-align: center;

				    .land {
					    border: 1px solid #ccc;
					    border-radius: 3px;
					    margin: 5px 15px;
					    padding: 5px;
					}

					span {
					    margin-bottom: .3em;
					    margin-top: .3em;
					}
				}

				img.photo {
				    border: 1px solid #CCCCCC;
				    float: left;
				    height: 75px;
				    margin: 0 15px 7px 0;
				    width: 75px;
				}

				span.edit-link a {
				    font-size: 13px;
				    font-weight: 400;
				    margin-bottom: 0;
				}
			}

	    }

	    .comment-content {
	    	float: left;
		    width: 685px;
		    padding-bottom: 5px;
		    color: #666;
		    font-size: 13px;
	    	p {
		    	margin-bottom: 10px;
		    	text-align: justify;
		    }
		}

		.comment-titulo {
			float: left;
	    	font: 20px/1 'Roboto condensed', "Roboto";
	    	margin: 10px 0;
	    	padding: 0;
	    	text-align: left !important;
	    	width: 445px;
	    }

	    .comment-liga {
		    clear: right;
		    float: right;
		    font-size: 12px;
		    font-family: 'Roboto condensed', "Roboto";
		    margin: 5px 0;
		    text-align: right;
		}
	}

	ol .comment-content {
	    float: left;
	    width: 685px;
	    padding-bottom: 5px;
	    color: #666;
	    font-size: 13px;
	}

	ol .comment-answer {
	    padding: 10px 0;
	    text-align: justify;
	}

	ol.commentlist .abrir {
	    background-image: url("/images/spriteicons.png");
	    background-position: 58px -390px;
	    background-repeat: no-repeat;
	    color: #006600;
	    float: right;
	    padding-right: 22px;
	    cursor: pointer;
	}

	ol.commentlist .respond {
	    display: inline-block;
	    margin-left: 10px;
	    padding-left: 10px;
	    vertical-align: top;
	    font-family: 'Roboto Condensed';
	    font-size: 1.1em;

	    span {
		    color: #060;
		    cursor: pointer;
	    }
	}

	ol.commentlist li div.reply span {
	    color: #006600;
	    cursor: pointer;
	}

	ol.commentlist li ul.children {
	    list-style: none outside none;
	    margin: 15px 0 0;
	    text-indent: 0;
	}

	ol.commentlist li ul.children li.depth-2 {
	    border-bottom: medium none;
	    border-left: 2px solid #CCCCCC;
	    margin: 0 0 30px 34px !important;
	    padding: 1px 15px 5px;
	    list-style: none outside none;
	}

	ol.commentlist li ul.children li.depth-3,
	ol.commentlist li ul.children li.depth-4,
	ol.commentlist li ul.children li.depth-5 {
	    margin: 0 0 30px 40px;
	}
}

.coments_bethouses {
	#respond {
	    margin-left: -2em !important;
	}

	.abrir {
	    float: none !important;
	}

	li {
	    padding-left: 160px !important;
	    border-bottom: 2px solid #B2ADAD !important;

	    .wysiwyg {
	    	padding: 0 !important;
	    }

	    .children li {
		    padding-left: 142px !important;
		    border-bottom: none !important;
		}
	}

	li.children li .wysiwyg {
    	padding: 0 !important;
	}
}

// Sistema de comentarios:

#comments2 {
    clear: both;

    p {
	    clear: both;
	    padding: 0;
	    line-height: 1.2;
    }

    .table_seccion {
	    padding: 0;
	}

	.comment {
    	position: relative;
	}

	span.date-and-time {
	    float: none;
	    display: block;
	    margin-bottom: .5em;
	    text-align: right;

	    a {
		    color: #999999;
		    display: block;
		    font-size: 13px;
		    font-weight: normal;
		    margin: 2px 0;
		    text-decoration: none;
	    }
	}

	p.comment-notes {
	    color: #333333;
	    font-size: 12px;
	}

	ol.commentlist {
	    margin: 3em 0 0 0;
	    padding: .5em;

		li div.vcard {
		    font-size: 12px;
		    font-weight: bold;
		    text-transform: capitalize;
		    text-align: center;

			.fn {
			    display: block;
			    font: 1.4em/1 'Roboto Condensed';
			    font-weight: 100;
			    color: #000;
			    vertical-align: top;

				.land {
				    margin: 0 5px 0 0;
				    display: inline-block;
				    float: none;
				    vertical-align: middle;
				}

				span {
				    display: inline-block;
				    vertical-align: middle;
				}

				br {
				    margin: 0 0 11px 0;
				    display: block;
				}
			}

			img.photo {
			    display: inline-block;
			    float: none;
			    height: 75px;
			    margin: 0 auto 7px auto;
			    width: 75px;
			    vertical-align: top;
			    border: 1px solid #fff;
			}
		}
	}

	.infoperfil {
	    display: inline-block;
	    margin: 12px 0;
	    width: 445px;
	}

	.comment-meta {
	    float: left;
	    width: 75px;
	    margin: 0 2em 0 0;
	}

	ol .comment-content {
	    padding-bottom: 5px;
	    clear: both;
	}
}

.children .comment {
    border-top: 0 !important;
}

#divAnalisis .commentlist .wysiwyg {
    clear: both;
    padding: 22px 0px 0px 0;
    line-height: 140%;
}

.commentPick {
    float: left;
    width: 115px;
    margin-right: 2em;
    text-align: center;

    .photo {
	    position: relative;
	    z-index: 1;
	    width: 55px;
	    border: 1px solid #c3c2c6;
	    border-radius: 50%;
	    background: #fff;
    }

   	.perfil {
	    position: relative;
	    z-index: 0;
	    top: -2em;
	    padding: 2em 0 0 0;
	    background: #fff;
	    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);

	    a {
		    font: 14px 'arial narrow';
		    font-weight: bold;
		    color: #006600;
		    line-height: 23px;
		    margin-left: 5px;
	    }

	    .land {
    		margin-right: 5px;
    		display: none;
	    }

	    div:nth-child(2) {
		    border-top: 1px solid #c3c2c6;
		    padding: 10px 0;
		    margin-top: 10px;
		}

		.stars {
		    padding-right: 10px;
		    border-bottom: 1em solid #fff;
		    height: 15px;
		    background: url(../../../images/sprite-stars.png) no-repeat 7px 0;
		    text-align: right;

			&.star_1 { background-position: 7px -15px; }
			&.star_2 { background-position: 7px -30px; }
			&.star_3 { background-position: 7px -45px; }
			&.star_4 { background-position: 7px -60px; }
			&.star_5 { background-position: 7px -75px; }
		}

	}
}

.commentlist .commentPick {
    position: absolute;
    left: 0;

	.photo {
	    position: absolute;
	    left: 30%;
	    top: 0;
	    z-index: 1;
	    -webkit-transition: .5s all;
	    -moz-transition: .5s all;
	    transition: .5s all;
	}

	.perfil {
    	top: 3em;
	}
}

#lista_comentarios {
	.commentPick {
	    width: 105px;

	    .photo {
		    position: relative;
		    z-index: 1;
		    width: 40px;
    		padding: 0;
		    border: 1px solid #c3c2c6;
		    border-radius: 50%;
		    background: #fff;
		}
	}

	.commentlist .commentPick .photo {
	    position: absolute;
	    left: 0%;
	    top: 0;
	    z-index: 1;
	    -webkit-transition: .5s all;
	    -moz-transition: .5s all;
	    transition: .5s all;
	}

	.commentlist .perfil {
	    height: 2em;
	    padding-bottom: 1em;
	    left: 2em;
	    top: 0.28em;
	    padding: 0.5em 0.2em 0.5em 0.3em;
	}
}

.comentarios .title {
    display: block;
    padding-bottom: 10px;
    font: 14px 'Roboto';
    font-weight: bold;
    color: #4d4d4d;
}

.detail .editar,
.commentsReplay .editar {
    clear: both;
    display: block;
    color: #060;
    width: auto;
    height: auto;
    background: none;
    text-indent: inherit;
    vertical-align: middle;
    cursor: pointer;

    &:before {
	    content: " ";
	    display: inline-block;
	    width: 23px;
	    height: 25px;
	    background: url(../../../images/spriteicons.png) 21px -278px;
	    vertical-align: middle;
    }
}
