// Header:

#content-top {
    width: 100%;
    border-top: 1px solid #dadbdc;
    background: $color-main url(/images/bgmenu.png) center 143px repeat-x;
}

	.topBar {
	    position: absolute;
	    top: 0;
	    z-index: 1000;
	    width: 100%;
	    text-align: center;
	    border-bottom: 1px solid $color-verde-oscuro; 
	    background: $color-gris;

	    &.logueado {
		    position: fixed;
		    border: 0;
		    background: rgba(236, 236, 236, 0.9);
	    }

		.content {
		    position: relative;
		    width: 998px;
		    margin: 0 auto;
		    background: transparent;
		    text-align: left;
		}
	}

	#cabecera {
	    position: relative;
	    clear: both;
	    width: 998px;
	    height: 228px;
	    margin: 0 auto;
	}

// LOGIN Y REGISTRO:
// Contendor de los botones de login y registro:
.usernav {
    float: right;
    z-index: 1;
    width: 327px;
    height: 41px;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
	    padding: 0;
	    margin: 0;
	    list-style: none;
	    float: left;

	    a {
		    display: block;
		    font-family: "Roboto Condensed", "Roboto";
		    font-size: 16px;
		    height: 30px;
		    line-height: 30px;
		    list-style: none outside none;
		    margin: 4px 1px 0 0;
		    padding: 1px 1px 1px 20px;
		    border-radius: 5px 5px 5px 5px;
		    background-repeat: no-repeat;
		    color: $color-verde-oscuro;
		    padding-right: 37px;

		    &:hover {
    			text-decoration: none;
		    }

		    span {
		    	clear: both;
			    display: block;
			    font-size: 14px;
			    line-height: 12px;
		    }
	    }
	}

	// Escondemos este contendor cuando el usuario ya esta logueado:
	@at-root .logueado & {
		display: none;
	}
}

// (???):
.usernav li.noregis a {
    background-image: url("/images/usernav-ico1.png");
    background-position: 90px 8px;
}

.usernav li.regis a {
    background-image: url("/images/usernav-ico2.png");
    background-position: 104px 4px;
}

// Hermano de .usernav, cuando el usuario esta logueado:
#registro {
    position: relative;
    z-index: 2;
    height: 40px;
    background: transparent;

	.tipsterIco.disabled,
	.experto.disabled {
	    display: none;
	}
}

#Login1_pnlLog .label_cab:nth-child(5) {
    display: none;
}

#Login1_LoginButton {
    text-align: center;
    background-image: none;
    padding: 5px 14px 5px 14px !important;
}

// Fin de botones de login y registro.
