.tabNavBarDues { // 	<- Candado
	//position: relative;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);

	// Mini-Reset:
	ul,
	li,
	a,
	div {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	ul a {
		padding: 15px 11px 0px;
	}

	&.apuestas .pronosticos ul {
		padding-top: 0px!important;
	}

	.nav-secciones-cabecera {
		float: left;
		position: relative;
		width: 100%;
		height: auto;
		background-color: transparent!important;
		border-bottom: 3px solid $color-main;
	}

	li:not(.desactived) {
		margin: 0!important;
	}

	li:not(.pronosticos) {
		background-color: rgba(grey, 0.1);
	}

	&.apuestas ul li {
		float: left;
		min-width: 99px;
		height: $height-tab + 5px!important;
		text-align: center;

	    a {
			height: 100%;
			box-sizing: border-box;
	    	color: green;
			border-radius: 0px;

			&:hover {
				background-color: white;
				box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.3);
			}

			// Badges:
			span:not(.icon-minileagues) {
				position: absolute;
				bottom: 0px;
			    left: 0%;
			    float: left;
			    display: inline;
			    text-align: center;
				font-size: 10px;
	    		font-style: italic;
    		    font-weight: 500;
				color: $color-main;
			    padding: 0px 0px 5px 0px;
			    width: 100%;
			    background-color: rgba(0, 0, 0, 0.05);
			    border-radius: 2px;
		    }
	    }

	    // Desactived:
	    &.desactived {
	    	line-height: $height-tab;
	    	background-color: #F2F2F2;
	    	color: $color-desactived;

	    	a {
	    		color: $color-desactived;
	    	}

	    	&:hover {
	    		background-color: white;
				background-color: #F2F2F2;
				cursor: not-allowed;
	    		box-shadow: none;

	    		a {
	    			border: none;
	    			cursor: not-allowed;

	    			&:hover {
	    				background-color: transparent;
    					box-shadow: none;
	    			}
	    		}
	    	}
	    }

	    // Current:
	    &.current {
			position: relative;
			border-top: 1px solid $color-main;
			border-right: 1px solid $color-main!important;
			border-left: 1px solid $color-main;

			a {
				height: 116%;

				span:not(.icon-minileagues) {
					color: $color-main;
					bottom: 10px;
				}
			}

			a {
				color: $color-main;
				background-color: white!important;
			}
		}
	}

	&.apuestas>ul>li {
		border-top: 1px solid rgb(218, 218, 218);
		border-left: 1px solid rgb(218, 218, 218);
		border-right: 1px solid rgb(218, 218, 218);
	}

	&.apuestas>ul>li.pronosticos li {
		border-right: 1px solid rgb(218, 218, 218);
	}
}