// Contenido (derecha):
#content_center {
	float: right;
	position: relative;
	padding-bottom: 50px!important;
    padding-left: 8px;
}

// Menu lateral (izquierda):
#content_left {
	float: left!important;
}

// iApuestas » Apuestas Deportivas » Apuestas Futbol:
.block_subgratis {
	float: left;
	width: 50%;
}

