// Te Sigo

.apuestip {
	position: relative;
	margin-top: 10px;
	height: 56px;
	padding: 10px 10px 0;
	font-family: arial;
	line-height: 18px;
	color: $color-verde-oscuro;
	clear: both;
	border: 1px solid;
	@include border-radius(2px);

	input[type="number"] {
		font-family: sans-serif;
		padding: 3px 5px;
		margin: 0 2px;
		width: 50px;
		border: 1px solid;
		text-align: right;
		-moz-appearance:textfield;
		@include border-radius(1px);

		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    margin: 0; 
		}
	}

	.apuestipLogo {

		position: absolute;
		top: -18px;
		left: 5px;
		font-weight: bold;
		font-size: 18px;
		@include transform(rotate(-3deg));
   		color: #FFF;
   		text-shadow:
       		3px 3px 0 #1F4141,
     		-1px -1px 0 #1F4141,  
      		1px -1px 0 #1F4141,
      		-1px 1px 0 #1F4141,
       		1px 3px 0 #1F4141;

       	a {
       		color: #FFF;
       	}

       	span {
       		float: left;
       		position: relative;
       		z-index: 100;
       	}

       	pre {
       		float: left;
       		text-shadow: none;
       		background-color: red;
       		padding: 2px 4px;
       		font-size: 14px;
       		z-index: 0;
       		text-shadow: 0 0 10px #000;
       		@include border-radius (50%);
       	}
	}

	label {
		line-height: 36px;
	}

	.apuestip-completado {
		display: none;
		width: 100%;
		text-align: center;
	}

	.apuestip-error {
		display: none;
		color: $color-rojo;
		padding: 0;

		&>div {
			display: flex;
			justify-content: space-between; 
		}
	}

	.apuestip-propio {
		display: none;

		.addthis_inline_share_toolbox_nls0 {
			position: relative;
			bottom: 10px;
		}
	}
}