/*** Barra logueado --> **/

.navi_login {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 40px;

    li {
	    position: relative;
	    display: inline-block;
	    float: left;
	    margin: 3px 0 0 0;
	    padding: 0 20px 0 10px;
	    min-height: 30px;
	    border-right: 1px solid #eaeaee;
	    font: 100 13px "Roboto Condensed", "Roboto";
	    transition: .3s all;

	    a {
	    	display: block;

	    	&:hover {
	    		text-decoration: none !important;
	    	}
	    }

	    &:last-child {
	    	border-right: 0;
	    }

	    .down {
		    display: block;
		    margin: 0 -20px;
		    padding: 2px 25px 2px 10px;
		    color: #060;
		    cursor: pointer;

			&:hover {
			    background: #ddd;
			    border-radius: 3px;
			}
		}
    }

    .imgPerfil {
	    width: 30px;
	    height: 30px;
	    margin: 0 10px 0 0;
	    border: 1px solid #ddd;
	    border-radius: 50%;
	    vertical-align: middle;
	    z-index: 1;
	    position: relative;
	}

	.correo {
	    padding: 2px 10px;
	    border-left: none;

	    &:hover {
	    	background: #ddd;
    		border-radius: 5px;
	    }

	    a {
		    display: block;
		    width: 30px;
		    height: 30px;
		    padding-left: 10px;
		    background: url(../../../images/ico-correo.png) no-repeat 4px 5px;

		    &:hover {
		    	text-decoration: none;
    			color: #fff;
		    }
	    }

	    span {
		    display: block;
		    width: 20px;
		    line-height: 20px;
		    margin-left: 10px;
		    background: #a93232;
		    color: #fff;
		    border-radius: 15px;
		    text-align: center;
		}
	}

	.experto {
	    width: 27px;
	    height: 27px;
	    font-size: .7em;
	    background-position: right 0;
	    background-size: 27px;
	    cursor: pointer;
	}

	&>li:first-child {
	    display: inline-block;
	    overflow: hidden;
	    min-width: 122px;
	    padding-right: 0px;
	    border-left: 0;
	    padding: 0px;

	    .down {
		    display: block;
		    width: 100%;
		    margin: 0;
		    padding: 0;

		    img,
		    span:nth-child(1) {
		    	float: left;
		    }

		    span:nth-child(2) {
			    display: inline-block;
			    min-width: 42%;
			    margin-right: 26px;
			    padding-top: 7px;
			}

		    span:last-child {
			    position: absolute;
			    top: 12px;
			    right: 10px;
			    float: right;
			    z-index: 3;
			    display: inline-block;
			    width: 10px;
			    height: 10px;
			    margin-left: 5px;
			    background: url(../../../images/ico-down-user.png) no-repeat center center;
			}
		}
	}
}

li.saldo {
    margin-top: 12px;
}
/* User: */

.navi_login li:nth-child(1):hover,
.navi_login li:nth-child(2):hover,
.navi_login li:nth-child(3):hover {
    position: relative;
    background-color: #ddd;
    border-radius: 5px;
    transition: .3s all;
}

.navi_login li:nth-child(1):hover:after,
.navi_login li:nth-child(2):hover:after,
.navi_login li:nth-child(3):hover:after {
    position: absolute;
    right: 10px;
    top: 12px;
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background: url(../../../images/ico-down-user.png) no-repeat center center;
}

.resumenList li:hover {
    background: none !important;
    border-radius: 0 !important;
}

.resumenList li:hover:after {
    display: none !important;
}

.resumenList li:last-child {
    padding-top: 0 !important;
}

.navi_login li li:last-child {
    border-right: 0;
    padding-top: 9px;
    padding-bottom: 9px;
}

.navi_login li.hover .down {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: .3s all;
}

.navi_login li:first-child.hover .down span:last-child {
    transform: rotate(180deg);
}

.navi_login li.hover:hover:after {
    transform: rotate(180deg);
}

.navi_login li.hover .menuPerfil {
    opacity: 1;
    display: block!important;
    transition: .3s all;
}

.navi_login .enlace_seguidores span.numseg {
    display: block;
    width: 20px;
    line-height: 20px;
    margin-left: 10px;
    background: #a93232;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    background: #036803;
}

.menuPerfil {
    opacity: 0;
    display: none;
    z-index: 10;
    top: 37px;
    left: -10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.menuPerfil li {
    float: none;
    clear: left;
    display: block;
    min-height: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.menuPerfil li:hover {
    background-color: #ddd;
    border-radius: 0 !important;
    color: #006600;
    text-decoration: underline !important;
}

.menuPerfil li:hover:after {
    display: none !important;
}

.menuPerfil li a {
    padding: 9px 22px;
}

.menuPerfil .close {
    background: #ddd url(../../../imagenes/ico-cerrar-sesion.png) no-repeat 7px center;
}

.menuPerfil .salir {
    position: relative;
    left: 18px;
    background: none;
    font: 100 14px "Roboto Condensed", "Roboto";
    color: #060;
    cursor: pointer;
}

.menuPerfil .salir:hover {
    text-decoration: underline;
}

.navi_login .tipsterIco {
    width: 27px;
    height: 27px;
    font-size: .7em;
    background-position: right 0;
    background-size: 27px;
    cursor: pointer;
}

#liCapaPicks:hover,
#liCapaTipster:hover {
    background: #ddd;
    border-radius: 5px;
}

#liCapaPicks {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 4px;
    cursor: pointer;

    span:first-child {
        display: inline-block;
        margin-top: 10px;
        margin-right: 5px;
        text-shadow: 0 0 5px #f6f5fa;
        font-family: "Roboto";
        font-weight: 800;
        font-style: italic;
        text-transform: uppercase;
    }
}

#liCapaTipster {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 4px;
    cursor: pointer;
}

#liCapaTipster span:first-child {
    display: inline-block;
    width: 40px;
    margin-top: 12px;
    text-shadow: 0 0 5px #f6f5fa;
    font: italic 12px/.9 "new_athletic_m54regular";
    color: #974717;
}

#capa_picks {
    border: 4px solid #ffbe40;
    right: -170px;
}

#capa_picks:before {
    content: " ";
    position: absolute;
    top: -14px;
    left: 0;
    z-index: 10;
    content: " ";
    display: block;
    width: 100%;
    height: 20px;
    background: url(../../../imagenes/ico-esquina-barra02.png) no-repeat center 0;
}

#capa_tipster {
    border: 4px solid #974717;
    right: -170px;
}

#capa_tipster:before {
    content: " ";
    position: absolute;
    top: -14px;
    left: 0;
    z-index: 10;
    content: " ";
    display: block;
    width: 100%;
    height: 20px;
    background: url(../../../imagenes/ico-esquina-barra.png) no-repeat center 0;
}

.userActivity {
    position: absolute;
    top: 54px;
    width: 400px;
    padding: 22px;
    background: rgba(255, 255, 255, 0.95);
}

.userActivity h3 {
    font: 24px 'Roboto Condensed', "Roboto";
}

.userActivity h3 span {
    display: inline-block;
    padding-left: 10px;
    font: 16px 'Roboto Condensed', "Roboto";
}

.userActivity h3 .puesto span {
    padding-left: 0;
    font-size: 12px;
    font-weight: 100;
}

.userActivity h3 .pronostico {
    float: right;
    margin-top: 5px;
}

.userActivity h3 .pronostico a {
    font-size: 16px;
}

.userActivity .resumenList {
    display: table;
    width: 100%;
    border-bottom: 1px solid #000;
    list-style: none;
    margin: 0;
    padding: 0;
}

.userActivity .resumenList li {
    float: none;
    border: 0;
    display: table-cell;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    vertical-align: top;
    text-align: center;
    font: 700 16px 'Roboto Condensed', "Roboto";
}

.userActivity .resumenList span {
    display: block;
    font: 400 12px 'Roboto';
}

.userActivity #ctrExtractoPick1_hlPerfil,
.userActivity #ctrExtractoTipster1_hlPerfil {
    float: right;
    display: inline-block;
    margin: 1em 0 0 0;
}

.navi_login .enlace_seguidores {
    padding: 0px 10px !important;
    border-right: none;
}

.navi_login .enlace_sugidores .down {
    padding: 2px 4px 2px 4px;
    margin: 0px 5px 0 0;
}

.navi_login .enlace_seguidores span.numseg {
    position: absolute;
    left: 37px;
    top: 1px;
    z-index: 1;
}

.navi_login .seguidos {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 39px;
    width: 215px;
    max-height: 300px;
    background: rgba(255, 255, 255, 0.95);
    left: -67px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.navi_login .seguidos ul li {
    border: none;
    margin: 2px 5% 2px 5%;
    border-bottom: 1px solid grey;
    width: 90%;
    padding: 2px 0;
}

.navi_login .seguidos ul li a {
    display: inline;
    width: 100%;
}

.navi_login .seguidos ul li img {
    margin: 0 5px 0 0 !important;
}

.navi_login .seguidos ul li:hover {
    background: none !important;
    border-radius: 0 !important;
}

.navi_login .seguidos ul li:hover:after {
    display: none !important;
}

.navi_login .seguidos ul li:last-child {
    padding-top: 0 !important;
    border-bottom: none;
}

.navi_login .seguidos ul li .abandonar {
    float: right;
    margin: 6px 2px;
    color: Green;
    background-color: #c0baba;
    border-radius: 0.6em;
    line-height: 1.2em;
    width: 1.2em;
    text-align: center;
    cursor: pointer;
    background-image: url(/images/cerrar.png);
    text-indent: -999em;
}

.navi_login .seguidos span.siguiendo {
    padding: 8px 0 8px 10px;
    display: block;
    border-bottom: 1px solid grey;
    margin-bottom: 4px;
    font-size: 1.1em;
}

.navi_login span#liSiguiendo {
    padding: 1px 10px 1px 10px !important;
    margin: 0;
}

.navi_login .hover span#liSiguiendo {
    padding-bottom: 6px !important;
}

#cabecera {
    margin-top: 10px;
}

#content-top {
    background-position: center 153px;
}