// Caja flotante de Bonos especiales:
.fltBox {
    position: fixed;
    right: -.8em;
    top: 280px;
    z-index: 30;
    overflow: hidden;
    min-width: 20px;
    height: auto !important;
    min-height: 150px;
    padding: 0 1em 1em 1.5em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    background: #004600;
    border: 0;
    color: #d9d9d9!important;
    border-radius: 10px;

    &.close {
	    height: 13em !important;
	    width: 1.5em;

	    .open {
		    display: block !important;
		}

		.cerrar,
		.contain {
		    display: none !important;
		}
	}

    .cerrar {
	    position: absolute;
	    left: 0;
	    top: 0;
	    display: inline-block;
	    background: #036803;
	    width: 2em;
	    line-height: 2em;
	    text-align: center;
	    font-weight: bold;
	    color: #fff;
	    cursor: pointer;
	    border-radius: 50%;
	}

	.open {
		position: absolute;
	    left: -65px;
	    top: 90px;
	    display: block;
	    width: 155px;
	    height: 2em;
	    font: 1.3em/.8 'Roboto';
	    transform: rotate(90deg);
	    cursor: pointer;

	    &:before {
		    position: absolute;
		    left: -22px;
		    top: -6px;
		    content: " < ";
		    display: block;
		    font: 2em/1 'Roboto';
		    transform: rotate(-90deg);
		}
	}

	h3 {
	    padding-top: 5px;
	    padding-left: 15px;

	    a {
	    	width: 100%;
	    }
	}

	a {
	    color: #fff!important;
	}

	ul {
		list-style-type: none;
	}
}

.mejoresbonos li {
    position: relative;
    clear: both;
    line-height: 18px;
    margin: 0 4px;
    padding: 0 0 3px 22px;

	&:before {
	    content: " ";
	    position: absolute;
	    left: -.3em;
	    display: block;
	    width: 1.8em;
	    height: 1.5em;
	    background-image: url(/images/spriteicons.png);
	    background-position: left -122px;
	    background-repeat: no-repeat;
	}
}