// Matar más adelante la especificidad de .content_subgratis h3
// Existe en muchas cabeceras, aprovecha la tarea "Homogeneizar cabeceras..."

.deporte-paises-ligas-wrapper {
    text-align: center;

	.boton {

	}

	.boton-oculto {
		display: none;
	}
}

.deporte-paises-ligas {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 20px;
	list-style-type: none;
}

.deporte-paises-ligas-mas {
	display: none; // Initial status
	margin-top: 20px;
	margin-bottom: 0px;

	&.list-open {
		display: flex;
	}
}

.ligas-por-pais {
	width: calc(33% - 9px)!important;
    margin: 3px;
    padding: 6px;
    box-sizing: border-box;
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 0px 3px #e6e6e6;
    border: 1px solid rgb(225, 225, 225);

    & > a {
	    display: block;
    	text-align: left;
    }

	.pais-con-ligas {
		display: inline-block;
		clear: none;
	    margin-top: 0px;
	    margin-bottom: 0px!important;
        margin-left: 1px;
	    padding-top: 0px!important;
	    padding-bottom: 0px!important;
	    font-size: 14px;

	    a {
	    	padding-left: 5px!important;
		    font-size: 18px;
		    font-weight: normal;
		    letter-spacing: 0;
	    }
	}
}

.img_apuestasd {
    float: left;
    width: 32px;
    height: 18px;
    margin-top: 1px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 4px #CCCCCC;
}

.lista-ligas {
	margin-left: 9px;
	padding-right: 0px!important;
	padding-left: 0px!important;
	text-align: left!important;

	li {
		width: 100%;
		padding-left: 0px;

		&:before {
			content: '-';
			float: left;
			padding-right: 5px;
			text-decoration: none;
		}

		a {
		    display: block;
		    box-sizing: border-box;
		    width: 100%;
		    padding-right: 8px;
	        padding-left: 9px;

			&:hover &:before {
				text-decoration: none;
			}
		}
	}
}