/* MENU DEPORTES CUOTAS */

.menu_cuotas,
.menu_doble {
    border-bottom: 3px solid #CCCCCC;
    font-size: 15px;
    font-weight: normal;
    font-family: "Roboto Condensed", "Roboto";
    height: 35px;
    margin: 0 10px;
}

.menu_cuotas li {
    float: left;
    height: 36px;
    margin: 0 1px;
    list-style: none;
}

.menu_doble {
    height: 45px;
    margin-bottom: 2px;
}

.menu_doble li {
    float: left;
    height: 36px;
    margin: 0 1px;
    list-style: none;
    height: 45px;
}

.menu_cuotas li a {
    display: block;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    padding: 0;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
}

.menu_doble li a {
    display: block;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    padding: 0;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    height: 46px;
    line-height: 46px;
    line-height: 14px;
}

.menu_doble li a img {
    padding: 2px 0 14px 0;
}

.menu_cuotas li a b {
    display: block;
    padding: 0 14px 0 8px;
    font-weight: normal;
    background-color: #CCCCCC;
}

.menu_doble li a b {
    display: block;
    padding: 0 14px 0 8px;
    font-weight: normal;
    background-color: #CCCCCC;
    padding: 7px 9px 6px;
    line-height: 16px;
}

.menu_cuotas li.current a,
.menu_doble li.current a {
    border-bottom: 1px solid #FFFFFF;
    color: #006600;
}

.menu_cuotas li a:hover,
.menu_doble li a:hover {
    color: #036803;
    text-decoration: none !important;
}

.menu_cuotas li a:hover b,
.menu_doble li a:hover b {
    color: #b9c2ab;
    background-color: #fff;
}

.menu_cuotas li.current a:hover,
.menu_doble li.current a:hover {
    cursor: default;
    border-bottom: 1px solid #FFFFFF;
}

.menu_cuotas li.current a b,
.menu_doble li.current a b {
    border-bottom: 1px solid #F6F5FA;
    color: #666666 !important;
    background-color: #F6F5FA !important;
}

.menu_cuotas li.current a:hover b,
.menu_doble li.current a:hover b {
    border-bottom: 1px solid #FFFFFF;
}