/* MENU CABECERA */

#menunav {
    font-size: 19px;
    height: 46px;
    position: absolute;
    top: 143px;
    width: 990px !important;

    form {
    	border: none;
    }

    ul {
	    width: 990px;
	    height: 35px;
	    margin: 0;
	    padding: 0;
	    list-style: none outside none;

	    ul {
		    width: 699px;
		    height: 35px;
		    margin: 0;
		    padding: 0;
		    list-style: none outside none;
	    }

		*:hover ul {
		    left: 0;

		    &.right li {
		    	float: right;
		    }

		    li a {
			    display: inline;
			    width: auto;
			    height: 35px;
			    border: 0 none;
			    color: #DDDDDD;
			    font-size: 15px;
			    font-weight: normal;
			    line-height: 34px;
			    margin: 0;
			    padding: 0 10px;
			    white-space: nowrap;
		    }
		}

		li.current ul.right li {
		    float: right;
		}

		li.current ul li a {
		    color: #DDDDDD;
		    display: inline;
		    font-size: 15px;
		    font-weight: normal;
		    width: auto;
		    height: 35px;
		    margin: 0;
		    padding: 0 9px;
		    line-height: 34px;
		    white-space: nowrap;
		}

		li.current a:hover ul li a,
		li.current:hover ul li a {
		    color: #DDDDDD;
		    display: inline;
		    font-size: 15px;
		    font-weight: normal;
		    height: 35px;
		    line-height: 34px;
		    margin: 0;
		    padding: 0 9px;
		    white-space: nowrap;
		    width: auto;
		}
    }

    table {
	    width: 0;
	    height: 0;
	    margin: -1px -20px 0 0;
	    padding: 0;
	    font-size: 1em;
	    border-collapse: collapse;
    }

    li {
	    float: left;
	    height: 35px;

	    &.menuPrimerNivel {
	    	color: #FFF;
	    	height: 45px;
	    	padding: 0 30px;
	    	font-family: "Roboto Condensed", "Roboto";
	    	line-height: 40px;
	    	cursor: pointer;

	    	&:hover, &.current {
	    		background-color: $color-main;
	    	}
	    }

	    a,
	    span {
		    float: left;
		    display: block;
		    height: 45px;
		    margin: 0 1px 0 0;
		    padding-top: 3px;
		    padding-right: 35px;
		    padding-top: 3px;
		    padding-left: 35px;
		    font-family: "Roboto Condensed", "Roboto";
		    color: #FFFFFF;
		    line-height: 35px;
		    text-decoration: none;
		    border-right: 1px solid #004600;
		    box-shadow: 1px 0 0 #018901;
	    }

	    &.current {
	    	a,
	    	span {
			    background-color: #004600;
			    background-repeat: no-repeat;
			    background-position: right center;
	    	}

	    	ul {
			    left: 0;
			    z-index: 1;
			    width: 990px;
	    	}
	    }

	    ul {
		    left: -9999px;
		    position: absolute;
		    top: 45px;
		    z-index: 10;
		    width: 990px;
		    background-color: #004600;

		    li a,
		    li span {
	    	    display: inline;
			    width: auto;
		    	height: 35px;
		    	padding: 0 9px;
			    font-size: 15px;
			    font-weight: normal;
			    color: #ddd;
			    background-image: url(/images/nav-menusep.gif) !important;
			    background-repeat: no-repeat;
			    background-position: right center;
			    border-right: none;
			    box-shadow: none;
		    }

		    li.current_sub a {
    			color: #FFFFFF;
		    }
	    }

	    a:hover {
		    cursor: pointer;
		    text-decoration: none !important;
	    }

	    &:hover > a,
	    &:hover > span {
	    	color: white;
		    cursor: pointer;
		    text-decoration: none !important;
		    background-color: #004600;
	    }
    }
}

#menunav li a:hover ul li.current_sub a,
#menunav li:hover ul li.current_sub a,
#menunav li a:hover ul li a:hover,
#menunav li:hover ul li a:hover {
    color: #FFFFFF;
}

#menunav li.current ul li.current_sub a,
#menunav li.current a:hover ul li.current_sub a,
#menunav li.current:hover ul li.current_sub a,
#menunav li.current a:hover ul li a:hover,
#menunav li.current:hover ul li a:hover {
    color: #fff;
}
