// Menu de seccion.
// Se usa muchisimo en la parte de Administracion.
// Tambien en apuestaslive, cuotas_partido_historial, etc:
.menu_seccion {
    border-bottom: 1px solid #999999;
    clear: both;
    font-size: 12px;
    height: 37px;
    margin: 0 0 15px;
    width: 100%;

    li {
	    float: left;
	    height: 37px;
	    margin-right: 2px;
	    list-style: none;

	    a {
	    	display: block;
		    float: left;
		    height: 36px;
		    line-height: 36px;
		    color: #275f27;
		    text-decoration: none;
		    font-family: "Roboto Condensed", "Roboto";
		    text-align: center;
		    padding: 0 8px;
		    cursor: pointer;
		    font-size: 18px;
		    background-color: #CCCCCC;
			border: 1px solid #999999;
			border-bottom: none;

			&:hover {
	    		background-color: #F6F5FA;
    			background-color: #FFF;
    			text-decoration: none;
			}
	    }

	    b {
    		font-weight: normal !important;
	    }

	    &.current a {
		    background-color: #F6F5FA;
		    border: 1px solid #999;
		    border-bottom: none;
		    color: #4D4D4D;
		    margin-top: 0;
		    padding: 0px 6px 1px;

		    &:hover {
    			cursor: default;
    			color: #4D4D4D;
    			text-decoration: none !important;
    			background-color: #F6F5FA;
		    }
	    }
    }
}

// En p.e, Apuestas Futbol (tabs Activas, No activas), ya no son tabs:
#liCabeceraDeporteResto {
    float: right;
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    a {
	    /*background-color: rgb(230, 230, 230);
	    padding-left: 45px;
	    padding-right: 45px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    border-radius: 3px;*/
    }
}