/* MENU PRINCIPAL */

#menu_ppal {
    width: 818px;
    float: right;
    height: 28px;
    background-color: #b9c2ad;
    display: none;
}

#menu_ppal a {
    font-size: 12px;
    padding: 2px 5px;
    margin-top: 5px;
    color: #167010;
    float: left;
    border-right: 1px solid #7b7b7b;
    font-weight: bold;
}

#menu_ppal a:hover {
    text-decoration: underline;
    color: #2f5e2f;
}