.previa-en-liga {
	position: relative;
	overflow: hidden;
	min-height: 86px;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	background-color: rgb(243, 243, 243);
	border-radius: 5px;
	border-bottom: 3px solid darken(rgb(243, 243, 243), 3%);

	&:hover {
		background-color: darken(rgb(243, 243, 243), 5%);
		border-bottom-color: darken(rgb(243, 243, 243), 15%);
		box-shadow: 0px 0px 3px 1px rgba(128, 128, 128, 0.8);

		a, header {
			text-decoration: underline;
		}

		.ver-mas {
			background-color: green;
			border-bottom-color: darken(green, 5%);
		}

		.info {
		    background-color: rgb(217, 217, 217);
		}
	}

	a {
		position: absolute;
		z-index: 1;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

		header {
			float: left;
			width: 57%;
			padding-top: 10px;
			padding-right: 20px;
			padding-left: 20px;
			font-size: 17px;
			font-weight: 700;
			color: $color-main;
		}

		img {
			float: left;
			width: auto;
			max-width: 68px;
			padding-top: 10px;
			padding-left: 12px;
			border-radius: 3px;
		}

		p {
			float: left;
			width: 57%;
		    max-height: 94px;
			padding-left: 20px;
		}

		.ver-mas {
			$height: 9px;
			position: absolute;
		    right: 12px;
		    bottom: 10px;
		    height: $height;
		    line-height: $height;
		    padding: 10px;
		    font-weight: 700;
		    background-color: rgb(81, 141, 81);
		    color: rgb(255, 255, 255);
		    border-radius: 3px;
		    border-bottom: 3px solid rgb(0, 128, 0);
		    margin-top: -4px;
		}

		.info {
			$height: 19px;
		    position: absolute;
		    right: 12px;
		    display: inline;
		    height: $height;
		    line-height: $height;
		    margin-top: 10px;
		    margin-left: 20px;
		    padding-right: 10px;
		    padding-bottom: 5px;
		    padding-left: 10px;
		    font-size: 11px;
		    background-color: rgb(230, 230, 230);
		    border-radius: 3px;

		    .material-icons {
				position: relative;
    			top: 3px;
		    	font-size: 14px;
		    }

		    span {
		    	padding-right: 10px;
		    	padding-left: 10px;
		    }

		    span i {
		    	display: inline-block;
		    	height: 100%;
		    }
		}

}