$susy: (
  columns: 12,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
);

.proximos-partidos-wrapper {
    margin-bottom: 20px;
    margin-top: 20px;

	header {
		font-size: 22px;
	    font-weight: normal;
	    font-family: "Roboto Condensed", "Roboto";
	    letter-spacing: -1px;
	    padding: 0 0 15px;
	    color: rgb(77, 77, 77);
	}
}

	.proximos-matchs {
		list-style-type: none;
    	margin-right: 10px;
	    margin-left: 10px;
		border: 1px solid rgb(219, 219, 219);
	    border-radius: 7px;
	    box-shadow: 0px 0px 3px rgb(221, 221, 221);

	    // Cabecera:
	    li:first-child {
	    	.cuotas {

	    		li {
	    			position: relative;

	    			&:before {
    				    font-weight: 400;
    					font-size: 9px;
	    			}
	    		}

    			li:first-child:before {
    				content: '1';
    				position: absolute;
    				top: -20px;
    				width: 100%;
    			}

    			li:nth-child(2):before {
    				content: 'X';
    				position: absolute;
    				top: -20px;
    				width: 100%;
    			}

    			li:last-child:before {
    				content: '2';
    				position: absolute;
    				top: -20px;
    				width: 100%;
    			}
	    	}
	    }
	}

		.proximo-match {
			position: relative;
			display: flex;
			align-items: stretch;
		    height: 31px;
		    overflow: visible;
			transition: all 0.3s;

			&:hover {
			    color: rgb(0, 0, 0);
			    background-color: rgb(204, 204, 204);
			    text-decoration: none;
			}

			// Fecha
			p {
				flex-basis: 9%;
				display: flex;
				flex-wrap: wrap;
				overflow: hidden;
				align-items: center;
		    	padding-left: 7px;
	    		font-weight: 500;

				span + span {
					margin-left: 10px;
				}
			}

			.competiciones {
				flex-basis: 25%;
				padding-left: 9px;
    			font-weight: 500;

    			display: flex;
    			align-items: stretch;
    			overflow: hidden;

    			span {
    				line-height: 28px;
    				white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				    padding-right: 7px;
    			}
			}

			.equipos {
				flex-basis: 64%;
				display: flex;
				height: 100%;
	    		align-items: center;

	    		span {
	    			overflow: hidden;
	    			text-overflow: ellipsis;
	    		}

				span:first-child  {
					flex-basis: 45%;
				    padding-right: 3px;
			        padding-left: 2px;
					text-align: right;
					font-weight: 700;
				    font-size: 13px;
				}

				span:nth-child(2) {
					flex-basis: 5%;
					text-align: center;
					font-size: 8px;
	    			font-weight: 400;
				}

				span:last-child   {
					flex-basis: 45%;
					padding-right: 2px;
					padding-left: 3px;
					text-align: left;
					font-weight: 700;
				    font-size: 13px;
				}

			}
		}

		.cuotas12 {

			li:last-child {
				float: right;
			}
		}

		// Pares, nones:
		.proximo-match:nth-child(odd) p {
			background-color: rgb(232, 232, 232);
		}

		.proximo-match:nth-child(even) p {
			background-color: rgb(250, 250, 250);
		}