// Rating:

.ratingstar {
    cursor: pointer;
    float: left;
    padding: 3px;
    text-align: center;
    width: 185px;
}

.avatar {
	.ratingstar {
	    margin: 0 29px;
	    width: 105px;

	    span {
		    display: block;
		    font-weight: bold;
		    margin-top: 12px;
	    }
	}
}

.infoperfil .ratingstar span {
    float: left;
    font-weight: bold;
    margin: 3px 5px 0 0;
}

div.ratingstar div.on a {
    background-position: 0 -19px;
}

div.ratingstar div.medio a {
    background-position: 0 -60px;
}

div.ratingstar div.hover a,
div.ratingstar div a:hover {
    background-position: 0 -19px;
}