// Slider:

.promo {
    position: absolute!important;
    top: 14px;
    right: 10px;
    width: 120px;
    display: none;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 500px;
    margin: 0;
    height: 224px;
    background-color: #999;
    @include border-radius (2px);

    table td a {
    	color: #333333 !important;
    }

    .slider-title {
	    position: absolute;
	    top: 0px;
	    left: 0;
        width: 482px;
	    z-index: 999;
	    height: 33px;
	    padding: 4px 9px;
	    background: url("/images/transparent-bg.png") repeat scroll 0 0 transparent;
	    color: #FFFFFF !important;
	    font-family: "Roboto Condensed", "Roboto";
	    font-size: 25px;
	    font-weight: normal;
	    letter-spacing: -1px;
    }

    a {
    	color: white;
    }

    .box_bono span,
    .box_bono a {
    	color: rgb(0, 128, 0)!important;
    }
}

.slider {
    position: relative;
    width: 100%;

    &:before {
	    display: table;
	    content: ' ';
    }

    &:after {
	    display: table;
	    content: ' ';
	    clear: both;
    }

    div {
	    position: relative;
	    float: left;
        max-width: 500px;
	    margin: 0;
	    padding: 0;

	    & > img {
		    display: block;
		    max-width: 500px;
		    min-height: 224px;
		    height: auto;
	    }

	    header {
		    position: relative;
		    top: -58px;
		    box-sizing: border-box;
		    width: 100%;
		    height: 60px;
		    padding-left: 10px;
		    font-family: "Roboto Condensed", "Roboto";
		    font-size: 27px;
		    font-weight: normal;
		    letter-spacing: -1px;
		    color: rgb(255, 255, 255);
		    background: rgba(0, 0, 0, 0.59);
            display: none;
		}
    }
}

// Flechas:
.act,
#prev > span,
#next > span,
#slider-nav > a {
    background: url(../../../images/flechas.png) no-repeat;
}

.switch {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.39);

    & > span {
	    display: block;
	    width: 16px;
	    height: 24px;
    }

    &:hover {
    	background-color: rgba(0, 0, 0, 0.49);
    }
}

#next {
    right: 10px;

    & > span {
    	background-position: -20px 0;
	}
}

#prev {
    left: 10px;

    & > span {
    	background-position: 0 0;
	}
}

.caption {
    position: absolute;
    bottom: -30px;
    display: block;
    width: 100%;
    padding: 0 10px 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.59);

    a {
	    display: block;
	    color: #fff;
    }

	@media (max-width: 580px) {
        display: none;
	}
}

.slider div h3 a:hover .caption {
    text-decoration: underline !important;
}

.slider-nav {
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    width: 500px;
    height: 21px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-right: 7px;

    $tam: 5px;
    a {
	    display: inline-block;
	    width: $tam;
	    height: $tam;
	    margin: 0 3px;
	    transition: background .5s ease;
	    border: 1px solid #fff;
	    border-radius: 50%;
	    background: transparent;
	    cursor: pointer;
    }

    .active {
    	$tam-active: 7px;
	    width: $tam-active;
	    height: $tam-active;
	    background: #fff;
    }
}

// Mini slider en /apuestas/futbol/, etc:

#destacadasWH {
    width: 270px;
    height: 150px;
    position: relative;
    float: left;
    padding: 59px 15px 15px;
    color: #FFF;
    background: $color-main;
    display: block;
    @include border-radius(0 2px 2px 0);

    .header {
        background: #01143E;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 10px;

        img {
            width: 100px;
            float: right;
            margin-bottom: 1px;
        }

        .promoWH {
            background: #F3F907;
            display: block;
            padding: 2px;
            color: #01143E;
            float: left;
            margin-top: 2px;
            @include border-radius (2px);

            &:hover {
                text-decoration: none;
            }
        }
    }

    h4 {
        padding-top: 0;
        color: #FFF;
        border-bottom: 1px solid $color-verde-oscuro;
    }

    a {
        color: #FFF;
        opacity: .75;
        @include transition(all .3s);

        &:hover {
            opacity: 1;
            text-decoration: underline;
        }
    }

    table {
        width: 180px;
        background-color: #f1f7e4;
        color: #333;
        border: 1px solid #2f5e2f;
        font-size: 12px;
        margin: 10px 0 20px;
        float: none;

        td {
            text-align: center;
            width: 50px;
            padding: 0 5px;

            &.valor {
                background-color: #006600;
                color: #FFF;
                width: 8px;
                padding: 0 5px;
            }
        }

        a {
            background-color: #f1f7e4;
            color: #428942;
            font-weight: bold;
            opacity: 1;
        }
    }
}

.blogSlider {

    >.fa {
        position: relative;
        top: 60px;
        cursor: pointer;
    }

    .blogViewerContainer {
        width: 690px;
        height: 170px;
        padding: 0;
        margin: 0 5px 10px 25px;
        overflow: hidden;

        .blog-list {
            padding: 0;
            margin: 0;
            width: 9999px;

            .litnot {
                width: 200px;
                padding: 0;
                margin-right: 30px;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                @include box-shadow (none);

                h2 {
                    padding-bottom: 30px;
                }

                a {
                    height: 212px;
                }

                img {
                    width: 200px;
                    top: -10px;
                }

                .parrafo-listado-noticias-wrapper {
                    width: 200px;

                    p {
                        text-align: left;
                        font-family: 'Roboto', Arial, Sans-Serif;
                        font-weight: 700;
                    }
                }

                .material-icons {
                    font-size: 16px;
                    top: 5px;
                }
            }
        }
    }
}

.sliderBlogHome {
    margin-top: 20px;
    margin-left: 20px; 
}