// User Cards para módulo de usuarios destacados
.featured-tipsters {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.tipster-card {
	display: block;
	width: 29%;
	padding: 15px;
	margin-bottom: 7px;
	background: white;
	box-shadow: 0px 0px 3px #CCC;

	&__avatar {
		width: 50px;
		@include border-radius (25px);
	}

	&__name {;
		position: relative;
		top: 3px;
		left: 4px;
		font-size: 16px;
		font-weight: bold
	}

	&__flag {
		clear: right;
	    display: block;
	    position: relative;
	    top: -10px;
	    left: 5px;
	}

	&__medalla {
		width: 60px;
	}

	&__counters {
		display: flex;
		justify-content: space-around;
		clear: both;
		width: 100%;
		margin-top: 10px;
		background: $fondo-gris-claro;

		.counter {
			padding: 5px 0;
			text-align: center;

			.small {
				opacity: .8;
			}
		}
	}
}