/* Blog */
.categorias {
    overflow: hidden;
    height: 100%;
    margin-bottom: 24px;
    box-shadow: 0 5px 27px #C1D5C1;

    strong {
    	display: block;
	    box-sizing: border-box;
	    width: 100%;
	    height: 38px;
	    margin-left: 0px;
	    padding-left: 8px;
	    padding-top: 7px;
	    color: white;
	    font-size: 18px;
	    text-align: left;
	    background-color: green;
	    box-shadow: 0 5px 22px grey;
	    background: rgba(0, 128, 0, 1);
	    background: -moz-linear-gradient(left, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 66%, rgba(2, 101, 2, 1) 82%, rgba(4, 71, 4, 1) 100%);
	    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 128, 0, 1)), color-stop(66%, rgba(0, 128, 0, 1)), color-stop(82%, rgba(2, 101, 2, 1)), color-stop(100%, rgba(4, 71, 4, 1)));
	    background: -webkit-linear-gradient(left, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 66%, rgba(2, 101, 2, 1) 82%, rgba(4, 71, 4, 1) 100%);
	    background: -o-linear-gradient(left, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 66%, rgba(2, 101, 2, 1) 82%, rgba(4, 71, 4, 1) 100%);
	    background: -ms-linear-gradient(left, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 66%, rgba(2, 101, 2, 1) 82%, rgba(4, 71, 4, 1) 100%);
	    background: linear-gradient(to right, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 1) 66%, rgba(2, 101, 2, 1) 82%, rgba(4, 71, 4, 1) 100%);
    }

    ul {
	    clear: both;
	    overflow: hidden;
	    min-height: 87px;
    }

    li {
	    float: left;
	    box-sizing: border-box;
	    display: inline-block;
	    font-size: 14px;

	    a {
		    position: relative;
		    box-sizing: border-box;
		    display: block;
		    width: 100%;
		    height: 100%;
		    padding-top: 22px;
		    padding-right: 15px;
		    padding-bottom: 22px;
		    padding-left: 15px;
		    text-align: center;

		    &:hover {
			    color: white;
			    text-decoration: none !important;
			    background-color: #269826;
			    box-shadow: inset 0 -2px 4px #034303;
		    }
	    }
    }
}

.blog-wrapper {
	width: 100%;
    overflow: hidden;

	#content_center {
	    border-left: none;
	}

	.content_titular {
	    position: relative;
	    height: 77px;
	    margin-bottom: 0px;
	    overflow: visible;

	    &.blog-categoria {
		    margin-bottom: 56px;

		    &:after {
		    	content: "";
			    position: relative;
			    top: 0px;
			    display: block;
			    height: 38px;
			    background-color: green;
			    background: rgba(0, 128, 0, 1);
			    background: -moz-linear-gradient(left, rgba(0, 128, 0, 0.51) 0%, rgba(0, 128, 0, 0.67) 66%, rgba(2, 101, 2, 1) 82%, rgba(4, 71, 4, 1) 100%);
			    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 128, 0, 0.67)), color-stop(66%, rgba(0, 128, 0, 1)), color-stop(82%, rgba(2, 101, 2, 1)), color-stop(100%, rgba(4, 71, 4, 1)));
			    background: -webkit-linear-gradient(left, rgba(0, 128, 0, 0.51) 0%, rgba(0, 128, 0, 0.67) 66%, rgba(2, 101, 2, 1) 82%, rgba(4, 71, 4, 1) 100%);
			    background: -o-linear-gradient(left, rgba(0, 128, 0, 0.51) 0%, rgba(0, 128, 0, 0.67) 66%, rgba(2, 101, 2, 1) 82%, rgba(4, 71, 4, 1) 100%);
			    background: -ms-linear-gradient(left, rgba(0, 128, 0, 0.51) 0%, rgba(0, 128, 0, 0.67) 66%, rgba(2, 101, 2, 1) 82%, rgba(4, 71, 4, 1) 100%);
			    background: linear-gradient(to right, rgba(0, 128, 0, 0.51) 0%, rgba(0, 128, 0, 0.67) 66%, rgba(2, 101, 2, 1) 82%, rgba(4, 71, 4, 1) 100%);
			    //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#008000', endColorstr='#044704', GradientType=1);
		    }
		}

		h1 {
		    font-family: "new_athletic_m54regular";
		    font-style: italic;
		    font-size: 60px;
		    line-height: 1;
		    color: #036803;

		    span {
			    font-family: 'Roboto';
			    font-weight: 700;
		    }
		}

		img {
		    position: absolute;
		    top: -36px;
		    right: 0px;
		    z-index: 1;
		    width: 246px;
		}

		.patroseccion {
		    position: absolute;
		    top: 88px;
		    right: 239px;
			z-index: 2;
			width: 219px;
			line-height: 30px;
			margin: 0px!important;
			color: white;

		    img {
		    	position: relative;
		    	top: 7px;
		    	width: 120px;
		    	box-shadow: 1px 1px 3px black;
		    	border-left: 1px solid rgb(0, 0, 0);
			    border-bottom: 1px solid rgb(0, 0, 0);
			    border-right: 1px solid rgb(0, 0, 0);
		    }
		}
	}
}

.blog-list {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-left: 2.5%;

    & > li {
	    height: 150px;
	    background-color: white;
	    border-radius: 3px;
	    box-shadow: 0px 3px 10px #CCC;

	    & > a {
	    	position: relative;
		    z-index: 3;
		    overflow: hidden;
		    display: inline-block;
		    width: 100%;
		    height: 230px;
	    }
    }

    img {
	    position: relative;
	    top: -2px;
	    left: -2px;
	    float: none;
	    display: inline-block;
	    width: 230px;
	    min-height: 220px;
	    margin-right: 0px;
	    background-color: white;
	    transition: opacity 0.5s ease-in-out;
    }
}

.blog-list h2,
.last-posts header {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    font-size: 19px;
    padding-left: 14px;
    padding-right: 14px;
    color: green;
    text-align: center;
}

.last-posts h3 {
    padding-bottom: 0px;
}

.last-posts header {
    font-family: "Roboto Condensed", "Roboto";
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
    padding: 5px 0 !important;
}

.categorias-noticias {
    display: inline-block;
    width: 100%;
    height: 20px;
    margin: 0;
    text-align: center;

    ul {
	    position: relative;
	    display: inline-block;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;

	    &:before {
		    content: "";
		    position: absolute;
		    top: 16px;
		    left: 42%;
		    display: inline-block;
		    width: 35px;
		    border-bottom: 1px solid #D8D8D8;
	    }

	    li {
		    display: inline-block;
		    width: 40%;

		    &:hover {
			    background-color: green;
			    color: white;
			    padding-right: 0;

			    a {
			    	color: white;
			    }
		    }
	    }
    }
}

.blog-list span.stng {
    float: left;
    display: inline-block;
    margin-top: 6px;
    margin-left: 0px;
    padding-left: 12px;
    color: grey;
    text-align: left;
    font-size: 10px;
}

.blog-list .parrafo-listado-noticias-wrapper,
.last-posts-ES p {
    box-sizing: border-box;
    position: absolute;
    top: -100%;
    left: 0px;
    display: block;
    width: 230px;
    height: 230px;
    padding: 10px;
    background: rgba(3, 104, 3, 0);
    color: white;
    transition: background-color 0.5s ease-in-out, top 0.2s ease-in-out;
}

.blog-list .parrafo-listado-noticias-wrapper p {
    overflow: hidden;
    height: 172px;
    font-size: 16px;

    &:after {
	    content: "Leer más...";
	    display: block;
	    margin-top: 10px;
	    font-weight: 900;
	    text-decoration: underline;
    }
}

.blog-list .title-break {
    background: rgba(3, 104, 3, 0.5);
    border-width: 1px;
}

.blog-list a:hover {
    text-decoration: none!important;
}

ul.blog-list>li:hover {
    cursor: pointer;
    box-shadow: 0px 24px 29px #CCC;
}

ul.blog-list>li:hover .parrafo-listado-noticias-wrapper,
.last-posts-ES li:hover p {
    visibility: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    z-index: 2;
    display: block;
    width: 230px;
    height: 228px;
    padding-top: 33px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background: rgba(3, 104, 3, 0.75);
    border-bottom: 5px solid #21610B;
    box-shadow: 0 -6px 33px black;
    overflow: hidden;
}

ul.blog-list>li:hover img {
    opacity: 0.1;
}

.blog-list .commentsReplay,
.articulo .commentsReplay {
    box-sizing: border-box;
    background-color: #F2F2F2;
}

.blog-list .commentsReplay .respond {
    width: 25%;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    cursor: pointer;
}