@import "node_modules/compass-sass-mixins/lib/compass";

.bonos-wrapper {

	.listcfoto {
		position: relative;

		.gratis_img {
			margin-top: 16px;
			img {
				@include border-radius(6px);
			}

			img:hover {
				@include transform(scale(1.1));
			}
		}
	}
}