/**friki**/

.buscadorfriki {
    float: right;
    margin: -5px 19px 0 20px;
    width: 212px;
}

.buscadorfriki .botonbuscar {
    background-image: url("/images/spriteicons.png");
    background-position: 3px -46px;
    border-radius: 3px 3px 3px 3px;
    float: right;
    margin: 5px 2px;
    padding: 2px 6px !important;
    text-indent: -70px;
    width: 27px;
}

.valorafriki {
    margin: 20px 20px 10px;
    overflow: hidden;
    padding: 6px 0 0;
    float: left;
}

.frikides .valorafriki {
    font-weight: bold;
    margin-left: 10px;
    width: 400px;
}

.frikiporcent {
    width: 150px;
    background-color: #e5e1d6;
    height: 15px;
    float: left;
}

.txtblue,
.txtred {
    color: #0073A9;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin: -1px 0 10px 9px;
}

img.imgfriki {
    border: 1px solid #CCCCCC;
    margin-right: 15px;
    padding: 0;
}

.bote {
    border-top: 3px solid #E5E1D6;
    float: left;
    font-size: 18px;
    margin-left: 20px;
    padding: 5px;
    width: 335px;
}

.date {
    border-top: 3px solid #E5E1D6;
    float: right;
    font-size: 18px;
    margin-left: 20px;
    padding: 11px 5px;
    text-align: right;
    width: 157px;
}

.bote b,
.date b {
    font-size: 12px;
}

.txtred {
    color: #c6041d;
}

.valorafriki span {
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 28px;
    color: #000000;
}

.frikiporcent img {
    height: 15px;
    padding: 0;
}

.frikides {
    float: right;
    width: 525px;
}

.frikides h2 {
    color: #006600;
    font-size: 26px;
    font-weight: normal;
    margin: 0 4px 10px;
}

.frikiright {
    background-color: #EDEDED;
    float: left;
    width: 200px;
    text-align: center;
    margin-left: 7px;
    padding: 5px;
    border-radius: 5px;
}

.frikiright img {
    width: 200px;
}

.frikiright p {
    text-align: center !important;
    line-height: 21px;
}
p.netbote {
    color: #000000;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}
p.netbote span {
    font-size: 16px;
}

.frikis_error {
    background-image: url(/images/ico_nota.png);
    background-repeat: no-repeat;
    background-position: 0 6px;
    margin: 15px;
    font-size: 15px;
    color: #F00;
    display: block;
    padding: 3px 0 0 16px;
}

.frikis_ok {
    margin: 30px;
    font-size: 19px;
    color: #008000;
    display: block;
}