// Guia de apuestas:
.contenido {
    clear: both;
    text-align: justify;

    h1 {
	    color: #333;
	    font-size: 30px;
	    border-bottom: 4px solid #ccc;
	    margin-bottom: 10px;
    }

    h2 {
	    padding: 0;
	    margin-top: 10px;
	    margin-bottom: 15px;
    }

    h3 {
	    padding-bottom: 5px;
	    border: 1px solid #ccc;
	    width: 160px;
	    padding: 5px;
	    margin-bottom: 5px;
    }

    img {
	    float: left;
	    padding-right: 5px;
    }

    ul {
    	font-size: 12px;
    }

    li {
	    list-style: none;
	    list-style-type: none;
	    background-image: url(/images/ico_flecha.gif);
	    background-repeat: no-repeat;
	    background-position: left top;
	    padding-left: 12px;
	    width: 100%;
    }

    hr {
    	clear: both;
    }
}

.indice {
    background-color: #EDEDED;
    border: 1px dotted #CCCCCC;
    margin: 10px 0 20px;
    width: 520px;

	ul {
	    font-size: 12px;
	    font-weight: bold;
	    margin: 10px 0;
	}

	ol {
    	margin: 5px 10px;
	}

	li {
	    list-style: none;
	    list-style-type: none;
	    background-position: left 5px;
	    padding: 2px 10px 2px 15px;
	    width: 100%;
	}
}
