$color-minileagues: orange;

// Mini-League Icon:
#liCabeceraSeccionTipsters {

	.icon-minileagues {
		top: 0px;
		right: 0%;
		overflow: hidden;
		display: inline;
		width: 30px;
		height: 30px;

		&:before {
		    content: "";
		    position: absolute;
	        z-index: 3;
		    top: -97%;
		    right: 0%;
		    display: inline-block;
		    width: auto;
		    height: auto;
		    color: white;
		    border-color: transparent $color-minileagues transparent transparent;
		    border-style: solid;
		    border-width: 30px;
		}
	}

	a.asterisco:before {
		content: "*";
	    position: absolute;
	    top: 8%;
	    right: 3%;
		z-index: 4;
	    display: inline-block;
	    width: auto;
	    height: auto;
	    color: white;
	}
}

// Mini-Leagues Legend:
.legend-minileagues-wrapper {
    position: relative;
    top: -13px;
	overflow: hidden;
	display: block;
    width: 100%;
	padding-right: 17px;
	font-style: italic;
	text-align: right;
	background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

	 &>div {
	 	float: right;
	 	width: 136px;
	}

	span {
		float: left;
		box-sizing: border-box;
	    overflow-y: hidden;
		display: inline-block;
		width: 20px;
		height: 20px;
	    padding-top: 3px;
	    line-height: 20px;
	    text-align: center;
	    font-size: 17px;
		color: white;
		background-color: $color-minileagues;
	}

	p {
		float: left;
		position: relative;
    	left: 9px;
		display: inline;
	    padding-top: 1px;
		color: black;
		background-color: transparent;
	}
}

// Mini-Leagues:
.minileagues-wrapper {
	display: inline-block;
	float: right;
	width: 32%;
	height: auto;
	padding: 10px;

	button {
		width: 100%;
		height: 30px;
		cursor: pointer;
	}

	h3 {
    	margin: 0;
    	padding: 0px!important;
	    font-size: 22px;
	    border-bottom: 3px solid $color-minileagues;

	    &:before {
	    	content: "*";
	    	float: left;
	    	display: inline-block;
	    	width: 30px;
	    	height: 30px;
	    	margin-right: 10px;
	    	background-color: $color-minileagues;
	    	color: white;
	    	text-align: center;
    	    font-size: 31px;
    		line-height: 30px;
	    }
	}

	ul {
		overflow-y: hidden;
		max-height: 88px;
		margin-top: 10px;
	    margin-bottom: 8px;
		list-style: none;

		li {
			padding-top: 5px;
    		padding-bottom: 5px;
    		padding-left: 5px;

    		a:before {
    			content: "-";
    			color: green;
    			padding-right: 4px;
    		}

    		div {
			    font-size: 11px;
    		}

    		&:nth-child(odd) {
    			background-color: white;
    		}
		}

		li + li {
    		border-top: 1px solid rgba(0, 0, 0, 0.2);
		}
	}

	.btn-minileagues-dropdown  {
	    background: #006600 url("/images/ico-down-user.png") no-repeat scroll 11px 11px;

	    &.open {
			background: #006600 url("/images/ico-up-user.png") no-repeat scroll 11px 11px;
	    }
	}
}

.minileague-background {
	position: relative;
	top: 0px;
    width: 800px;
    height: 70px;
    background-repeat: no-repeat;
}