/*** normas ***/

.block-normas {
	padding: 10px;
	box-shadow: 0 1px 1px 0px rgba(0,0,0,0.1);
	background-color: #FFF;
}

.images-normas {
    display: block;
    margin: 20px auto;
    clear: both;
}

.reglas-seccion-tipster-experto {
    line-height: 30px;

    > img {
        float: left;
        margin: 0 5px 3px 0;
        width: 40px;
    }
}