/***poker***/

.pokergratis {
    width: 100%;
    float: left;
    font-size: 12px;
    margin-right: 5px;
}

.pokergratis h1 {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
    padding: 0 10px;
}

.bloque_poker {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 6px 4px -5px #DDDDDD;
    float: right;
    margin: 10px 20px 4px;
    width: 495px;
}

.bloque_poker p {
    margin-top: 5px;
    padding: 0 5px;
}

.bloque_poker img {
    text-align: center;
}

.modulo_poker {
    float: left;
    min-height: 94px;
    padding: 0 0 5px;
    width: 385px;
}

.modulo_poker span {
    font-size: 14px;
    padding-top: 5px;
    margin: 5px;
    padding-bottom: 0;
    display: block;
    font-weight: bold;
}

.modulo_poker h23 {
    font-size: 14px;
    padding-top: 5px;
    margin: 5px;
    padding-bottom: 0;
}