// Porra Twitter:

.porra_hash {
    font-weight: bold;
    color: #006600;
    font-size: 10px;
    font-style: italic;
}

.fecha_porra {
    background-color: #4D4D4D;
    padding: 5px 8px;
    color: white;
}

.evento_porra {
    margin: 12px 0;
}

.titulo_porra {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
}

.entrada_porra {
    color: #006600;
    font-size: 15px;
    font-weight: bold;
    margin-top: 7px;
}

.hr_porras {
    border-bottom: 1px solid green;
    margin: 0 0 22px 0;
    box-shadow: none;
}