.quinielas-wrapper-full {

	&.quinielas-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

		.quiniela-pais {
			flex-basis: 33%;
			max-width: 235px;
		}

			.list-quinielas {
				height: calc(100% - 43px);
		    	margin-top: 0px!important;
			}

				.quiniela {
					$height: 33px;
					height: $height;

					&:after {
						display: none;
					}

					a {
						font-size: 12px;

						&:hover {
							background-color: transparent;
				    		box-shadow: none;

						}

						// Leer mas:
						&:after {
							display: none;
						}
					}

						img {
							position: relative;
							top: 0px;
							left: 0px;
							float: left;
							width: 72px;
							height: $height;
						}
				}
}

	.quiniela-pais {
		box-sizing: border-box;
		overflow: hidden;
		margin-top: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		background-color: white;
		box-shadow: 0 3px 10px #CCCCCC;
		border-radius: 5px;

		.header {
			$height: 40px;
			height: $height;
			line-height: $height;
			padding-left: 10px;
			background-color: white;

			h3 {
				font-size: 18px;
				font-family: "Roboto";
			}
		}

	}

		.list-quinielas {
			box-sizing: border-box;
			padding-top: 10px;
			padding-bottom: 10px;
		    background-color: rgb(246, 246, 246);
	    	box-shadow: 0px 1px 3px -1px rgb(128, 128, 128) inset;

	    	li {
	    		display: block;
	    	}
		}

			.quiniela {
				$height: 133px;
				position: relative;
				display: block;
				height: $height;
				margin-bottom: 10px;
				padding-left: 0px;
				font-weight: bold;
				text-align: left;

				&:after {
					content: "";
					display: block;
					width: 96%;
					height: 2px;
				    border-bottom: 1px dashed rgb(161, 161, 161);
				}

				a {
					position: relative;
					display: block;
					height: 100%;
				    line-height: 35px;
					margin-top: 4px;
					margin-right: 7px;
					margin-bottom: 8px;
					margin-left: 0px;
					padding-left: 10px;
				    font-size: 15px;

				    &:hover {
				    	background-color: rgb(236, 236, 236);
				    	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);

				    	& > p {
				    		color: rgb(0, 102, 0);
				    	}
				    }

					& > p {
					    position: absolute;
				        top: 40px;
	    				left: 154px;
	    				width: calc(100% - 201px);
	    				max-height: 66px;
    					text-overflow: ellipsis;
    					overflow: hidden;
	    				font-size: 12px;
    				    color: rgb(128, 128, 128);
    					font-weight: 400;
					}

					&:after {
						content: "Leer más";
						position: absolute;
						bottom: 0px;
						right: 44px;
						text-decoration: underline;
						font-weight: 700;
						font-size: 12px;
						color: rgb(0, 102, 0);
					}
				}

					img {
						position: absolute;
						top: 40px;
						left: 15px;
						width: 108px;
						height: auto;
						margin-right: 10px;
					    margin-left: 12px;
	    				box-shadow: 0px 0px 2px rgb(128, 128, 128) inset;
						border-radius: 3px;
					}
			}

.box_quini {
	float: left;
	width: 220px;
	height: 154px;
	margin-top: 4px;
	margin-right: 7px;
	margin-bottom: 17px;
	margin-left: 18px;
	padding-top: 9px;
	padding-right: 4px;
	padding-bottom: 9px;
	padding-left: 4px;
	text-align: left;
	font-weight: bold;
	background-color: white;
	box-shadow: 0 3px 10px #CCCCCC;
	border-radius: 5px;
}


.box_quini img {
  	float: none;
  	padding: 5px 10px;
}

.box_quini h3,
.box_quinihome h3 {
  	font-size: 14px;
  	text-align: center!important;
}

.grupo-casilla {
  	display: inline;
  	width: 16px;
  	margin: 0 2px;
  	padding: 2px 6px;
  	color: #FF3E2C;
  	font-weight: bold;
  	background-color: #FFFFFF;
  	border-radius: 3px;
}

.quinielarelative {
  	position: relative;
}

.noteregister {
	width: 94%;
	margin-top: 12px;
	margin-right: 4px;
	margin-bottom: 12px;
	margin-left: 4px;
	padding-top: 9px;
	padding-right: 9px;
	padding-bottom: 22px;
	padding-left: 25px;
	text-align: left;
	background-color: #FFFFFF;
	border-radius: 5px;
}

.titpronosti {
  	font-weight: 100;
  	line-height: 36px;
}

.titsubpronosti {
  	font-weight: 100;
  	line-height: 10px;
}

.lpralerta {
  	float: left;
  	padding: 20px;
}

.lpaviso {
  	float: left;
  	margin: 30px 0;
}