// Cabecera y tabs en cuotas:

.tabNavBar {

    .title {

	    &.liguillas {
		    padding: 18px 9em 24px 24px;
		    margin: 0;
		    border-bottom: 1px solid #b5b5b5;
		    font: 30px/1 'Roboto';
		    color: #004600;
		    letter-spacing: 0;
		    background-image: url(/imagenes/liguillas/bg-title-liguillas.jpg);
		    background-color: grey;
		    background-blend-mode: multiply;
		    border-top-left-radius: 3px;
		    border-top-right-radius: 3px;
	    }
    }

    h2.title.liguillas {
    	color: #FFF;
    }

    ul {
	    position: relative;
	    list-style: none;
	    margin: 0;
	    padding: 12px 0 0 10px;

	    a {
	    	display: block;
		    padding: 15px 11px;
			color: #5e5d5f;
	    }
    }

    &.apuestas {
    	ul {
    		padding-top: 24px;
    		padding-left: 10px;
    	}

    	li {
    		position: relative;

    		a {
			    position: relative;
			    z-index: 2;
    		}
    	}

    	.pronosticos {
		    color: #333;
		    background-color: #bebebe;
		    text-align: center;
		    padding-top: 5px;
		    margin-top: -24px;
		    font-size: 13px;
		    font-weight: 500;

		    ul {
			    margin-top: 0;
			    padding-top: 5px;
			    background-color: #bebebe;
			    padding-right: 10px;
		    }
    	}
    }

    li {
	    display: inline-block;
	    margin: 0 0px -5px 0;
	    vertical-align: top;
	    font: 14px/1 'Roboto';
	    font-weight: bold;
	    text-transform: uppercase;
	    color: #5e5d5f;
    }

}

.tabNavBar .current a,
.tabNavBar li a:hover {
    background: #fff;
    cursor: pointer;
    text-decoration: none !important;
}

.tipster .tabNavBar .current a {
    color: #ad4509;
}

.picks .tabNavBar .current a {
    color: #ffb72b;
}

.friki .tabNavBar .current a {
    color: #f79c39;
}

.porra .tabNavBar .current a {
    color: #019bdd;
}

// Fin cabecera y tabs en cuotas:
