// Picks: Clasificacion:
.picks-clasificacion-estrellas {
    position: absolute;
    right: 9px;
    margin-top: -3px;
    margin-left: 8px;
    background-position: 0px -19px;
    cursor: auto;
}
