/* En el pasado se ha utilizado susy para hacer tablas responsive. Dado que desde la aceptación de flexbox
susy ha caído en desuso para este tipo de tareas de diseño de grid, vamos a utilizar una adaptación basada
en flexbox */

.flexboxTable {
    display: inline-flex;
    width: 100%;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

        .fTableContent, .fTableHeaders {
        	display: flex;
        	align-items: center;
        	justify-content: flex-end;
        	height: 30px;

        	&>:nth-child(n) {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 30px;
				text-align: center;
			}
        }
    }
}

/* Estilos para que utilice los colores típicos de la web */

.defaultFlexboxTable {
	background: #FFF;

	.fTableHeaders {
		background-color: $color-main;
		color: #FFF; 
	}

	.fTableContent {
		&:nth-child(even) {
			background: $color-gris;
		}

		.tv {
			height: 30px;
			display: flex;
    		justify-content: center;
    		align-items: center;
			color: $color-main;
		}

		.live {
			color: #FFF;
			font-family: 'Roboto', Arial;
			font-size: 14px;
			font-weight: 900;
			line-height: 28px;
			border: 1px solid lighten(#000, 70%);
			background: linear-gradient(to bottom, #ff0000 0%, #ff0000 48%, #ff0000 50%, #660000 100%);

			&:hover {
				color: red;
				background: linear-gradient(to bottom, #ffffff 0%, #ffffff 48%, #ffffff 50%, #b3b3b3 100%);
			}
		}
	}

	.ttu {

		.tooltiped {
			border: 1px solid $color-main;
			padding: 0 !important;
			@include border-radius(0 10px 10px 10px);
		}

		ul {
			padding: 0;
			background: red;

			a {
				color: #FFF;
				display: block;
				width: 100%;
				font-size: 14px;

				&:hover {
					text-decoration: underline;
				}
			}

			li {
				list-style: none;

				&:hover {
					background-color: darken($color-rojo-oscuro, 10%);
				}

				&:nth-child(even) {
					background: $color-rojo-oscuro;

					&:hover {
						background-color: darken($color-rojo-oscuro, 10%);
					}
				}
			}
		}
	}
}

/* Estilos específicos para cada tabla concreta: tamaños para cada celda, colores no por defecto, y demás 
personalizaciones */

.tablaHoy {
	.fTableHeaders {
		text-shadow: 2px 2px 0 darken($color-main, 5%);

		&>b {
	    	padding: 5px 0;
	    	text-align: center;
	    	overflow: hidden;
		}

		&>:nth-child(1){
			width: 38px;
		    padding: 0 5px;
		}

		&>:nth-child(2){
			width: 10%;
		    padding: 0 5px;
		}

		&>:nth-child(3) {
			width: 110px;
		}

		&>:nth-child(4) {
			width: 39%;
		    padding: 0 5px;
		}

		&>:nth-child(5), &>:nth-child(6), &>:nth-child(7){
			width: 35px;
		}

		&>:nth-child(8), &>:nth-child(10), &>:nth-child(9) {
			width: 34px;
		}
	}

	.fTableContent {

		.fechaEvento {
			width: 38px;
		    text-align: center;
		    font-weight: 300;
		    font-size: 10px;
		    background-color: #D8D9DD;
		    line-height: 1;
		    padding: 0 5px;
		    word-spacing: 9999px;
		    overflow: hidden;
		    opacity: .6;
		}

		&>:nth-child(2) {
			width: 10%;
			padding: 0 5px;
			@include transition(all .3s);

			&:hover {
				background: lighten(#000, 80%);
				text-decoration: none;
			}
		}

		&>:nth-child(3) {
			width: 16px;
			text-align: center;
		}

		&>:nth-child(4) {
			width: 110px;
			@include transition(all .3s);

			&:hover {
				background: lighten(#000, 80%);
				text-decoration: none;
			}
		}

		&>:nth-child(5) {
			width: 39%;
			padding: 0 5px;
			line-height: 1;
			text-align: center;
			font-weight: bold;
			@include transition(all .3s);

			&:hover {
				background: lighten(#000, 80%);
				text-decoration: none;
			}
		}

		&>:nth-child(6), &>:nth-child(7), &>:nth-child(8) {
			width: 33px;
			position: relative;
			background: linear-gradient(to bottom, #ffffff 0%, #ffffff 48%, #e6e6e6 50%, #cccccc 100%);
			border: 1px solid lighten(#000, 70%);

			a {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				color: #000;
				text-align: center;
				line-height: 30px;
				font-weight: bold;

				&:hover {
					background: linear-gradient(to bottom, #999999 0%, #999999 48%, #666666 60%, #333333 100%);
					text-decoration: none;
					color: #FFF;
				}
			}
		}

		&>:nth-child(9){
			width: 32px;
			padding: 0;

			&>a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				height: 30px;

				&:hover {
					background: lighten(#000, 80%);
					text-decoration: none;
					color: #FFF;
				}
			}
		}

		&>:nth-child(10) {
			padding: 0;
			width: 31px;

			.tv {
				width: 31px;

				&:hover {
					background: lighten(#000, 80%);
					text-decoration: none;
				}
			}
		}

		&>:nth-child(11) {
			padding: 0;
			width: 35px;

			.live {
				width: 33px;
				text-align: center;
			}
		}
	}
	
}

.table_buscador {
	width: 100%;
    margin: 0 0 10px;
    padding: 0 0 5px; 
    border: none;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;

    .botonactualizar {
    	margin-top: 5px;
    }

    td {
	    padding-left: 5px;
	    text-align: left;
	}
}