@mixin width-fixed() {
	width: 100%;
	max-width: $width-max-fixed;
	margin: 0 auto;
}

@mixin vertical-center() {
	display: table-cell;
	vertical-align: middle;
}

@mixin horizontal-center() {
	text-align: center;
}

@mixin vertical-horizontal-center() {
	@include vertical-center();
	@include horizontal-center();
}

@mixin vertical-center2($height) {
	position: relative;
	top: 50%;
	margin-top: -($height / 2);
}

// Source: https://css-tricks.com/snippets/sass/css-triangle-mixin/
@mixin triangle($direction, $color: currentcolor, $size: 1em) {
	@if not index(top right bottom left, $direction) {
		@error "Direction must be either `top`, `right`, `bottom` or `left`.";
	}
	width: 0;
	height: 0;
	content: '';
	//z-index: 2;
	border-#{opposite-position($direction)}: $size solid $color;
	$perpendicular-borders: $size solid transparent;

	@if $direction == top or $direction == bottom {
		border-left: $perpendicular-borders;
		border-right: $perpendicular-borders;
	} @else if $direction == right or $direction == left {
		border-bottom: $perpendicular-borders;
		border-top: $perpendicular-borders;
	}

	//border-width: 5px 8px; // Meter tamaños dinámicos (?)
	@include transform(scale(1.01)); // Hack: https://brettstrikesback.com/de-pixelating-the-css-triangle/
}

@mixin truncate_string() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin truncate_multilines_string() {
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin quit_truncate_string() {
	white-space: normal;
	line-height: normal!important;
}

@mixin clear-fix() {
	&:before,
	&:after {
		content: "";
        display: table;
        clear: both;
	}

	*zoom: 1;
}

@import "animations";
@import "linear-gradients";
@import "shadows";