@import "correccion_picks/correccion_picks";

.reportar {
    padding: 4px!important;
    border-bottom: 2px solid transparent;
    border-radius: 3px;

    &:hover,
    &.active {
    	$color: red;
    	color: white;
    	background-color: $color;
    	border-bottom: 2px solid darken($color, 10%);
    }
}

.popup-reportar {
	position: absolute;
    top: 45px;
    right: 0px;
    z-index: 1;
    width: 300px;
    height: auto;
    min-height: 238px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0px 0px 8px grey;

    &:before {
    	$tam: 10px;
    	content: '';
    	position: absolute;
    	top: -$tam;
    	left: 50%;
    	@include triangle("top", white, $tam);
    }

    p {
    	text-align: left;
    }

    ul {
    	margin-bottom: 10px;
    }

    li {
    	$height: 24px;
	    min-height: auto;
	    height: auto;
	    line-height: $height;
	    margin: 0px!important;
	    padding: 5px 10px!important;
	    border-bottom: 1px solid rgb(230, 230, 230)!important;

	    &:hover,
	    &.selected {
    		cursor: pointer;
	    	background-color: rgb(231, 231, 231);
	    }

	    &.selected {
	    	border-bottom: 1px solid darken(rgb(230, 230, 230), 30%)!important;
	    }
    }

    	.otros {

			input[type="text"] {
				display: none;
    			width: calc(100% - 10px);
    		    height: 24px;
    			padding: 5px;
			}

			&.selected {
				input[type="text"] {
					display: block;
				}
			}
    	}

    .boton {
	    float: left;
	    position: static;
	    width: 48%;
	    margin-top: 0px;
	    text-align: center;

    }

	.botoncancelar {
		float: right;
	}

	.icon-cerrar {
		$tam: 21px;
		$color: rgb(192, 186, 186);
		position: absolute;
		top: 0px;
		right: 0px;
		display: inline-block;
		width: $tam;
		height: $tam;
		margin: 5px;
	    background-color: $color;
		background-image: url(/images/cerrar.png);
		background-position: 18px 18px;
    	border-radius: $tam;
		cursor: pointer;

		&:hover {
			background-color: darken($color, 10%);
		}
	}

	.info-validate {
		display: none;
	    float: left;
	    width: 100%;
	    color: rgb(255, 0, 0);
	}

	.info-validate-ok {
		display: none;
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    height: 258px;
	    overflow: hidden;
	    margin-top: 0px;
	    padding-top: 17px;
	    padding-left: 26px;
	    text-align: left;
	    font-size: 18px;
	    font-weight: 700;
	    font-family: "Roboto";
	    color: rgb(0, 128, 0);
	    border-radius: 5px;
	    background: url(/images/validate-reporte-pick.jpg) no-repeat;
	}
}

.block-text{
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    &__title{
        padding-left: 0;
    }
}
