// Banners:

.patroseccion {
    float: right;
    font-size: 12px;
    width: 223px;
}

.patroseccion img {
    float: right !important;
    border-radius: 3px;
}

.patroseccion a + a {
    float: right;
    display: inline-block;
    margin-top: 10px;
}

.b160x600 {
    float: right;
    width: 160px;
    margin-right: 5px;
    float: right;
    width: 160px;
    margin-right: 10px;
}

.b468 {
    padding: 10px 10px 4px 10px;
    text-align: center;
    border: 0px solid #F00;
    clear: both;
}

.b792 {
    clear: both;
    padding: 10px 15px;
    text-align: center;
}

.b468 div {
    padding: 10px 80px 0 80px;
    text-align: center;
}

.b468 img {
    float: none !important;
}

.b300x250 {
    text-align: center;
    border: 0px solid #F00;
    clear: both;
}

.b200 {
    clear: both;
    /*padding: 5px 0;*/

    text-align: center;
}

.b200 > div {
    margin-bottom: 20px;
    box-shadow: 0px 3px 10px #CCC;
}

.b120x240 {
    clear: both;
    padding: 5px 5px 1px;
    text-align: center;
}

.b728sup {
    left: 271px;
    padding: 0;
    position: absolute;
    top: 48px;
    width: 728px;
}

.b728foot {
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 998px;
}

.b728w {
    background-color: #FFFFFF;
    margin-left: 132px;
    width: 728px;
}

.banner-fake {
    background: url("/images/banner-fake.png") no-repeat;
    top: 1027px;
}

.fixed_banner {
    position: fixed!important;
    top: 1%;
}

.box_lat.banner-izquierda-wrapper {
    width: 123px;
    position: absolute;
    height: auto;
    margin-top: 0px!important;
    margin-left: -140px;
    top: 500px;
    box-shadow: none!important;
}

@media screen and (max-width: 1260px) {
    .banner-izquierda-wrapper {
        display: none;
    }
}