.searchg {

	input[type="text"] {
    	margin-top: 2px;
    }

    input[type="button"] {
	    display: inline-block;
	    background-color: #EDEDED;
	    background-position: 6px -574px;
	    background-repeat: no-repeat;
	    border: 0px solid #2F5E2F;
	    border-radius: 4px 4px 4px 4px;
	    color: #006600 !important;
	    cursor: pointer;
	    font-size: 13px;
	    margin-top: 6px;
	    padding: 5px 4px 5px 27px !important;
	    text-align: left;
	    border-radius: 4px;
	    transition: all 0.8s ease-in-out 0s;
	    text-shadow: 0 -1px 1px #000000;
	    background-image: url("/images/spriteicons.png");
	    text-indent: -999em;
	    margin-left: -10px;
	}

	&.resultado {
		input[type="button"] {
		    background-color: #fff;
		}

	}
}

#busca {
    width: 72%;
    height: 2em;
    margin-top: 12px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 7px;
    padding-left: 3px;
    border: 1px solid #ccc;
    background-color: #EDEDED;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    color: #999;
    font-size: 1em;
    box-shadow: 0 3px 9px #CCCCCC;
}