.title-page{
    position: relative;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 25px;
    .header-content{
        color: #fff !important;
        text-transform: uppercase;
        padding: 25px 0;
        position: relative;
        box-shadow: none;
        padding-left: 25px;
        border-radius: 0;
        font-size: 37px;
        font-weight: bold;
        margin-bottom: 0 !important;
        background-image: url('/imagenes/fondo-title.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &::before{
            content: "";
            width: 8px;
            height: 52px;
            background-color: #ffb72b;
            position: absolute;
            left:0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .patroseccion {
        position: relative;
        top: -35px;
    }
    .cab_competitions{
        position: relative;
        top: -15px;
        width: 100%;
        left: 40px;
        .sponsors{
            width: 100%;
            text-align: center;
            a{
                display: inline-block;
            }
        }
    }
    &__text{
        padding: 0 25px 25px;
        &--featured{
            color: #ffb72b;
            font-size: 19px;
        }
    }
}
.header-content {
	position: relative;
    margin: 0;
    margin-bottom: 30px!important;
    padding-top: 18px;
    padding-right: 160px;
    padding-bottom: 18px;
    padding-left: 18px;
    font-family: "Roboto";
	font-size: 30px;
	font-weight: 700;
    letter-spacing: 0;
	color: $color-main!important;
	background-color: white;
	border-top-left-radius: $coef-radius/2;
	border-top-right-radius: $coef-radius/2;
    border-bottom: 1px solid #b5b5b5;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 0px 16px rgba(0, 0, 0, 0.3), 0px -3px 3px rgba(0, 0, 0, 0.2);

	.patroseccion {
	    position: absolute;
	    right: 16px;
	    bottom: 16px;
	    width: 120px;
	    line-height: 23px;
	    margin-top: 10px;
	    margin-right: 3px;
	    margin-bottom: 0px;
	    margin-left: 0px;
	    font-size: 12px;
	}
}

.header-content + .patroseccion,
.header-content + .box_bono,
.header-content + .date {
    position: absolute;
    top: 38px;
    right: 20px;
    width: 120px;
}

.header-content + .unirse {
	top: 15px;
	right: 15px;
}

.header-content + .box_bono {
	top: 56px;
}

.header-content + .box_bono {
    clear: none;
    min-width: auto;
    height: 29px;
    background-position: 201px -120px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: none;
}

.header-content.liguillas {
	margin-bottom: 0px!important;
}

.header-content + .date {
	top: 48px;
    font-size: 14px;
    text-align: center;
    border-top: none;
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
}

.header-content.light {
    font-size: 2em;
    text-transform: none;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 110%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px black;
    padding: 15px;
    border-radius: 5px;
    background-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    box-shadow: none;
    margin-bottom: 7px!important;
}

.header-content-verde {
    position: relative;
    height: 75px;
    padding-bottom: 15px;
    color: #FFF;
    font-size: 27px;
    font-weight: 700;
    font-family: 'Exo 2', 'Roboto', Arial;
    background: url('/images/fondo-title-verde.png');

    &.conPatrocinadores {
        margin-bottom: 20px;
    }

    #icono-bola-cristal {
        width: 40px;
        position: absolute;
        top: 23px;
        left: 55px;
    }

    #icono-lupa {
        width: 30px;
        position: absolute;
        top: 34px;
        left: 55px;
    }

    #icono-live {
        width: 30px;
        position: absolute;
        top: 34px;
        left: 55px;
    }

    span {
        position: absolute;
        left: 140px;
    }
}

h2.header-content-verde {
    span {
        top: 32px;
    }
}

h1.header-content-verde {
    span {
        top: 30px;
    }
}
