.txt_compartir {
    margin-top: 10px;
    margin-left: 12px;

    img {
    	float: left;
    }

	#clk_comp {
	    cursor: pointer;
	    color: #006600;
	    margin-right: 10px;
	    font-size: 12px;
	    font-weight: bold;
	}

	textarea {
	    margin-top: 5px;
	    margin-bottom: 5px;
	    width: 95%;
	    font-size: 12px;
	    text-align: center;
	    padding: 5px 13px 0px 12px !important;
	    -webkit-appearance: textarea;
	    background-color: white;
	    border: 1px solid #CEDABB;
	    border-image-source: initial;
	    border-image-slice: initial;
	    border-image-width: initial;
	    border-image-outset: initial;
	    border-image-repeat: initial;
	    -webkit-rtl-ordering: logical;
	    -webkit-user-select: text;
	    flex-direction: column;
	    resize: auto;
	    cursor: auto;
	    white-space: pre-wrap;
	    word-wrap: break-word;
	    height: 20px;
	}
}