// Esta el footer (usuarios registrados, pronosticos disponibles):
.datos_usuarios {
    float: right;
    list-style: none outside none;
    padding: 4px;
    text-align: left;
    width: 276px;

	ul {
	    margin-top: 10px;
	}

    li {
	    color: #FFFFFF;
	    float: left;
	    list-style: none outside none;
	    text-align: center;
	    width: 130px;
	    border-right: 1px solid #004600;
	    box-shadow: 1px 0 0 #018901;

		&:last-child {
		    border-right: none;
		    box-shadow: none;
		}
	}

	img {
    	margin: 8px;
	}

	span {
	    clear: both;
	    display: block;
	    font-size: 19px;
	    font-weight: normal;
	    margin: 5px 0;
	}
}