/* FOOTER */

.footer_grupo {
	position: relative;
    font-size: 11px;
    color: #fff;
    padding: 0px 0px;
    clear: both;
    text-align: center;
    background-color: rgb(0, 102, 0);
    background-image: url(/images/bgfooter.gif);
    background-repeat: repeat-x;
    background-position: left top;
    border: 1px solid rgb(0, 102, 0);

    &:before {
    	content: '';
    	z-index: -1;
    	position: absolute;
    	display: block;
    	width: 100%;
    	height: 80px;
    }

    p {
    	color: #FFF;
    	line-height: 22px;
    }
}

	.footer_grupo_int {
		z-index: 1;
		max-width: 990px;
		margin: 0 auto;
	    border: 1px solid #006600;
	}

.foot_container {
    width: 100%;
    clear: both;
    height: 10px;
}

.footernav {
    position: relative;
    left: 116px;
    max-width: 753px;
    margin: 7px auto;

    a,
    & > span {
    	float: left;
	    border-right: 1px solid #004600;
	    box-shadow: 1px 0 0 #018901;
	    color: #FFFFFF;
	    font-family: "Roboto Condensed", "Roboto";
	    font-size: 13px;
	    padding: 3px 14px;
	    box-shadow: none;
    }

    & > span {
    	&:hover {
    		cursor: pointer;
    		text-decoration: underline;
    	}
    }
}

.footer_left {
    float: left;
    font-size: 11px;
    padding: 2px 0 0 0;
    text-align: center;

    img {
	    background-color: #FFFFFF;
	    border-radius: 3px 3px 3px 3px;
	    margin: 18px 6px 4px 0;
	    padding: 2px;
    }

    & > span:hover {
    	cursor: pointer;
    }
}

.footer_center {
    font-size: 12px;
    padding: 11px 8px 0;
    text-align: center;

    a {
	    color: #fff;
	    padding: 0 2px;
    }

    p span:hover {
    	cursor: pointer;
    	text-decoration: underline;
    }
}

#footer_grupo_int {
    margin: 0 auto;
    text-align: center;
    width: 998px;
}
