/*marquesina*/

.marque {
    border-bottom: 1px solid #cccccc;
    clear: both;
    color: #000000;
    height: 22px;
    text-align: center;
    width: 100%;
    background: #f6f8f9;
    background: -moz-linear-gradient(top, #f6f8f9 0%, #eceaf1 78%, #eceaf1 100%);
    /* Old browsers */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f8f9), color-stop(78%, #eceaf1), color-stop(100%, #eceaf1));
    /* FF3.6+ */

    background: -webkit-linear-gradient(top, #f6f8f9 0%, #eceaf1 78%, #eceaf1 100%);
    /* Chrome,Safari4+ */

    background: -o-linear-gradient(top, #f6f8f9 0%, #eceaf1 78%, #eceaf1 100%);
    /* Chrome10+,Safari5.1+ */

    background: -ms-linear-gradient(top, #f6f8f9 0%, #eceaf1 78%, #eceaf1 100%);
    /* Opera 11.10+ */

    background: linear-gradient(to bottom, #f6f8f9 0%, #eceaf1 78%, #eceaf1 100%);
    /* IE10+ */
}

.marque span {
    padding: 2px 4px;
    background-color: #030;
    color: #FFF;
    margin: 0 2px;
}

.marque a {
    font-size: 12px;
    padding: 2px 5px;
    margin-top: 5px;
    color: #2f5e2f;
    float: left;
    border-right: none !important;
    font-weight: bold;
    float: none !important;
}

ul.marquee {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 22px;
}

ul.marquee li {
    position: absolute;
    top: -999em;
    left: 0;
    display: block;
    white-space: nowrap;
    font: 12px Arial, Helvetica, sans-serif;
    padding: 1px 5px;
}

.linkdo {
    background-image: url(../../../images/mlogodo.gif);
    background-repeat: no-repeat;
    background-position: center center;
    width: 60px;
    height: 19px;
    float: right;
    cursor: pointer;
}

.tickercontainer {
    width: 990px;
    height: 20px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.tickercontainer .mask {
    float: left;
    height: 19px;
    overflow: hidden;
    position: relative;
    width: 926px;
    padding: 2px;
}

ul.newsticker {
    position: relative;
    left: 990px;
    font: bold 11px Verdana;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.newsticker li {
    float: left;
    margin: 0;
    padding: 0;
}

ul.newsticker a {
    white-space: nowrap;
    padding: 0;
    font-size: 12px !important;
    margin: 0 50px 0 0;
    color: #167010 !important;
    font-weight: bold !important;
}

ul.newsticker span {
    margin: 0 10px 0 0;
}
/* fin maquesina */