/* Migas */

.migas {
    color: #333333;
    font-size: 12px;
    padding: 6px 6px 13px;
}

.migas a {
    color: #060;
}

.migas a:hover {
    color: #060;
    text-decoration: underline;
}

.migas {
	list-style: none;

	li {
		display: inline-block;

		&:last-child a {
			font-weight: 700;
		}
	}

	li + li {
		&:before {
			content: ">>";
		    color: rgb(128, 128, 128);
	        font-size: 9px;
		}
	}
}