/* PAGINACION */

.pagina_resul {
    padding: 2px 15px;
    margin-top: 5px;
    float: left;
    text-align: left;
    font-size: 12px;
}

.pagination {
    font-size: 12px;
    margin-top: 5px;
    padding: 4px 14px;
    text-align: right;

    ul {
	    margin: 0;
	    padding: 0 !important;
	    text-align: right !important;
    }

    li {
	    list-style-type: none;
	    display: inline;
	    padding: 0px;
	    margin-left: 2px;
	}

	a {
	    display: inline-block;
	    min-width: 1.2em;
	    line-height: 2em;
	    padding: 0 5px;
	    border: 1px solid #82bd95;
	    text-decoration: none;
	    color: #2f5d2f;
	    cursor: pointer;
	    vertical-align: top;
	    text-align: center;

	    &:visited {
		    display: inline-block;
		    min-width: 1.2em;
		    line-height: 2em;
		    padding: 0 5px;
		    border: 1px solid #82bd95;
		    text-decoration: none;
		    color: #2f5d2f;
		    cursor: pointer;
		    vertical-align: top;
		    text-align: center;
	    }

	    &:hover,
	    &:active {
		    border: 1px solid #82bd95;
		    color: #fff;
		    background-color: #2f5d2f;
	    }

	    &.currentpage {
		    background-color: #2f5d2f;
		    color: #FFF !important;
		    border-color: #2b66a5;
		    font-weight: bold;
		    cursor: default;
	    }

	    &.disablelink {
		    background-color: #FFF;
		    cursor: default;
		    color: #929292;
		    border-color: #929292;
		    font-weight: normal !important;

		    &:hover {
			    background-color: #FFF;
			    cursor: default;
			    color: #929292;
			    border-color: #929292;
			    font-weight: normal !important;
		    }
		}
	}
}

.pagination_news a.prevnext {
    font-weight: bold;
}