// Paises:
.idiomdropped {
    position: absolute;
    top: 32px;
    right: 1px;
    z-index: 999999;
    display: none; // Status inicial
    width: 187px;
    margin: 4px 0 0;
    padding: 10px 10px 10px;
    font-family: "Roboto Condensed", "Roboto" !important;
    text-align: left;
    background: none repeat scroll 0 0 #F6F5FA;
    border: 2px solid #B9C2AD;
    border-radius: 6px;

    p {
    	padding: 0 !important;
    }
}

#idiomas {
    font-size: 14px;

    span[class^="ico-"] {
        float: left;
        margin-right: 10px;
        margin-top: 4px;
    }

    .ico-america {
        margin-top: 3px!important;
    }

    & > span {
    	display: block;

    	&:hover {
    		cursor: pointer;
    		text-decoration: underline;

    		span {
				position: relative;
			    top: -1px;
			    background-size: 20px 20px;
			    background-position: 0px;
			}
    	}

	    span {
		    float: left;
		    display: inline-block;
		    width: 30px;
		    height: 16px;
		    padding: 0!important;
		    background-position: 2px 3px;
		    background-color: transparent;
	    }
    }


    .idiom_latam {
    	background-size: 18px 89%;
    }
}

.idiom_en,
.idiom_br,
.idiom_es,
.idiom_latam,
.idiom_mx,
.idiom_cl,
.idiom_pe,
.idiom_co {
    margin-right: 4px;
    padding: 2px 32px 3px 5px;
    font-weight: bold;
    color: #FFFFFF!important;
    background-image: url("/images/ico_es.gif");
    background-color: #003300;
    background-position: 29px 6px;
    background-repeat: no-repeat;
}

.idiom_en {
    padding: 2px 30px 2px 5px;
    background-image: url("/images/ico_en.gif");
}

.idiom_br {
    padding: 2px 30px 2px 5px;
    background-image: url("/images/ico_br.gif");
}

.idiom_mx {
    padding: 2px 30px 2px 5px;
    background-image: url("/images/ico_mx.gif");
}

.idiom_latam {
    padding: 2px 17px 3px 5px;
    background-image: url("/images/ico_latam.gif");
    background-position: 47px 2px;
}

.idiom_cl {
    padding: 2px 31px 3px 5px;
    background-image: url("/images/ico_cl.gif");
}

.idiom_pe {
    padding: 2px 31px 3px 5px;
    background-image: url("/images/ico_pe.gif");
}

.idiom_co {
    padding: 2px 31px 3px 5px;
    background-image: url("/images/ico_co.gif");
}

// Fin Paises