.selec_casas {
    background-color: #EDEDED;
    border-radius: 5px 5px 5px 5px;
    color: #565656;
    font-size: 12px;
    margin: 0 auto 15px;
    padding: 5px;
    width: 780px;
    overflow: hidden;

    li {
	    float: left;
	    list-style-type: none;
	    margin-bottom: 4px;
	    margin-left: 10px;
	    margin-top: 5px;
	    width: 21%;

	    input {
		    float: left;
		    margin: 0 10px 0 0;
	    }
    }
}

.selec_compara {
    clear: both;
    border-collapse: collapse;
    height: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;

	ul {
	    margin: 0;
	    padding: 0;
	}

	li {
	    background-image: url("/images/ico_sec.gif");
	    background-position: left 4px;
	    background-repeat: no-repeat;
	    float: left;
	    list-style-type: none;
	    margin-right: 10px;
	    width: 217px;
	}
}

.selec_juegos {
    clear: both;
    border-collapse: collapse;
    height: 100%;
    overflow: hidden;
    padding: 5px 15px;
    margin: 10px;
    border: 1px solid #ccc;

    li {
	    list-style-type: none;
	    background-repeat: no-repeat;
	    width: 21%;
	    float: left;
	    margin-right: 10px;
	    background-image: url("/images/ico_sec.gif");
	    background-position: left 4px;
    }
}

.selec_liga {
    clear: both;
    border-collapse: collapse;
    height: 100%;
    padding: 5px 0;
    margin-bottom: 10px;

    li {
	    list-style-type: none;
	    background-repeat: no-repeat;
	    width: 21%;
	    float: left;
	    background-image: url(/images/ico5.png);
	    margin-right: 5px;
	    background-position: left top;
    }
}