// Slogan:
.cablema {
    position: absolute;
    text-align: left;
    top: 105px;
    left: 65px;
    width: 200px;

    h2 {
	    /*color: #3F3F3F;*/
        color: $color-verde-lima;
	    font-size: 15px;
	    font-weight: 400;
	    line-height: 13px;
	    padding: 0 5px 0 0px;
    }
}