// Subpestanias (aparecen en iAPuestas >> usuario >> Mi Picks & Tips | Tipster League:

.subpestanas {
    position: relative;
    margin: -2em 0 2em 0;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

ul.subpestanas li {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    font: 16px/1 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

ul.subpestanas li.current a {
    border-bottom: 2px solid #699e66;
    color: #106007;
}

ul.subpestanas li a {
    display: block;
    padding: 15px 30px;
    font-family: 'Roboto';
    font-size: 15px;
    color: #666;
    font-weight: bold;
}

ul.subpestanas .current a {
    color: #106007;
    text-decoration: none !important;
}