.list-sports-header {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    color: white;
    cursor: pointer;
    background-color: #036803;
    border-bottom: 1px solid green;

    &:before {
    	content: "";
    	float: left;
    	display: inline-block;
    	width: 28px;
    	height: 28px;
    	background-size: 10px 7px;
    	background-position: center;
    	background-repeat: no-repeat;
    	transform: rotate(180deg);
    	background-image: url(/images/ico-up-user.png);
    	transition: all 0.8s ease-in-out 0s;
    }

    span {
    	float: left;
    	position: relative;
    	top: 2px;
	    width: 75%;
	    display: inline-block;
	    padding-top: 7px;

	    &:hover {
	    	text-decoration: underline;
	    }
    }

    a {
    	float: left;
	    position: relative;
	    top: 2px;
	    display: inline-block;
	    width: 100%;
	    max-width: 148px;
	    height: 100%;
	    overflow: hidden;
	    line-height: 26px;
	    background-position: 0 -73px;
	    padding: 0;
	    color: white!important;

	    &:hover {
    		text-decoration: underline;
    	}
    }
}

.list-sports-wrapper {
    padding-top: 3px;
}

.list-sports-wrapper > .list-sports-header:last-of-type {
    background-color: #1E4E1E!important;
}

.list-sports-header.list-sports-empty:before {
    display: none;
}

.list-sports-long {

	&:before {
    	top: -10px;
	}

	a {
	    position: relative;
	    top: -8px!important;
	}
}

.list-sports-empty a.list-sports-empty {
    margin-left: 0px;
}

.list-sports-header a.list-sports-empty {
    background-position: 165px -73px;
    color: white;
    padding-left: 21%!important;
    padding-top: 0;
    width: 85%;
    color: white;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .list-sports-header a.list-sports-empty {
        background-position: 157px -73px;
        color: white;
        padding-left: 15%!important;
        padding-top: 0;
        width: 85%;
        color: white;
    }
}

.list-sports-header a.list-sports-empty:hover {
    text-decoration: underline;
    color: white!important;
}

.list-sports-header.list-sports-open:before,
.list-sports-more.list-sports-open:before {
    transform: rotate(0deg);
}

.list-sports-dropdown {
    display: none;
    padding: 0!important;

    &:before {
	    position: relative;
	    left: 45%;
	    display: inline-block;
	    width: 10px;
	    height: 10px;
	    content: '';
	    width: 0;
	    height: 0;
	    content: '';
	    z-index: 2;
	    border-top: 0.5em solid #1E4E1E;
	    border-left: 0.5em solid transparent;
	    border-right: 0.5em solid transparent;
	}

	li {
	    padding: 0;

	    & > a {
	    	border-bottom: 1px solid #CEDABB;
	    }
	}

	.list-sports-header {

		&:before {
			display: none;
		}

		a {
			width: 100%;
		    padding-top: 0px;
    		padding-right: 0px;
    		padding-bottom: 0px;
    		padding-left: 28px;
    		//border-color: rgb(0, 128, 0)!important;
		}
	}

	.list-sports-more {
	    height: 28px;
	    padding-left: 5px;
	    padding-top: 7px;
	    box-sizing: border-box;
	    color: #060;
	    border-bottom: 1px solid black;
	}
}

.list-sports-more {
    cursor: pointer;

    &:before {
	    position: relative;
	    left: 8px;
	    display: inline-block;
	    width: 10px;
	    height: 8px;
	    content: "";
	    background: transparent url("/images/ico-down-user.png") no-repeat scroll 0px 0px;
	    margin-right: 12px;
    }

    &:hover {
    	text-decoration: underline;
    }

    li {
	    cursor: pointer;
	    background-color: #036803!important;
	    border-bottom: 1px solid green;
    }
}

.list-sports-dropdown li a {
    display: block;
    padding: 5px 10px 5px;
    color: #060;
    white-space: nowrap;
}

.list-sports-dropdown li:not(.list-sports-more)>a:before {
    content: "";
    width: 29px;
    height: 16px;
    display: inline-block;
    background-image: linear-gradient(to left, #F2F2F2, transparent);
    float: right;
    position: relative;
    left: 10px;
}

.box_lat .verMas {
    margin-left: 10px;
}

.more-sports-header {
    margin-top: 10px;

    a:before {
    	background: none !important;
    }
}

.last-visited-header {
    font-size: 20px !important;
}
