
.list-sports-wrapper {
    width: 150px;
}

.menuDeportesTitular a:hover {
	color: #FFF;
	text-decoration: underline;
}

.menuListaDeportes {
	width: 100%;

	.fa {
		color: $color-verde-lima;
	}

	.activeChev {
		transform: rotate(90deg);
	}

	ul {
		padding: 0;
		display: none;
	}

	.open {
		display: block;
	}

	.block-buscador__check {
		@include user-select(none);
	}

	.block-buscador__check.fixed-width {
		width: 100px;
		float: left;
	}

	.menuDeportes {
		width: 100%;
		font-weight: 600;
		background: $color-main;

		span[class^='ico-'] {
			margin-left: 4px;
		}

		> li {
			color: #FFF;
			padding: 0;
			border-top: 1px solid darken($color-main, 2%);
			background: $color-main;

			.fa {
				padding: 10px;
				margin: 0;
				cursor: pointer;
				@include user-select(none);
			}

			a {
				color: #FFF;
			}
		}

		li.destacados {
			border-top: 1px solid darken($color-gris, 15%);
			font-weight: normal;
			padding: 0;
			display: inline-flex;
    		width: 100%;
   			align-items: center;

			a {
				color: $color-main;
				margin-left: 5px;
				padding: 5px 0;
				position: relative;
				top: 1px;
			}

			&:nth-of-type(odd) {
				background: darken($color-gris, 5%);
			}

			&:nth-of-type(even) {
				background: $color-gris;
			}
		}

		.menuPaises {
			background: lighten($color-main, 5%);
			font-weight: 300;

			> li {
				color: #FFF;
				padding: 0;
				border-top: 1px solid $color-main;
				background: $color-verde-claro;
			}

			.fa {
				margin-left: 15px;
			}

			.menuCompeticiones {
				background: $color-gris;

				li {
					padding: 5px 0;
					border-bottom: 1px solid darken($color-gris, 15%);

					a {
						color: $color-main;
						font-size: 11px;
						margin-left: 45px;

						&:before {
							font-size: 12px;
							font-weight: 900;
						}
					}

					&:nth-of-type(odd) {
						background: darken($color-gris, 5%);
					}
				}
			}	
		}

		.menuMasDeportes {
			background: $color-gris;

			li {
				padding: 5px 0;
				border-bottom: 1px solid darken($color-gris, 15%);

				a {
					color: $color-main;
					margin-left: 10px;
				}

				&:nth-of-type(odd) {
					background: darken($color-gris, 5%);
				}
			}
		}
	}
}