// Cajas contendoras del sidebar:
.box_lat {
    width: 180px;
    font-size: 12px;
    box-shadow: 0px 3px 10px #CCC;
    text-align: left;

    & + .box_lat {
    	margin-top: 10px;
    }

    .sponsor {
	    display: block;
	    width: 100%;
	    height: 42px;
	    text-align: center;

		img {
		    padding-top: 9px;
		}
	}

    h4 {
	    border-bottom: 3px solid $color-verde-oscuro;
	    font-family: "Roboto Condensed", "Roboto";
	    letter-spacing: -1px;
	    line-height: 30px;
	    text-align: left;
	    font-weight: normal;
	    padding-left: 9px !important;
	    color: white;
	    background-color: $color-main;

	    span {
		    font-size: 25px;
		    display: block;
		    clear: both;
	    }

	    a {
		    color: white;
		    text-decoration: none;
	    }

	    .fa {
	    	font-size: 14px;
	    	margin-right: 5px;
	    	color: $color-verde-lima;
	    	cursor: pointer;

	    	&.activeChev {
	    		transform: rotate(90deg);
	    	}
	    }
    }

	a:hover {
	    text-decoration: none;
	}

	ul {
    	overflow: hidden;
	}

		li {
		    list-style: none;
		    padding: 5px;
		    background: $color-gris;

		    &:nth-child(even) {
				background: darken($color-gris, 5%);
			}

		    a {
			    text-decoration: none;
			    text-align: left;
			    font-size: 12px;
			    color: #006600;

			    &:hover {
			    	color: #006600;
    				text-decoration: underline;
			    }
			}
		}

	img {
    	padding: 0;
	}
}

.casasApuestas {
	padding: 0 !important;
	display: none;

	i {
		@include user-select(none);
	}

	li {
		padding: 2px 0;
		height: 20px;
		background: $color-gris;

		&:nth-child(even) {
			background: darken($color-gris, 5%);
		}

		.infoBtn {
			margin-left: 5px;
			font-size: 16px;

			&:hover {
				text-decoration: none;
				color: $color-verde-lima;
			}
		}

		span {
			margin: 4px 5px 0 5px;
			display: block;
			float: right;
			text-align: right;
			font-size: 10px;
		}

		a {
			font-weight: bold;
		}
	}

	&.open {
		display: block;
	}
}

.moduloApuestasGratis {
	background: darken($color-gris, 5%);
	width: 178px;
	margin-bottom: 10px;
	box-shadow: 0px 3px 10px #CCC;
	border: 1px solid darken($color-gris, 10%);
	@include border-radius(0 0 3px 3px);

	h5 {
		padding: 3px 20px;
		font-size: 14px;

		a {
			font-family: "Roboto Condensed", "Roboto";
			letter-spacing: -1px;
			font-weight: normal;
			color: $color-verde-claro;
		}
	}
}

@import "menu-vertical";